<form class="layui-form" action="{:url()}" method="post" id="editForm">
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="red">*</i>销售单号</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-sales_order_sn" name="sales_order_sn" lay-verify="required" autocomplete="off" value="{:isset($sales_order_sn)?$sales_order_sn:''}">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="red">*</i>客户</label>
        <div class="layui-input-inline w200">
            <select name="customer_id" class="field-customer_id" type="select" lay-verify="required" lay-filter="customer_id">
                <option value="">请选择</option>
                {foreach $customers as $key=>$value}
                <option value="{$value['customer_id']}">{$value['customer_name']}</option>
                {/foreach}
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="red">*</i>收款方式</label>
        <div class="layui-input-inline w200">
            <select name="receivable_code" class="field-receivable_code" type="select" lay-verify="required">
                <option value="">请选择</option>
                {foreach $receivable_code as $key=>$value}
                <option value="{$key}">{$value}</option>
                {/foreach}
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="red">*</i>客户联系人</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-customer_contacts" name="customer_contacts" lay-verify="required" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">客户手机</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-customer_phone" name="customer_phone" lay-verify="mobile" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">客户座机</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-customer_telephone" name="customer_telephone" lay-verify="telephone" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="red">*</i>客户地址</label>
        <div class="layui-input-inline w600">
            <textarea name="customer_address" placeholder="" class="layui-textarea field-customer_address" lay-verify="required"></textarea>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-inline w600">
            <textarea name="sales_order_info" placeholder="" class="layui-textarea field-sales_order_info"></textarea>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>销售商品 &nbsp;&nbsp;<a id="add_goods" href="javascript:;" class="layui-btn  layui-btn-normal layui-icon layui-icon-add-circle-fine">&nbsp;添加商品</a></legend>
    </fieldset>

    <table class="layui-hide" id="test" lay-filter="test"></table>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" class="field-sales_order_id" name="sales_order_id">
            <input type="hidden" class="field-admin_id" name="admin_id" value="{:ADMIN_ID}">
            <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit">提交</button>
            <a href="{:url('index')}" class="layui-btn layui-btn-primary ml10">取消</a>
        </div>
    </div>
</form>
<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="javascript:;" onclick="delCell({{ d.goods_id }})" class="layui-btn layui-btn-xs layui-btn-danger">删除</a>
</script>
{include file="system@block/layui" /}
<script src="/static/js/jquery.2.1.4.min.js?v=2.1.4"></script>
<script>
    layui.use(['func','form'], function() {
        var  $ = layui.jquery, layer = layui.layer, form = layui.form;
        // 编辑模式下表单自动赋值
        layui.func.assign({:json_encode($formData)});

        form.on('select(customer_id)', function(data){
            var customers = {:json_encode($customers)};
            var customer_id = data.value;
            console.log(data,customer_id);
            $.each(customers, function (index, item) {
                if(customer_id == item['customer_id']){
                    //地址和省市区加一起：province city county
                    $("[name='customer_contacts']").val(item['customer_contacts']);
                    $("[name='customer_address']").val(item['province']+item['city']+item['county']+item['customer_address']);
                    $("[name='customer_phone']").val(item['customer_phone']);
                    $("[name='customer_telephone']").val(item['customer_telephone']);
                    return false;
                }
            });
        });

    });
    var child_idx;
    var tableIns;
    var tableContent = new Array();
    tableContent = {:json_encode($goods)};
//    tableContent = [{goods_id: 2, goods_name: 2, goods_number: 1, goods_spec: "反渗透滤芯", goods_price: 0,goods_recommend_price:0,
//        category_name:'ddd',brand_name:'rer',goods_stock:1}]
    layui.use('table', function(){
        var table = layui.table,
            $ = layui.jquery, layer = layui.layer;
        //温馨提示：默认由前端自动合计当前行数据。从 layui 2.5.6 开始： 若接口直接返回了合计行数据，则优先读取接口合计行数据。
        //详见：https://www.layui.com/doc/modules/table.html#totalRow
        tableIns = table.render({
            elem: '#test'
//            ,toolbar: '#toolbarDemo'
            ,data : tableContent
            ,title: '采购商品'
            ,totalRow: true
            // 拿对象数组tableContent中的数据作为原始数据渲染数据表格
            ,data : tableContent
            ,cols: [[
//                {type: 'checkbox', fixed: 'left'}
//                ,{field:'id', title:'ID', width:80, fixed: 'left', unresize: true}
                {field:'goods_number', title:'商品编号', edit: 'text', templet: function(res){
                    if(!res.goods_id){
                        return '采购金额合计:<span id="order-amount">'+res.p_goods_amount+'</span>';
                    }else{
                        var tmp_html = ' <input type="hidden" name="goodsId[]" value="'+res.goods_id+'">'
                            +res.goods_number
                            +' <input type="hidden" name="pGoodsId[]" value="'+(res.sales_goods_id?res.sales_goods_id:"")+'">';
                        return tmp_html;
                    }
                }}//,totalRowText: '采购金额合计:'
                ,{field:'goods_name', title:'商品名称', edit: 'text'}
                ,{field:'goods_spec', title:'商品规格'}
                ,{field:'goods_unit', title:'单位', edit: 'text'}
                ,{field:'p_goods_price', title:'销售单价', sort: true, templet: function(res){

                    return '<input type="number" min="0" oninput="insertGoodsPrice('+res.goods_id+');" id="goods_price_'+res.goods_id+'" name="goodsPrice[]" class="layui-input" value="'+res.sales_goods_price+'">'
                }}
                ,{field:'p_goods_buy_num', title:'销售数量',sort: true,templet: function(res){
                    return '<input type="number" min="1" oninput="insertGoodsPrice('+res.goods_id+');" id="goods_buy_num_'+res.goods_id+'" name="goodsBuyNum[]" class="layui-input" value="'+res.sales_goods_sell_num+'">';
                }}
                ,{field:'p_goods_tax', title:'税金',sort: true,templet: function(res){
                    return '<input type="number" min="0" oninput="insertGoodsPrice('+res.goods_id+');" id="goods_tax_'+res.goods_id+'" name="goodsTax[]" class="layui-input" value="'+res.sales_goods_tax+'">';
                }}
                ,{field:'sales_goods_amount', title:'销售总价',sort: true,width:200,templet: function(res){
                    if(!res.goods_id){
                        return '销售金额合计:<span id="order-amount">'+res.sales_goods_amount+'</span>';
                    }else{
                        return '<input type="number" oninput="sumAmount();" id="goods_amount_'+res.goods_id+'" name="goodsAmount[]" class="layui-input" value="'+res.sales_goods_amount+'">';
                    }
                },totalRow: true}
                ,{fixed: 'right', title:'操作', toolbar: '#buttonTpl', width:150}
            ]]
            ,page: false
            ,done : function(res, curr, count){
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                console.log(res);
                //得到当前页码
                console.log(curr);
                //得到数据总量
                console.log(count);
            }
        });



        $('#add_goods').click(function (e) {


            child_idx = layer.open({
                type: 2 //此处以iframe举例
                ,title: '选择商品'
                ,area: [$(window).width()-390+'px', $(window).height()-200+'px']
                ,shade: 0
                ,maxmin: true
                ,offset: [ //为了演示，随机坐标
                    '100px'
                ]
                ,content: "{:url('selectGoods')}?hisi_iframe=yes"
                ,btn: ['选择商品添加', '关闭'] //只是为了演示
                ,yes: function(){
                    //父页面给子弹窗页面赋值
//                    $("#layui-layer-iframe" + child_idx).contents().find("input").val("11111111");
                    //父页面调用子弹窗的 js方法
                    var contentWindow = $("#layui-layer-iframe" + child_idx)[0].contentWindow;
                    contentWindow.addAllGoods();
                    layer.closeAll();
                }
                ,btn2: function(){
                    layer.closeAll();
                }

                ,zIndex: layer.zIndex //重点1
                ,success: function(layero){
                    layer.setTop(layero); //重点2
                    console.log('success',layero);
                }
            });
        });


    });

    function insertGoodsPrice(id) {
        var goodsPrice  = $('#goods_price_'+id).val();
        goodsPrice  = goodsPrice == '' ? 0 : parseFloat(goodsPrice);
        var goodsTax    = $('#goods_tax_'+id).val();
        goodsTax    = goodsTax == '' ? 0 : parseFloat(goodsTax);
        var goodsNum    = $('#goods_buy_num_'+id).val();
        goodsNum    = goodsNum == '' ? 1 : parseInt(goodsNum);

        var goodsAmount = goodsPrice * goodsNum + goodsTax;
//        $('#goods_amount_'+id).val(erpNumber(goodsAmount, 2));
        $('#goods_amount_'+id).val(goodsAmount.toFixed(2));

        sumAmount();
    }

    function sumAmount() {
        var orderAmount = 0;
        $("input[name='goodsAmount[]']").each(function () {
            orderAmount = orderAmount + parseFloat($(this).val());
        });
//        $('#order-amount').html(erpNumber(orderAmount, 2));
        $('#order-amount').html(orderAmount.toFixed(2));
    }
    /**
     * 数字输出
     * @param number
     * @param decimals
     * @param dec_point
     * @param thousands_sep
     * @returns {jQuery|The|string}
     */
    function erpNumber(number, decimals, dec_point, thousands_sep) {
        return $.number(number, decimals, '.', '');
    }
    
    function delCell(id) {
        //tableContent 需要重新获取再删除
        var del_id;
        $.each(tableContent, function (index, item) {
            if(item.goods_id == id){

                del_id = index;
                return false;
            }else{
                item['p_goods_price'] = $('#goods_price_'+item['goods_id']).val();
                item['p_goods_buy_num'] = $('#goods_buy_num_'+item['goods_id']).val();
                item['p_goods_tax'] = $('#goods_tax_'+item['goods_id']).val();
                item['p_goods_amount'] = $('#goods_amount_'+item['goods_id']).val();
                tableContent[index] = item;
            }
        })
        tableContent.splice(del_id,1);
        tableIns.reload({data:tableContent})
    }
</script>