
<div class="page-toolbar">
    <div class="layui-btn-group fl">
        <a href="{:url('addGoodsCategory')}" class="layui-btn layui-btn-primary layui-icon layui-icon-add-circle-fine j-iframe-pop" title="添加分类" width="460" height="270">&nbsp;添加</a>
        <!--<a data-href="{:url('status?val=1')}" class="layui-btn layui-btn-primary j-page-btns layui-icon layui-icon-play" data-table="dataTable">&nbsp;启用</a>-->
        <!--<a data-href="{:url('status?val=0')}" class="layui-btn layui-btn-primary j-page-btns layui-icon layui-icon-pause" data-table="dataTable">&nbsp;禁用</a>-->
        <a data-href="{:url('delGoodsCategory   ')}" class="layui-btn layui-btn-primary j-page-btns confirm layui-icon layui-icon-close red">&nbsp;删除</a>
    </div>
</div>
<form id="pageListForm">
<div class="layui-form">
    <table class="layui-table mt10" lay-even="" lay-skin="row">
        <colgroup>
            <col width="50">
        </colgroup>
        <thead>
            <tr>
                <th><input type="checkbox" lay-skin="primary" lay-filter="allChoose"></th>
                <th>分类名称</th>
                <th>分类编码</th>
                <th>操作</th>
            </tr> 
        </thead>
        <tbody>
        {php}
            function temp_tree($data, $level = 0) {
                $separ = '';
                if ($level > 0) {
                    for ($i=0; $i < $level; $i++) {
                        $separ .= '&nbsp;&nbsp;&nbsp;&nbsp;';
                    }
                    $separ .= '┣&nbsp;';
                }
                foreach($data as $k => $vo) {
        {/php}
                    <tr>
                        <td><input type="checkbox" name="id[]" class="layui-checkbox checkbox-ids" value="{$vo['goods_category_id']}" lay-skin="primary"></td>
                        <td>
                            <!--<a href="{:url('index/index')}?cid={$vo['goods_category_id']}">-->
                                {$separ|raw}{$vo['goods_category_name']}
                            <!--</a>-->
                        </td>
                        <td>
                            {$vo['goods_category_code']}
                        </td>
                        <td>
                            <a href="{:url('editGoodsCategory?goods_category_id='.$vo['goods_category_id'])}" class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop" title="修改分类" width="460" height="270">修改</a>
                            <a href="{:url('delGoodsCategory?id='.$vo['goods_category_id'])}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
                        </td>
                    </tr>
        {php}
                    if (isset($vo['childs'])) {
                        echo temp_tree($vo['childs'], $level + 1);
                    }
                }
            }
            echo temp_tree($data_list);
        {/php}
        </tbody>
    </table>
</div>
</form>
{include file="system@block/layui" /}