<div class="page-toolbar">
    <div class="page-filter fr">
        <form class="layui-form layui-form-pane" action="{:url('goods')}" method="get" id="hisi-table-search">
            <div class="layui-form-item">
                <label class="layui-form-label">搜索</label>
                <div class="layui-input-inline">
                    <input type="text" name="keyword" lay-verify="required" placeholder="输入关键词搜索" class="layui-input">
                </div>
            </div>
        </form>
    </div>
    <div class="layui-btn-group fl">
        <a href="{:url('addWarehouse')}" class="layui-btn layui-btn-primary layui-icon layui-icon-add-circle-fine j-iframe-pop">&nbsp;添加</a>
    </div>
</div>
<table id="dataTable"></table>
{include file="block/layui" /}
<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="{:url('editWarehouse')}?warehouse_id={{ d.warehouse_id }}" class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop">修改</a>
    <a href="{:url('delWarehouse')}?id={{ d.warehouse_id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
</script>
<script type="text/javascript">
    layui.use(['table'], function() {
        var table = layui.table;
        table.render({
            elem: '#dataTable'
            ,url: "{:url('warehouses')}" //数据接口
            ,page: true //开启分页
            ,skin: 'row'
            ,even: true
            ,limit: 20
            ,text: {
                none : '暂无相关数据'
            }
            ,cols: [[ //表头
//                {type:'checkbox'}
                {field: 'warehouse_id', title: 'ID'}
                ,{field: 'warehouse_name', title: '仓库名称'}
                ,{field: 'warehouse_code', title: '仓库编号'}
//                ,{field: 'warehouse_spec', title: '仓位数'}
                ,{field: 'warehouse_contacts', title: '仓库管理员'}
                ,{field: 'warehouse_phone', title: '联系电话'}
                ,{title: '操作', width: 160, templet: '#buttonTpl'}
            ]]
        });
    });
</script>