<?php defined("IN_SYSTEM") or die("Access Denied");//防止模板被盗?>
<div class="layui-card">
<div class="layui-tab layui-tab-brief">
<ul class="layui-tab-title">
    <li class="layui-this"><a href="{:plugins_url('payment/index/index')}">在线支付</a></li>
    <li><a href="{:plugins_url('payment/index/log')}">支付日志</a></li>
</ul>
</div>
</div>
<div class="layui-form">
    <table class="layui-table mt10" lay-even="" lay-skin="row">
        <colgroup>
            <col>
            <col width="100">
            <col width="120">
            <col width="120">
            <col width="200">
        </colgroup>
        <thead>
            <tr>
                <th>支付方式</th>
                <th>排序</th>
                <th>状态</th>
                <th>操作</th>
            </tr> 
        </thead>
        <tbody>
            {volist name="data_list" id="vo"}
            <tr>
                <td>
                    <div class="module-list-info">
                        <div class="txt">
                            <h3>{$vo['title']}</h3>
                            <p>{$vo['intro']}</p>
                        </div>
                    </div>
                </td>
                {if condition="$vo['install'] eq 1"}
                    <td><input type="text" class="layui-input j-ajax-input input-sort" onkeyup="value=value.replace(/[^\d]/g,'')" value="{$vo['sort']}" data-value="{$vo['sort']}" data-href="{:plugins_url('payment/index/sort', ['id' => $vo['id']])}"></td>
                    <td>
                       <input type="checkbox" name="status" {if condition="$vo['status'] eq 1"}checked=""{/if} value="{$vo['status']}" lay-skin="switch" lay-filter="switchStatus" lay-text="启用|停用" data-href="{:plugins_url('payment/index/status', ['id' => $vo['id']])}">
                    </td>
                    <td>
                        <div class="layui-btn-group">
                            <a href="{:plugins_url('payment/index/config', ['code' => $vo['code']])}" class="layui-btn layui-btn-primary layui-btn-small">配置</a>
                        </div>
                    </td>
                {else /}
                    <td>---</td>
                    <td>---</td>
                    <td>
                        <div class="layui-btn-group">
                            <a href="{:plugins_url('payment/index/config', ['code' => $vo['code']])}" class="layui-btn layui-btn-primary layui-btn-small">配置</a>
                        </div>
                    </td>
                {/if}
            </tr>
            {/volist}
        </tbody>
    </table>
</div>
{include file="system@block/layui" /}