{include file="/common/head" /}
{include file="/common/top" /}
{{--<div class="weui-cells__title"></div>--}}
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p style="color: #3cc51f;">站点名称</p>
        </div>
        <div class="" style="color: #3cc51f;">设备状态</div>
    </div>
    {foreach $list as $key=> $value}
    <a class="weui-cell weui-cell_access open-popup" data-target="#half" href="javascript:;" title="{{$value['site_name']}}"
       data-site_name="{{$value['site_name']}}"
       data-ip="{{$value['ip']}}"
       data-device_name="{{$value['device_name']}}"
       data-device_serial="{{$value['device_serial']}}"
       data-device_status="{{$value['device_status']==1?'在线':'不在线'}}"
       data-is_encrypt="{{$value['is_encrypt']==1?'加密':($value['is_encrypt']==-1?'--':'未加密')}}"
       data-address="{{$value['address']}}"
       data-id="{{$value['id']}}"
    >
        <div class="weui-cell__bd">
            <p>{{$value['site_name']}}</p>
        </div>
        <div class="weui-cell__ft">
            <span style="vertical-align:middle; font-size: 17px;">{{$value['device_status']==1?'在线':'不在线'}}</span>
            {{--<span class="weui-badge weui-badge_dot" style="margin-left: 5px;margin-right: 5px;"></span>--}}
        </div>
    </a>
    {/foreach}
</div>

<div id="half" class='weui-popup__container popup-bottom'>
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
        <div class="toolbar">
            <div class="toolbar-inner">
                <a href="javascript:;" class="picker-button close-popup">关闭</a>
                <h1 class="title">站点详情</h1>
            </div>
        </div>
        <div class="modal-content">
            {{--<div class="weui-cells__title">表单</div>--}}
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">站点名称</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="" id="site_name">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">设备ip</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="" id="ip">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">设备名称</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="" id="device_name">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label for="" class="weui-label">设备序列号</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="" id="device_serial">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label for="" class="weui-label">设备状态</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="" id="device_status">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">是否加密</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="" id="is_encrypt">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">安置地址</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="" id="address">
                    </div>
                </div>
            </div>
            <div class="weui-form-preview">
                <div class="weui-form-preview__ft">
                    {{--<a id="edit" class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">编辑</a>--}}
                    <a id="refresh" class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:" onclick="refresh(this);">状态刷新</a>
                    <a id="id" class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">设备播放</a>
                </div>
            </div>
            {{--<div class="weui-cells__tips">底部说明文字底部说明文字</div>--}}
        </div>
    </div>
</div>
{include file="/common/buttom" /}
{include file="/common/footer" /}
<script>
    $('.open-popup').click(function () {
        $('.tab-bottom').hide();
        $('#site_name').val($(this).attr('data-site_name'));
        $('#ip').val($(this).attr('data-ip'));
        $('#device_name').val($(this).attr('data-device_name'));
        $('#device_serial').val($(this).attr('data-device_serial'));
        $('#device_status').val($(this).attr('data-device_status'));
        $('#is_encrypt').val($(this).attr('data-is_encrypt'));
        $('#address').val($(this).attr('data-address'));
        $('#id').attr('href','/site/showVideo?id='+$(this).attr('data-id'));
//        $('#edit').attr('data-id',$(this).attr('data-id'));
        $('#refresh').attr('data-id',$(this).attr('data-id'));
    });
    $(document).on("open", ".weui-popup__container", function() {
        $('.tab-bottom').hide();
    }).on("close", ".weui-popup__container", function() {
        $('.tab-bottom').show();
    });
    function refresh(e) {
        $.showLoading();
        var id = $(e).attr('data-id');
        $.ajax({
            url:'/site/refresh?id='+id,
            data:{},
            dataType:'json',
            type:"get",
            success:function(data){
                $.hideLoading();
                if(data.status == 1){
                    $.toast(data.message);
                    setTimeout(window.location.reload(), 1000);
                }else{
                    $.toast(data.message,'text');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown){
                $.hideLoading();
                //异常错误
                $.toast(XMLHttpRequest.status,'text');
            }
        });
    }
</script>