{include file="/common/head" /}
{include file="/common/top" /}
<link href="/static/plugins/bootstrap/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
<link rel="stylesheet" href="/static/js/layui/css/layui.css?v=2.0.11">

<style>
    .FValue{ transform: scale(0.88); }
</style>

<div class="weui-cells" style=" margin-top:0; padding: 0 15px;">

    <!--<div class="page-hd">

        <span></span>
        <h1 class="page-hd-title">
            {$formData['contorl_name']}
        </h1>
    </div>-->
    <div style="padding: 10px 0px;">
        <div class="weui-flex__item" style="position:relative">
            <div id="content-point" class="boxList weui-flex__item" style="position:absolute;width: 100%;top: 0;left: 0;height: 100%;transform-origin:center center">
                <!-- ----------------------------------------------------  -->
                <div name="print" id="print0" class="one div3 z_index_box" style="display: none; position: absolute; margin: 0px; z-index: 2002; left: 0px; top: 0px;">

                    <span name="scree" id="scree0" style="position:absolute;top: 95px; left: 229px;width: 13px;height: 13px;border-radius: 100px;background-color: #0be386"></span>
                    <div name="lab" id="lab0" style="position:absolute;top: 73px; left: 115px;/*background-color: rgba(255,255,255,0.3);*/font-size: 2px;color: black;width:110px">
                        <label class="FValue" unit="unit">
                            <span name="title_s" id="title_s0">MBR反洗自动</span><br>
                        </label>
                    </div>
                    <div name="sj_lab" id="sj_lab0" style="position:absolute;top: 101px; left: 116px;{if $formData['is_back']==1}background-color: rgba(255,255,255,0.3);{/if}font-size: 2px;color: black;width:100px">
                        <label class="FValue" unit="unit">
                            <span>变量值占位</span>
                        </label>
                    </div>
                </div>

            </div>
            <img id="back_img" src="{$formData['back_img']}" class="img-max">
        </div>
        <div style="margin: 10px 0 0;">
            {foreach $write_var_list as $key=>$value}
            {if $value['gateway_name'] == '按钮'}
            <!--目前按钮的操作值都是1-->
            <a data-control_value="1" data-control_value="1" data-var_id="{$value['id']}" href="javascript:;" class="weui-btn weui-btn_primary" onclick="clickBtn(this)">
                <i class="weui-loading hide"></i>{$value['var_alias']}
            </a>
            {/if}
            {/foreach}
        </div>
    </div>
</div>

{include file="/common/footer" /}
<script src="/static/js/jquery.2.1.4.min.js?v=2.1.4"></script>
<script src="/static/js/layer/layer.js"></script>
<script src="/static/js/layui/layui.js?v=2.0.11"></script>
<script>
    function clickBtn(obj) {
        //<a href="javascript:;" class="weui-btn weui-btn_default weui-btn_loading"><i class="weui-loading"></i>灰色loading</a>
        if($(obj).hasClass('weui-btn_loading')){
            return false;
        }
        $(obj).addClass('weui-btn_loading');
        $(obj).find('.weui-loading').removeClass('hide');
        var data = { };
        data['var_id'] = $(obj).attr('data-var_id');
        data['control_value'] = $(obj).attr('data-control_value');
        data['id'] = {$formData['id']};
        $.ajax({
            url: "{:url('addControl')}",
            type: 'POST',
            data: data,
            dataType: 'json',
            async: false,
            beforeSend: function () {

            },
            success: function (result) {
                setTimeout(function () {
                    $(obj).removeClass('weui-btn_loading');
                    $(obj).find('.weui-loading').addClass('hide');
                },100)

                if (result.code != 1) {
                    layer.msg('错误：' + result.msg, {shift: 6});
                    return;
                }
                layer.msg('成功：' + result.msg, {shift: 6});
                setTimeout(function () {
                    getRealdata();
                },2000)

            },
            error: function (error) {
                console.info(error);
                layer.msg('系统错误：' + error.status, {shift: 6});
                $(this).removeClass('layui-btn-disabled');
            }
        });
    }


    var var_code_arr = {:json_encode($var_name_list)};
    var name_type = {:json_encode($name_type)};
    console.log('name_type',name_type,'-----------');
    function getRealdata() {
        $.ajax({
            url: "{:url('realdata_select')}",
            type: 'POST',
            data: {
//                    var_code: ['in',var_code_arr]
                var_name: var_code_arr,
                control_id: {$formData['id']},
            },
            dataType: 'json',
            beforeSend: function () {

            },
            success: function (result) {

                if (result.status != 1) {
                    //parent.layer.msg(  result.message, {shift: 6});
                    return false;
                }

                var res = result.result;

                $.each(res,function (index,value) {

                    var id = value['var_name'];
                    var unit = $('#sj_lab'.id).find('label').attr('unit');
                    $('#sj_lab'+id).find('span').html(value['value']+unit);//单位还没加

                    var dem = $('[name="print"][data-var_name="'+id+'"]');//$("."+value['var_code'].replace(/./g,'_'));

                    var dem_id = dem.attr("data-id");
                    var val_img = dem.attr("data-val_img");
                    var val_critical = dem.attr("data-val_critical");
                    var val_judge = dem.attr("data-val_judge");
                    var unit = dem.attr("data-unit");
                    var flo_num = dem.attr("data-flo_num");
                    var is_show = dem.attr("data-is_show");
                    var val_img_two = dem.attr("data-val_img_two");
                    var values = parseFloat(value['value']);
                    //console.log(dem);
                    //console.log(dem);
                    var color = val_img_two;
                    //bool型的直接设置成开和关的状态就好了
                    if(name_type[id] == 'Bool'){
                        if(values != 1){
                            color = val_img;
                            $("#sj_lab"+dem_id).find('span').text('关');
                        }else{
                            $("#sj_lab"+dem_id).find('span').text('开');
                        }
                    }else{
                        switch (val_judge){
                            case '>':

                                if(values > val_critical ){
                                    color = val_img;
                                }
                                break;
                            case '>=':
                                if(values >= val_critical){
                                    color = val_img;

                                }
                                break;
                            case '<':

                                if(values < val_critical){
                                    color = val_img;

                                }

                                break;
                            case '<=':
                                if(values <= val_critical ){
                                    color = val_img;
                                }
                                break;
                            case '=':
                                if(values = val_critical ){
                                    color = val_img;
                                }
                                break;
                            default :
                                if(val_critical > values){
                                    color = val_img;
                                }
                        }
                        var value_co = parseFloat(value['value']);
                        var value_co = value_co.toFixed(flo_num);
                        //console.info($("#var_value"+dem_id));
//                        $("#var_value"+dem_id).text(value_co +" "+ unit);
                        $("#sj_lab"+dem_id).find('span').text(value_co +" "+ unit);
                    }

                    var bg_co = [
                        '',
                        'rgba(65,200,11,0.8)',
                        'rgba(15,121,11,0.8)',
                        'rgba(248,236,16,0.8)',
                        'rgba(237,146,6,0.8)',
                        'rgba(237,4,23,0.8)'
                    ]

                    if(value['data_eq']!= 0){
                        $(".lb"+dem_id).css({'backgroundColor':bg_co[value['data_eq']],'color':'#ffffff'})
                    }else{
                        $(".lb"+dem_id).css({'backgroundColor':'rgba(255,255,255,'+ $(".lb"+dem_id).attr('data-c')+')','color':$(".lb"+dem_id).attr('data-color')})
                    }

                    if(value['data_eq']!= 0){
                        $(".sj_lb"+dem_id).css({'backgroundColor':bg_co[value['data_eq']],'color':'#ffffff'})
                    }else{
                        $(".sj_lb"+dem_id).css({'backgroundColor':'rgba(255,255,255,'+ $(".sj_lb"+dem_id).attr('data-c')+')','color':$(".sj_lb"+dem_id).attr('data-color')})
                    }



//                        console.log(values,val_judge,val_critical,'--------------dom_id-------------',color);
                    $("#scree"+dem_id).css("backgroundColor",color);



                })



            },
            error: function (error) {
                console.info(error);

                parent.layer.msg('系统错误：' + error.status, {shift: 6});
            }
        });
    }
    //zjh----------------------------------
    var data_list = {};
    layui.use(['form'], function () {
        var $ = layui.jquery;

        //zjh------------------------------start-add-node-------------------

        function getTop(obj) {
            var c_top = $(obj).offset().top;
            var p_top = $('#content-point').offset().top;
            var px_top = c_top - p_top;//top偏移值
            //偏移百分比
            var percent_top = px_top/($('#content-point').height())
            //按照值总的1000来算
            return percent_top*1000;
        }
        function getLeft(obj) {
            var c_left = $(obj).offset().left;
            var p_left = $('#content-point').offset().left;
            var px_left = c_left - p_left;//left偏移值
            //偏移百分比
            var percent_left = px_left/($('#content-point').width())
            return percent_left*1000;
        }
        //根据左偏移和上偏移设置点的位置，按总值1000来算,算出偏移百分比
        function setTopAndLeft(obj,left, top) {
            var percent_left = left/1000*100;
            var percent_top = top/1000*100;
            $(obj).offset({'left': percent_left+'%','top': percent_top+'%'});
        }



        function addNode(init_node_list) {

            function setTop(obj, top) {
                var p_width = $('#content-point').height();
                $(obj).css('top', top/1000*p_width+'px');//+$('#content-point').offset().top

            }
            function setLeft(obj, left) {;
                var p_height = $('#content-point').width();
                $(obj).css('left', left/1000*p_height+'px');//+$('#content-point').offset().left
            }
            function draw_node(node_data) {
                var node = $('.boxList').find('.div3:first').clone();
                console.log('node_data:',node_data);
                var id = node_data['id'];
                $(node).attr('id', 'print'+id);
                $(node).addClass(node_data['var_name']);
                $(node).attr('data-val_img', node_data['val_img'])
                    .attr('data-id', node_data['id'])
                    .attr('data-var_name', node_data['var_name'])
                    .attr('data-val_critical', node_data['val_critical'])
                    .attr('data-val_judge', node_data['val_judge'])
                    .attr('data-unit', node_data['unit'])
                    .attr('data-flo_num', node_data['flo_num'])
                    .attr('data-is_show', node_data['is_show'])
                    .attr('data-val_img_two', node_data['val_img_two']);
                $(node).width($('#content-point').width());
                node.find('[name="scree"]').attr('id', 'scree'+id).height(node_data.img_size/2).width(node_data.img_size/2);
                node.find('[name="lab"]').attr('id', 'lab'+id);
                node.find('[name="lab"] a').attr('data-id', id);
                node.find('[name="sj_lab"]').attr('id', 'sj_lab'+id);
                node.find('[name="sj_lab"]').find('label').attr('unit', node_data.unit);
                node.find('[name="title_s"]').attr('id', 'title_s'+id).html(node_data.title);
                $('.boxList').append(node);
                setTop('#scree'+id, node_data.y);
                setLeft('#scree'+id, node_data.x);
                setTop('#lab'+id, node_data.val_y);
                setLeft('#lab'+id, node_data.val_x);
                setTop('#sj_lab'+id, node_data.sj_val_y);
                setLeft('#sj_lab'+id, node_data.sj_val_x);
//                $('#title_s'+id).css('color', node_data.val_color).css('font-size', node_data.val_size+'px');
                $('#title_s'+id).css('color', node_data.val_color).css('font-size', '1px');
//                $('#sj_lab'+id).css('color', node_data.sj_val_color).css('font-size', node_data.sj_val_size+'px');
                $('#sj_lab'+id).css('color', node_data.sj_val_color).css('font-size', '1px');
//               //拖拽功能删除
                if(node_data['is_show'] == 1) {
                    node.show();
                }
            }
            if(init_node_list){
                console.log(init_node_list,'--- item ----');
                $.each(init_node_list, function (index, item) {
                    if(item){
                        draw_node(item);
                    }

                })
            }

        }
        {if isset($data_list)}
        //初始化渲染
        {foreach $data_list as $key=>$value}
        data_list[{$value['id']}] =  {:json_encode($value)};
        {/foreach}
        console.log('init----------',data_list);
        addNode(data_list);
        {/if}
        //------------------------------end-add-node-------------------


        //------------------------定时器获取数据-----------------------
        var timeoutId = window.setInterval(function () {

            getRealdata();

        },6000);
        getRealdata();
    })
</script>