<style>
    .line-padding{
        padding: 9px 4px;
        width: 200px;
    }
</style>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>商品名称：{$goods['goods_name']}</legend>
</fieldset>
<div class="layui-form-item">
    <label class="layui-form-label w100"></label>
    <div class="layui-input-inline line-padding" style="height: 500px;width: 800px" id="echart">

    </div>
</div>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>采购商品</legend>
</fieldset>
<table class="layui-hide" id="goods" lay-filter=""></table>
{include file="system@block/layui" /}
<script src="/static/js/jquery.2.1.4.min.js?v=2.1.4"></script>
<!-- 引入 ECharts 文件 -->
<script src="/static/plugins/echarts/echarts.min.js"></script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('echart'));
    option = {};
    myChart.setOption(option);

</script>
<script>
    var tableIns;
    var goods_content = {:json_encode($warehouse_goods)};
    console.log(goods_content);
    layui.use('table', function(){
        var table = layui.table,
            $ = layui.jquery, layer = layui.layer;
        tableIns = table.render({
            elem: '#goods'
//            ,url:"{:url('getProducts')}?p_order_id={$formData?$formData['p_order_id']:''}"
//            ,toolbar: '#toolbarDemo'
            ,title: '采购商品'
            ,totalRow: false
            // 拿对象数组tableContent中的数据作为原始数据渲染数据表格
            ,data : goods_content
            ,cols: [[
                {field:'warehouse_id', title:'所在仓库',templet:function(res){
                    return res.warehouse.warehouse_name;
                }}
                ,{field:'warehouse_goods_stock', title:'商品数量({$goods['unit']['unit_name']})'}
            ]]
            ,page: false
            ,done : function(res, curr, count){
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                console.log(res);
                //得到当前页码
                console.log(curr);
                //得到数据总量
                console.log(count);
            }
        });
    });


    var legendData = new Array();
    var selected = {};
    var seriesData = new Array();
    $.each(goods_content,function (index,item) {
        legendData.push(item['warehouse']['warehouse_name']);
        selected[item['warehouse']['warehouse_name']] = true;
        seriesData.push({'name':item['warehouse']['warehouse_name'],value:item['warehouse_goods_stock']});
    })
    option = {
        title: {
            text: '仓库商品分布',
//            subtext: '纯属虚构',
            left: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
        },
        legend: {
            type: 'scroll',
            orient: 'vertical',
            right: 10,
            top: 20,
            bottom: 20,
            data: legendData,

            selected: selected
        },
        series: [
            {
                name: '仓库名称',
                type: 'pie',
                radius: '55%',
                center: ['40%', '50%'],
                data: seriesData,
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    myChart.setOption(option);




</script>