<!--{:runhook('system_admin_index')}-->
<div style="padding: 2px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header"><b>站点列表</b></div>
                {foreach $site_list as $key => $value}
                <div class="layui-card-header">
                    <a class="admin-nav-item" data-id="" href="{:url("/site/device_monitor/index")}?site_id={$value['id']}" >{$key+1}、{$value['name']}</a>
                </div>
                {/foreach}

                <dl class="layui-nav-child">
                    {foreach $site_list as $key => $value}
                    <dd>
                        <a class="admin-nav-item" data-id="" href="" >{$value['name']}</a>
                    </dd>
                    {/foreach}
                </dl>
            </div>
        </div>
        <div class="layui-col-md9">
            <div class="layui-card">
                <div class="layui-card-header">站点分布</div>
                <div class="layui-card-body" style="padding: 4px 5px;">
                    <div class="content fixed" id="map" style="padding: 0px;">
                        <div id="map-canvas" style="height: 100%;width: 100%">
                            <!-- zb_x/zb_y value可为空 -->
                            <input type="hidden" id="zb_x" value="" />
                            <input type="hidden" id="zb_y" value="" />
                            <input type="hidden" id="company_name" value="优米耐(福建)智能科技有限公司" />
                            <input type="hidden" id="business_address" value="福建省 龙岩市 上杭县湖洋镇工业园区三角塘北路76-1号" />
                            <!--<div class="" id="showMap">-->
                            <div id="allmap" class="" style="min-height: 600px;"></div>
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{include file="block/layui" /}
<script src="/static/js/jquery.2.1.4.min.js?v=2.1.4"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=xvemI2xkfz9ccj1Tq1ulBlIt"></script>
<script src="http://map.qq.com/api/js?v=2.exp&key=JLVBZ-7HKWQ-L6J5L-GRSSY-BOMIO-ZEBN6&libraries=convertor"></script>
<script>
    $('#allmap').attr('style','height:'+(0.88*$(window).height())+'px');
    // 百度地图API功能
    var mp = new BMap.Map("allmap");//, {mapType:BMAP_HYBRID_MAP}

    var address_list = new Array();
    {if count($site_list)>0}
    {foreach $site_list as $key => $value}
    {if $value['longitude']}
        address_list.push([{$value['longitude']},{$value['latitude']},"{$value['name']}",{$value['id']},{$key}]);
    {/if}
    {/foreach}
    {/if}
    mp.centerAndZoom('福建省 龙岩市 上杭县湖洋镇工业园区三角塘北路76-1号', 15);
    mp.enableScrollWheelZoom();
    mp.addControl(new BMap.MapTypeControl({
        mapTypes:[
            BMAP_NORMAL_MAP,
            BMAP_HYBRID_MAP,
        ]}));
    // 编写自定义函数,创建标注
    function addMarker(point, item){
        var marker = new BMap.Marker(point);
        mp.addOverlay(marker);

        var label = new BMap.Label(item[4]+1, {
            offset : new BMap.Size(5, 4)
        });
        label.setStyle({
            background:'none',color:'#fff',border:'none'//只要对label样式进行设置就可达到在标注图标上显示数字的效果
        });
        marker.setLabel(label);//显示地理名称 a 
        mp.addOverlay(marker);
        var content = item[2];
        var id = item[3];
        var device_name = '';
        addClickHandler(id,device_name,content,marker);
    }
    // 随机向地图添加25个标注
    for (var i = 0; i < address_list.length; i ++) {
        var tmp = address_list[i];
        var point = new BMap.Point(tmp[0], tmp[1]);
        addMarker(point, tmp);
    }

    setTimeout(function () {
        $('.anchorBL').hide();
        $('.BMap_cpyCtrl').hide();
    }, 1000);
    function addClickHandler(id,device_name,content,marker){
        marker.addEventListener("click",function(e){
            openInfo(id,content,e)}
        );
        marker.addEventListener("mouseover",function(e){
            showMsg(device_name,content,e)
        });
    }
    function showMsg(device_name,content,e) {
        var opts = {
            width : 150,     // 信息窗口宽度
            height: 50,     // 信息窗口高度
            title : device_name , // 信息窗口标题
            enableMessage:true//设置允许信息窗发送短息
        };
        var p = e.target;
        var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
        var infoWindow = new BMap.InfoWindow(content,opts);  // 创建信息窗口对象
        mp.openInfoWindow(infoWindow,point); //开启信息窗口
    }
    function openInfo(id,content,e){
//        window.open('/site/showVideo?id='+id+'&type=hd_address');
        window.location.href = '{:url("/site/device_monitor/index")}?site_id='+id;
        //TODO 设置打开对应窗口功能
    }

</script>