<style>
    .line-padding{
        padding: 9px 4px;
        width: 200px;
    }
</style>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>应付账款详情</legend>
</fieldset>
<div class="layui-form-item">
    <label class="layui-form-label w100">入库单号:</label>
    <div class="layui-input-inline line-padding">
        {$purchase_warehouse_order['warehouse_order_sn']}
    </div>
    <label class="layui-form-label w100">仓库:</label>
    <div class="layui-input-inline line-padding">
        {$purchase_warehouse_order['warehouse']['warehouse_name']}
    </div>
    <label class="layui-form-label w100">状态:</label>
    <div class="layui-input-inline line-padding">
        {$purchase_warehouse_order['warehouse_order_state']==2?'待入库':'已入库'}
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label w100">入库备注:</label>
    <div class="layui-input-inline line-padding w400">
        {$purchase_warehouse_order['warehouse_order_info']}
    </div>
</div>
<hr>
<div class="layui-form-item">
    <label class="layui-form-label w100">采购单号:</label>
    <div class="layui-input-inline line-padding">
        {$purchase_order['p_order_sn']}
    </div>
    <label class="layui-form-label w100">供应商:</label>
    <div class="layui-input-inline line-padding">
        {$purchase_order['supplier']['supplier_name']}
    </div>
    <label class="layui-form-label w100">付款方式:</label>
    <div class="layui-input-inline line-padding">
        {$payment_type[$purchase_order['p_order_state']]}
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label w100">供应商联系人:</label>
    <div class="layui-input-inline line-padding">
        {$purchase_order['supplier_contacts']}
    </div>
    <label class="layui-form-label w100">供应商手机:</label>
    <div class="layui-input-inline line-padding">
        ¥{$purchase_order['supplier_phone']}
    </div>
    <label class="layui-form-label w100">供应商座机:</label>
    <div class="layui-input-inline line-padding">
        {$purchase_order['supplier_telephone']}
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label w100">备注:</label>
    <div class="layui-input-inline line-padding w400">
        {$purchase_order['p_order_info']}
    </div>
</div>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>采购商品</legend>
</fieldset>
<table class="layui-hide" id="goods" lay-filter=""></table>
<div class="layui-form-item fr">
    <label class="layui-form-label w100">已付金额合计:</label>
    <div class="layui-input-inline line-padding w100">
        ¥{:number_format($finance_payable['finish_amount'],2,",",".")}
    </div>
</div>
<br/>
<div class="layui-form-item">
    <label class="layui-form-label w100"></label>
    <div class="layui-input-inline line-padding">
    </div>
</div>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>付款记录</legend>
</fieldset>
<table class="layui-hide" id="logs" lay-filter=""></table>

<!--放大的显示图片-->
<img alt="" style="display:none" id="displayImg" src="" />
{include file="system@block/layui" /}
<script src="/static/js/jquery.2.1.4.min.js?v=2.1.4"></script>
<script>
    layui.use(['func','form'], function() {
        var  $ = layui.jquery, layer = layui.layer, form = layui.form;
        // 编辑模式下表单自动赋值
        layui.func.assign({:json_encode($formData)});

    });
    var child_idx;
    var tableIns;
    var goods_content = {:json_encode($purchase_order['goods'])};

    layui.use('table', function(){
        var table = layui.table,
            $ = layui.jquery, layer = layui.layer;
        tableIns = table.render({
            elem: '#goods'
//            ,url:"{:url('getProducts')}?p_order_id={$formData?$formData['p_order_id']:''}"
//            ,toolbar: '#toolbarDemo'
            ,title: '采购商品'
            ,totalRow: true
            // 拿对象数组tableContent中的数据作为原始数据渲染数据表格
            ,data : goods_content
            ,cols: [[
                {field:'goods_number', title:'商品编号', edit: 'text', templet: function(res){
                    if(!res.goods_id){
                        return '采购金额合计:<span id="order-amount">'+res.p_goods_amount+'</span>';
                    }else{
                        var tmp_html = ' <input type="hidden" name="goodsId[]" value="'+res.goods_id+'">'
                            +res.goods_number
                            +' <input type="hidden" name="pGoodsId[]" value="'+(res.p_goods_id?res.p_goods_id:"")+'">';
                        return tmp_html;
                    }
                }}//,totalRowText: '采购金额合计:'
                ,{field:'goods_name', title:'商品名称', edit: 'text'}
                ,{field:'goods_spec', title:'商品规格'}
                ,{field:'goods_unit', title:'单位', edit: 'text'}
                ,{field:'p_goods_price', title:'采购单价', sort: true}
                ,{field:'p_goods_buy_num', title:'采购数量', sort: true}
//                ,{field:'p_goods_tax', title:'税金', sort: true}
                ,{field:'p_goods_amount', title:'采购总价',width:200, sort: true,templet: function(res){
                    if(!res.goods_id){
                        return '采购金额合计:<span id="order-amount">'+res.p_goods_amount+'</span>';
                    }else{
                        return res.p_goods_amount;
                    }
                },totalRow: true}
            ]]
            ,page: false
            ,done : function(res, curr, count){
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                console.log(res);
                //得到当前页码
                console.log(curr);
                //得到数据总量
                console.log(count);
            }
        });
        var logTableContent = JSON.parse( '{:json_encode($finance_payable["logs"])}' );
        table.render({ //操作日志表
            elem: '#logs'
            ,title: '付款记录'
            ,totalRow: false
            // 拿对象数组tableContent中的数据作为原始数据渲染数据表格
            ,data : logTableContent
            ,cols: [[
                {field:'pay_log_paytime', title:'付款时间'}
                ,{field:'pay_log_amount', title:'付款金额'}
                ,{field:'pay_log_user', title:'付款人'}
                ,{field:'pay_file', title:'付款凭证',templet:function (res) {
                    if(res.pay_file){
                        return '<img src="'+res.pay_file+'" width="100px" onclick="amplificationImg(\''+res.pay_file+'\')">';
                    }else{
                        return '';
                    }
                }}
                ,{field:'pay_log_info', title:'付款备注'}
                ,{field:'admin_name', title:'操作人'}
                ,{field:'ctime', title:'操作时间'}
            ]]
            ,page: false
            ,done : function(res, curr, count){
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                console.log(res);
                //得到当前页码
                console.log(curr);
                //得到数据总量
                console.log(count);
            }
        });



    });
    //点击图片放大
    function amplificationImg( url) {
        $("#displayImg").attr("src", url);
        var height = $("#displayImg").height();//拿的图片原来宽高，建议自定义宽高
        var width = $("#displayImg").width();
        layer.open({
            type: 1,
            title: false,
            closeBtn: 0,
            shadeClose: true,
            area: [width + 'px', height + 'px'], //宽高
            content: "<img src=" + url + " />"
        });
    }

</script>