<div class="page-toolbar">
    <div class="page-filter fr">
        <form class="layui-form layui-form-pane" action="{:url('goods')}" method="get" id="hisi-table-search">
            <div class="layui-form-item">
                <label class="layui-form-label">搜索</label>
                <div class="layui-input-inline">
                    <input type="text" name="keyword" lay-verify="required" placeholder="输入关键词搜索" class="layui-input">
                </div>
            </div>
        </form>
    </div>
    <div class="layui-btn-group fl">
        <a href="{:url('add')}" class="layui-btn layui-btn-primary layui-icon layui-icon-add-circle-fine">&nbsp;添加</a>
    </div>
</div>
<table id="dataTable"></table>
{include file="block/layui" /}
<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="{:url('edit')}?goods_id={{ d.goods_id }}" class="layui-btn layui-btn-xs layui-btn-normal">修改</a>
    <a href="{:url('del')}?id={{ d.goods_id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
</script>
<script type="text/javascript">
    /*var tableContent = new Array();
     tableContent = [{goods_id: 2, goods_name: 2, goods_number: 1, goods_spec: "反渗透滤芯", goods_price: 0,goods_recommend_price:0,
     category_name:'ddd',brand_name:'rer',goods_stock:1}]*/
    layui.use(['table'], function() {
        var table = layui.table;
        var receivable_code = {:json_encode(config('erp.RECEIVABLE_CODE'))};
        table.render({
            elem: '#dataTable'
            ,url: "{:url('receivable')}" //数据接口
            ,page: true //开启分页
            ,skin: 'row'
            ,even: true
            ,limit: 20
            ,text: {
                none : '暂无相关数据'
            }
//            ,data : tableContent
            ,cols: [[ //表头
//                {type:'checkbox'}
                {field: 'sales_order_sn', title: '销售单号'}
                ,{field: 'customer_name', title: '客户'}
                ,{field: 'receivable_code', title: '付款方式',templet:function (res) {
                        return receivable_code[res.receivable_code];
                    }}
                ,{field: 'receivable_amount', title: '应收金额'}
                ,{field: 'finish_amount', title: '已收金额'}
                ,{title: '操作', width: 160, templet:function (res) {
                    var html = '';
                    if(res.receivable_code == 1 && res.finish_amount!=res.receivable_amount){ //应付账款
                        html += '<a href="{:url('receive')}?receivable_id='+res.receivable_id+'" class="layui-btn layui-btn-xs layui-btn-danger">$收款</a>';
                    }
                    html += ' <a href="{:url('receiveDetail')}?receivable_id='+res.receivable_id+'" class="layui-btn layui-btn-xs layui-btn-normal">查看</a>';
                    return html;
                }}
            ]]
            ,done : function(res, curr, count){
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                console.log(res);
                //得到当前页码
                console.log(curr);
                //得到数据总量
                console.log(count);
            }
        });
    });
</script>