<style>
    .line-padding{
        padding: 9px 4px;
        width: 200px;
    }
</style>
<form class="layui-form" action="{:url()}" method="post" id="editForm">
    <div class="layui-form-item">
        <label class="layui-form-label w100">采购单号:</label>
        <div class="layui-input-inline line-padding">
            {$formData['p_order_sn']}
        </div>
        <label class="layui-form-label w100">订单状态:</label>
        <div class="layui-input-inline line-padding">
            {:config('erp.payment_type')[$formData['payment_type']]}
        </div>
        <label class="layui-form-label w100">付款方式:</label>
        <div class="layui-input-inline line-padding">
            {:config('erp.payment_type')[$formData['payment_type']]}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label w100">供应商:</label>
        <div class="layui-input-inline line-padding">
            {$supplier[$formData['supplier_id']]['supplier_name']}
        </div>
        <label class="layui-form-label w100">供应商联系人:</label>
        <div class="layui-input-inline line-padding">
            {$formData['supplier_contacts']}
        </div>
        <label class="layui-form-label w100">供应商手机:</label>
        <div class="layui-input-inline line-padding">
            {$formData['supplier_phone']}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label w100">供应商座机:</label>
        <div class="layui-input-inline line-padding">
            {$formData['supplier_telephone']}
        </div>
        <label class="layui-form-label ">备注:</label>
        <div class="layui-input-inline line-padding w200">
            {$formData['p_order_info']}
        </div>
    </div>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>采购商品</legend>
    </fieldset>

    <table class="layui-hide" id="test" lay-filter="test"></table>
    {if !empty($oper_log)}
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>操作记录</legend>
    </fieldset>
    <table class="layui-hide" id="log" lay-filter="test"></table>
    {/if}
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" class="field-p_order_id" name="p_order_id">
            <input type="hidden" class="field-admin_id" name="admin_id" value="{:ADMIN_ID}">
            <a href="{:url('orders')}" class="layui-btn layui-btn-primary ml10">返回</a>
        </div>
    </div>
</form>
<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="javascript:;" onclick="delCell({{ d.goods_id }})" class="layui-btn layui-btn-xs layui-btn-danger">删除</a>
</script>
{include file="system@block/layui" /}
<script src="/static/js/jquery.2.1.4.min.js?v=2.1.4"></script>
<script>
    layui.use(['func','form'], function() {
        var  $ = layui.jquery, layer = layui.layer, form = layui.form;
        // 编辑模式下表单自动赋值
        layui.func.assign({:json_encode($formData)});

    });
    var child_idx;
    var tableIns;
    var tableContent = new Array();
    //    tableContent = [{goods_id: 2, goods_name: 2, goods_number: 1, goods_spec: "反渗透滤芯", goods_price: 0,goods_recommend_price:0,
    //        category_name:'ddd',brand_name:'rer',goods_stock:1}]
    layui.use('table', function(){
        var table = layui.table,
            $ = layui.jquery, layer = layui.layer;
        //温馨提示：默认由前端自动合计当前行数据。从 layui 2.5.6 开始： 若接口直接返回了合计行数据，则优先读取接口合计行数据。
        //详见：https://www.layui.com/doc/modules/table.html#totalRow
        tableIns = table.render({
            elem: '#test'
//            ,url:"{:url('getProducts')}?p_order_id={$formData?$formData['p_order_id']:''}"
//            ,toolbar: '#toolbarDemo'
            ,data : tableContent
            ,title: '采购商品'
            ,totalRow: true
            // 拿对象数组tableContent中的数据作为原始数据渲染数据表格
            ,data : tableContent
            ,cols: [[
//                {type: 'checkbox', fixed: 'left'}
//                ,{field:'id', title:'ID', width:80, fixed: 'left', unresize: true}
                {field:'goods_number', title:'商品编号', edit: 'text', templet: function(res){
                    if(!res.goods_id){
                        return '采购金额合计:<span id="order-amount">'+res.p_goods_amount+'</span>';
                    }else{
                        var tmp_html = ' <input type="hidden" name="goodsId[]" value="'+res.goods_id+'">'
                            +res.goods_number
                            +' <input type="hidden" name="pGoodsId[]" value="'+(res.p_goods_id?res.p_goods_id:"")+'">';
                        return tmp_html;
                    }
                }}//,totalRowText: '采购金额合计:'
                ,{field:'goods_name', title:'商品名称', edit: 'text'}
                ,{field:'goods_spec', title:'商品规格'}
                ,{field:'goods_unit', title:'单位', edit: 'text'}
                ,{field:'p_goods_price', title:'采购单价', sort: true}
                ,{field:'p_goods_buy_num', title:'采购数量', sort: true}
                ,{field:'p_goods_tax', title:'税金', sort: true}
                ,{field:'p_goods_amount', title:'采购总价',width:200, sort: true,templet: function(res){
                    if(!res.goods_id){
                        return '采购金额合计:<span id="order-amount">'+res.p_goods_amount+'</span>';
                    }else{
                        return res.p_goods_amount;
                    }
                },totalRow: true}
            ]]
            ,page: false
            ,done : function(res, curr, count){
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                console.log(res);
                //得到当前页码
                console.log(curr);
                //得到数据总量
                console.log(count);
            }
        });
        var logTableContent = JSON.parse( '{:json_encode($oper_log)}' );
        table.render({ //操作日志表
            elem: '#log'
            ,title: '采购商品'
            ,totalRow: true
            // 拿对象数组tableContent中的数据作为原始数据渲染数据表格
            ,data : logTableContent
            ,cols: [[
                {field:'oper', title:'状态',templet:function (res) {
                    if(res.oper){
                        return res.oper;
                    }
                    if(res.order_state==1){ //1、取消入库
                        return '取消入库';//0 取消审核，1 已审核，2待入库3 已入库
                    }else if(res.order_state==2){
                        return '待入库';
                    }else if(res.order_state==3){ //3
                        return '已入库';
                    }
                }}
                ,{field:'oper_user', title:'操作人'}
                ,{field:'ctime', title:'操作时间'}
            ]]
            ,page: false
            ,done : function(res, curr, count){
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                console.log(res);
                //得到当前页码
                console.log(curr);
                //得到数据总量
                console.log(count);
            }
        });


        //ajax获取数据然后动态赋值
        $.ajax({
            url: "{:url('getProducts')}?p_order_id={$formData?$formData['p_order_id']:''}",
            type: 'POST',
            data: { },
            dataType: 'json',
            asyn:false,
            beforeSend: function () {

            },
            success: function (result) {
                if(result['code'] == 0){
                    tableContent = result['data'];
                    tableIns.reload({data:tableContent});
                }
            },
            error: function (error) {
                // parent.layer.close(layLoad);
                layer.msg('系统错误：' + error.status, {shift: 6});
            }
        });


        $('#add_goods').click(function (e) {


            child_idx = layer.open({
                type: 2 //此处以iframe举例
                ,title: '选择商品'
                ,area: [$(window).width()-390+'px', $(window).height()-200+'px']
                ,shade: 0
                ,maxmin: true
                ,offset: [ //为了演示，随机坐标
                    '100px'
                ]
                ,content: "{:url('selectGoods')}?hisi_iframe=yes"
                ,btn: ['选择商品添加', '关闭'] //只是为了演示
                ,yes: function(){
                    //父页面给子弹窗页面赋值
//                    $("#layui-layer-iframe" + child_idx).contents().find("input").val("11111111");
                    //父页面调用子弹窗的 js方法
                    var contentWindow = $("#layui-layer-iframe" + child_idx)[0].contentWindow;
                    contentWindow.addAllGoods();
                    layer.closeAll();
                }
                ,btn2: function(){
                    layer.closeAll();
                }

                ,zIndex: layer.zIndex //重点1
                ,success: function(layero){
                    layer.setTop(layero); //重点2
                    console.log('success',layero);
                }
            });
        });


    });

</script>