<style>
    .layui-upload-img {
        width: 92px;
        height: 92px;
        margin: 0 10px 10px 0;
    }
     #upload_img_list {
         margin: 10px 0 0 0
     }
    #upload_img_list dd {
        position: relative;
        margin: 0 10px 10px 0;
        float: left
    }
    #upload_img_list .operate {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1
    }
    #upload_img_list .operate i {
        cursor: pointer;
        background: #2F4056;
        padding: 2px;
        line-height: 15px;
        text-align: center;
        color: #fff;
        margin-left: 1px;
        float: left;
        filter: alpha(opacity=80);
        -moz-opacity: .8;
        -khtml-opacity: .8;
        opacity: .8
    }
    #upload_img_list dd .img {
        max-height: 100px;
        max-width: 200px
    }
</style>
<form class="layui-form" action="{:url()}" method="post" id="editForm">
    <div class="layui-form-item">
        <label class="layui-form-label w100">采购单号</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-p_order_sn" name="p_order_sn" lay-verify="required" autocomplete="off" value="{:isset($p_order_sn)?$p_order_sn:''}">
        </div>
        <div class="layui-form-mid layui-word-aux">必填项</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">供应商</label>
        <div class="layui-input-inline w200">
            <select name="supplier_id" class="field-supplier_id" type="select" lay-verify="required" lay-filter="supplier_id">
                <option value="">请选择</option>
                {foreach $supplier as $key=>$value}
                <option value="{$value['supplier_id']}">{$value['supplier_name']}</option>
                {/foreach}
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">必填项</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">付款方式</label>
        <div class="layui-input-inline w200">
            <select name="payment_type" class="field-payment_type" type="select" lay-verify="required">
                <option value="">请选择</option>
                {foreach $payment_type as $key=>$value}
                <option value="{$key}">{$value}</option>
                {/foreach}
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">必填项</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">供应商联系人</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-supplier_contacts" name="supplier_contacts" lay-verify="" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">供应商手机</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-supplier_phone" name="supplier_phone" lay-verify="mobile" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">供应商座机</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-supplier_telephone" name="supplier_telephone" lay-verify="telephone" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="red"></i>付款凭证</label>
        <!--<div class="layui-input-inline w200">
            <button type="button" class="layui-btn layui-btn-normal" id="test2">上传附件</button>
            &lt;!&ndash;或者&ndash;&gt;
            <input id="pay_file" name="annex" class="form-control field-annex" type="text"
                   style="width: 0px;height: 0px;padding: 0px" value="{$formData?$formData['annex']:''}"> &lt;!&ndash; 图片地址隐藏域&ndash;&gt;
            <img src="{$formData?$formData['annex']:''}" style="width: 50px" id="upload_pic" onclick="amplificationImg(this)">
        </div>-->
        <div class="layui-form-mid layui-word-aux"></div>
        <div class="layui-upload layui-input-inline w100">
            <button type="button" class="layui-btn" id="upload_img">上传附件</button>
            <!--<blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                预览图：
                <div class="layui-upload-list" id="demo2"></div>
            </blockquote>-->

        </div>
        <div id="upload_img_list">
            {if $formData && $formData['annex']}
            {foreach :json_decode($formData['annex']) as $file_name => $original_name}
            {assign name="file_type" value=":explode('.', $file_name)" /}
            {assign name="file_type" value=":end($file_type)" /}
            <dd class="item_img" >
                <div>
                    <div class="operate">
                        <i onclick="toLeft(this)" class=" layui-icon"></i>
                        <i onclick="toRight(this)" class=" layui-icon"></i>
                        <i onclick=UPLOAD_IMG_DEL(this) class="close layui-icon"></i>
                    </div>
                    <!--如果是非图片，显示代理图片-->
                    <img src="{:isset($type_imgs[$file_type])?$type_imgs[$file_type]:$file_name}" class="img" ><input type="hidden" name="annex[{$file_name}]" value="{$original_name}" />
                </div>
                <div>
                    {if !in_array($file_type, ['jpg','jpeg','png'])}
                        {$original_name}
                    {/if}
                </div>
            </dd>

            {/foreach}
            {/if}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-inline w600">
            <textarea name="p_order_info" placeholder="" class="layui-textarea field-p_order_info"></textarea>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>采购商品 &nbsp;&nbsp;<a id="add_goods" href="javascript:;" class="layui-btn  layui-btn-normal layui-icon layui-icon-add-circle-fine">&nbsp;添加商品</a></legend>
    </fieldset>

    <table class="layui-hide" id="test" lay-filter="test"></table>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" class="field-p_order_id" name="p_order_id">
            <input type="hidden" class="field-admin_id" name="admin_id" value="{:ADMIN_ID}">
            <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit">提交</button>
            <a href="{:url('orders')}" class="layui-btn layui-btn-primary ml10">取消</a>
        </div>
    </div>
</form>
<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="javascript:;" onclick="delCell({{ d.goods_id }})" class="layui-btn layui-btn-xs layui-btn-danger">删除</a>
</script>
{include file="system@block/layui" /}
<script src="/static/js/jquery.2.1.4.min.js?v=2.1.4"></script>
<script>
    layui.use(['func','form'], function() {
        var  $ = layui.jquery, layer = layui.layer, form = layui.form;
        // 编辑模式下表单自动赋值
        layui.func.assign({:json_encode($formData)});
        form.on('select(supplier_id)', function(data){
            var suppliers = {:json_encode($supplier)};
            var supplier_id = data.value;
            console.log(data,supplier_id);
            $.each(suppliers, function (index, item) {
                if(supplier_id == item['supplier_id']){
                    $("[name='supplier_contacts']").val(item['supplier_contacts']);
                    $("[name='supplier_phone']").val(item['supplier_phone']);
                    $("[name='supplier_telephone']").val(item['supplier_telephone']);
                    return false;
                }
            });
        });

    });
    var child_idx;
    var tableIns;
    var tableContent = new Array();
//    tableContent = [{goods_id: 2, goods_name: 2, goods_number: 1, goods_spec: "反渗透滤芯", goods_price: 0,goods_recommend_price:0,
//        category_name:'ddd',brand_name:'rer',goods_stock:1}]
    layui.use(['table','upload'], function(){
        var table = layui.table,
            $ = layui.jquery,
            layer = layui.layer,
            upload = layui.upload;
        //温馨提示：默认由前端自动合计当前行数据。从 layui 2.5.6 开始： 若接口直接返回了合计行数据，则优先读取接口合计行数据。
        //详见：https://www.layui.com/doc/modules/table.html#totalRow
        tableIns = table.render({
            elem: '#test'
//            ,url:"{:url('getProducts')}?p_order_id={$formData?$formData['p_order_id']:''}"
//            ,toolbar: '#toolbarDemo'
            ,data : tableContent
            ,title: '采购商品'
            ,totalRow: true
            // 拿对象数组tableContent中的数据作为原始数据渲染数据表格
            ,data : tableContent
            ,cols: [[
//                {type: 'checkbox', fixed: 'left'}
//                ,{field:'id', title:'ID', width:80, fixed: 'left', unresize: true}
                {field:'goods_number', title:'商品编号', edit: 'text', templet: function(res){
                    if(!res.goods_id){
                        return '采购金额合计:<span id="order-amount">'+res.p_goods_amount+'</span>';
                    }else{
                        var tmp_html = ' <input type="hidden" name="goodsId[]" value="'+res.goods_id+'">'
                            +res.goods_number
                            +' <input type="hidden" name="pGoodsId[]" value="'+(res.p_goods_id?res.p_goods_id:"")+'">';
                        return tmp_html;
                    }
                }}//,totalRowText: '采购金额合计:'
                ,{field:'goods_name', title:'商品名称', edit: 'text'}
                ,{field:'goods_spec', title:'商品规格'}
                ,{field:'goods_unit', title:'单位', edit: 'text'}
                ,{field:'p_goods_price', title:'采购单价', sort: true, templet: function(res){

                    return '<input type="number" min="0" oninput="insertGoodsPrice('+res.goods_id+');" id="goods_price_'+res.goods_id+'" name="goodsPrice[]" class="layui-input" value="'+res.p_goods_price+'">'
                }}
                ,{field:'p_goods_buy_num', title:'采购数量',sort: true,templet: function(res){
                    return '<input type="number" min="1" oninput="insertGoodsPrice('+res.goods_id+');" id="goods_buy_num_'+res.goods_id+'" name="goodsBuyNum[]" class="layui-input" value="'+res.p_goods_buy_num+'">';
                }}
                ,{field:'p_goods_tax', title:'税金',sort: true,templet: function(res){
                    return '<input type="number" min="0" oninput="insertGoodsPrice('+res.goods_id+');" id="goods_tax_'+res.goods_id+'" name="goodsTax[]" class="layui-input" value="'+res.p_goods_tax+'">';
                }}
                ,{field:'p_goods_amount', title:'采购总价',sort: true,width:200,templet: function(res){
                    if(!res.goods_id){
                        return '采购金额合计:<span id="order-amount">'+res.p_goods_amount+'</span>';
                    }else{
                        return '<input type="number" oninput="sumAmount();" id="goods_amount_'+res.goods_id+'" name="goodsAmount[]" class="layui-input" value="'+res.p_goods_amount+'">';
                    }
                },totalRow: true}
                ,{fixed: 'right', title:'操作', toolbar: '#buttonTpl', width:150}
            ]]
            ,page: false
            ,done : function(res, curr, count){
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                console.log(res);
                //得到当前页码
                console.log(curr);
                //得到数据总量
                console.log(count);
            }
        });

        //普通图片上传
        /*var uploadInst = upload.render({
            elem: '#test2'
            , url: '{:url("system/annex/upload?water=&thumb=&from=&group=")}'
            ,multiple: true
            ,exts: 'zip|rar|7z|jpg|jpeg|png|doc|pdf|xls|xlsx|csv' //只允许上传压缩文件
            , before: function (obj) {
                layLoad = parent.layer.load(1, {
                    shade: [0.5, '#000']
                });
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    var file_type = getFileType(file.name);
                    if(file_type != 'jpg'&&file_type != 'jpeg'&&file_type != 'png'){
                        $('#demo2').append('<a>'+ file.name +'</a>');
                    }else{
                        $('#demo2').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img" onclick="amplificationImg(this)">')
                    }

                });
            }
            , done: function (res) {
                if (res.code == 0) {
                    parent.layer.close(layLoad);
                    return parent.layer.msg('错误：' + res.msg, {shift: 6});
                }
                $("#pay_file").val(res.data.file);
                $("#upload_pic").attr('src',res.data.file);
                $("#upload_pic").attr('onclick','amplificationImg(this)');

                parent.layer.close(layLoad);

                $(".choose").show();
                layer.msg('上传成功');

                //上传成功
            }
            , error: function () {
                //演示失败状态，并实现重传
                parent.layer.close(layLoad);
//                    uploadInst.upload();
                layer.msg('上传失败，请重试');
            }
        });
        */
        //ajax获取数据然后动态赋值
        $.ajax({
            url: "{:url('getProducts')}?p_order_id={$formData?$formData['p_order_id']:''}",
            type: 'POST',
            data: { },
            dataType: 'json',
            asyn:false,
            beforeSend: function () {

            },
            success: function (result) {
                if(result['code'] == 0){
                    tableContent = result['data'];
                    tableIns.reload({data:tableContent});
                }
            },
            error: function (error) {
                // parent.layer.close(layLoad);
                layer.msg('系统错误：' + error.status, {shift: 6});
            }
        });


        $('#add_goods').click(function (e) {


            child_idx = layer.open({
                type: 2 //此处以iframe举例
                ,title: '选择商品'
                ,area: [$(window).width()-390+'px', $(window).height()-200+'px']
                ,shade: 0
                ,maxmin: true
                ,offset: [ //为了演示，随机坐标
                    '100px'
                ]
                ,content: "{:url('selectGoods')}?hisi_iframe=yes"
                ,btn: ['选择商品添加', '关闭'] //只是为了演示
                ,yes: function(){
                    //父页面给子弹窗页面赋值
//                    $("#layui-layer-iframe" + child_idx).contents().find("input").val("11111111");
                    //父页面调用子弹窗的 js方法
                    var contentWindow = $("#layui-layer-iframe" + child_idx)[0].contentWindow;
                    contentWindow.addAllGoods();
                    layer.closeAll();
                }
                ,btn2: function(){
                    layer.closeAll();
                }

                ,zIndex: layer.zIndex //重点1
                ,success: function(layero){
                    layer.setTop(layero); //重点2
                    console.log('success',layero);
                }
            });
        });


    });

    function insertGoodsPrice(id) {
        var goodsPrice  = $('#goods_price_'+id).val();
        goodsPrice  = goodsPrice == '' ? 0 : parseFloat(goodsPrice);
        var goodsTax    = $('#goods_tax_'+id).val();
        goodsTax    = goodsTax == '' ? 0 : parseFloat(goodsTax);
        var goodsNum    = $('#goods_buy_num_'+id).val();
        goodsNum    = goodsNum == '' ? 1 : parseInt(goodsNum);

        var goodsAmount = goodsPrice * goodsNum + goodsTax;
//        $('#goods_amount_'+id).val(erpNumber(goodsAmount, 2));
        $('#goods_amount_'+id).val(goodsAmount.toFixed(2));

        sumAmount();
    }

    function sumAmount() {
        var orderAmount = 0;
        $("input[name='goodsAmount[]']").each(function () {
            orderAmount = orderAmount + parseFloat($(this).val());
        });
//        $('#order-amount').html(erpNumber(orderAmount, 2));
        $('#order-amount').html(orderAmount.toFixed(2));
    }
    /**
     * 数字输出
     * @param number
     * @param decimals
     * @param dec_point
     * @param thousands_sep
     * @returns {jQuery|The|string}
     */
    function erpNumber(number, decimals, dec_point, thousands_sep) {
        return $.number(number, decimals, '.', '');
    }
    
    function delCell(id) {
        //tableContent 需要重新获取再删除
        var del_id;
        $.each(tableContent, function (index, item) {
            if(item.goods_id == id){

                del_id = index;
                return false;
            }else{
                item['p_goods_price'] = $('#goods_price_'+item['goods_id']).val();
                item['p_goods_buy_num'] = $('#goods_buy_num_'+item['goods_id']).val();
                item['p_goods_tax'] = $('#goods_tax_'+item['goods_id']).val();
                item['p_goods_amount'] = $('#goods_amount_'+item['goods_id']).val();
                tableContent[index] = item;
            }
        })
        tableContent.splice(del_id,1);
        tableIns.reload({data:tableContent})
    }
    //点击放大图片
    function amplificationImg( obj) {
        var url = $(obj).attr('src');
        $("#displayImg").attr("src", url);
        var height = $("#displayImg").height();//拿的图片原来宽高，建议自定义宽高
        var width = $("#displayImg").width();
        layer.open({
            type: 1,
            title: false,
            closeBtn: 0,
            shadeClose: true,
            area: [width + 'px', height + 'px'], //宽高
            content: "<img src=" + url + " />"
        });
    }

    /*
     上传参数设定
     */
    var upurl =  '{:url("system/annex/upload?water=&thumb=&from=&group=")}';//上传图片地址
    var duotu = true;//是否为多图上传true false

    /*
     上传图片
     */
    layui.use('upload', function() {
        upload = layui.upload;
        upload.render({
            elem: '#upload_img',
            url: upurl,
            multiple: duotu,
            exts: 'zip|rar|7z|jpg|jpeg|png|doc|pdf|xls|xlsx|csv|docx',
            before: function(obj) {
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
                console.log(obj);
            },
            done: function(res) {
                layer.close(layer.msg());//关闭上传提示窗口
                if(res.code == 0){
                    layer.msg(res.msg)
                }
                var file_type = getFileType(res.data.file);
                var type_imgs = {:json_encode($type_imgs)};
                var file_name = '';
                if(type_imgs[file_type]){
                    file_name = type_imgs[file_type];//临时图片文件名
                }
                if (duotu == true) { //调用多图上传方法,其中res.imgid为后台返回的一个随机数字
                    $('#upload_img_list').append('<dd class="item_img" ><div><div class="operate"><i onclick="toLeft(this)" class=" layui-icon"></i><i onclick="toRight(this)" class=" layui-icon"></i><i onclick=UPLOAD_IMG_DEL(this) class="close layui-icon"></i></div>'
                        +'<img src="' + (file_name?file_name:res.data.file) + '" class="img" ><input type="hidden" name="annex[' + res.data.file + ']" value="' + res.data.original_name + '" /></div>'
                        +(file_name?'<div>'+res.data.original_name+'</div>':'')
                        +'</dd>');
                }else{ //调用单图上传方法,其中res.imgid为后台返回的一个随机数字
                    $('#upload_img_list').html('<dd class="item_img" ><div><div class="operate"><i onclick=UPLOAD_IMG_DEL(this) class="close layui-icon"></i></div>'
                        +'<img src="' + (file_name?file_name:res.data.file) + '" class="img" ><input type="hidden" name="annex[' + res.data.file + ']" value="' + res.data.original_name + '" /></div>'
                        +(file_name?'<div>'+res.data.original_name+'</div>':'')
                        +'</dd>');
                }
            }
        })
    });

    function getFileType(filePath){
        var startIndex = filePath.lastIndexOf(".");
        if(startIndex != -1)
            return filePath.substring(startIndex+1, filePath.length).toLowerCase();
        else return "";
    }
    /*
     删除上传图片
     */
    function UPLOAD_IMG_DEL(obj) {
        $(obj).parents('dd.item_img').remove();
    }

    /*
     多图上传变换左右位置
     */
    function toLeft(obj) {
        var item = $(obj).parents("dd.item_img");
        var item_left = item.prev(".item_img");
        if ($("#upload_img_list").children(".item_img").length >= 2) {
            if (item_left.length == 0) {
                item.insertAfter($("#upload_img_list").children(".item_img:last"))
            } else {
                item.insertBefore(item_left)
            }
        }
    }
    function toRight(obj) {
        var item = $(obj).parents("dd.item_img");
        var item_right = item.next(".item_img");
        if ($("#upload_img_list").children(".item_img").length >= 2) {
            if (item_right.length == 0) {
                item.insertBefore($("#upload_img_list").children(".item_img:first"))
            } else {
                item.insertAfter(item_right)
            }
        }
    }
</script>