<div class="page-toolbar">
    <div class="page-filter fr">
        <form class="layui-form layui-form-pane" action="{:url('selectGoods')}" method="get" id="hisi-table-search">
            <div class="layui-form-item">
                <label class="layui-form-label">搜索</label>
                <div class="layui-input-inline">
                    <input type="text" name="keyword" lay-verify="required" placeholder="输入全部或部分商品名称" class="layui-input">
                </div>
            </div>
        </form>
    </div>
</div>
<table id="dataTable" lay-filter="dataTable"></table>
<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="javascript:;" onclick="addSelectGoods({{ d.goods_id }})" class="layui-btn layui-btn-xs layui-btn-normal">点击添加</a>
</script>
{include file="system@block/layui" /}
<script src="/static/js/jquery.2.1.4.min.js?v=2.1.4"></script>
<script type="text/javascript">
    var selected_ids = [];
    layui.use(['table'], function() {
        var table = layui.table;
        table.render({
            elem: '#dataTable'
            ,url: "{:url('selectGoods')}" //数据接口
            ,page: true //开启分页
            ,skin: 'row'
            ,even: true
            ,limit: 20
            ,text: {
                none : '暂无相关数据'
            }
            ,cols: [[ //表头
                {type:'checkbox'}
                ,{field: 'goods_id', title: 'ID'}
                ,{field: 'goods_name', title: '商品名称'}
                ,{field: 'goods_number', title: '商品编号'}
                ,{field: 'goods_spec', title: '商品规格'}
                ,{field: 'goods_stock', title: '库存'}
                ,{title: '操作', width: 160, templet: '#buttonTpl'}
            ]]
        });
        table.on('checkbox(dataTable)', function(obj){
//            console.log(obj.checked); //当前是否选中状态
//            console.log(obj.data); //选中行的相关数据
//            console.log(obj.type); //如果触发的是全选，则为：all，如果触发的是单选，则为：one
            var checkStatus = table.checkStatus('dataTable');
//            console.log(checkStatus.data.length,checkStatus.data)//选中行数据 [{goods_id}]

            selected_ids = [];
            if(checkStatus.data){
                $.each(checkStatus.data,function (index,item) {
                    selected_ids.push(item['goods_id']);
                })
            }
        });




    });

    function addAllGoods() {
        /*$.each(selected_ids,function (index,item) {
            addSelectGoods(item);
        })*/
        addSelectGoods(selected_ids);
    }
    function addSelectGoods(id) {
        if(Object.prototype.toString.call(id)== '[object Array]'){
            var temp_ids = new Array();
            $.each(id,function (index,item) {
                if(parent.$('#goods_price_'+item).length>0){
//                    id.splice(index, 1)
//                    delete id[index];
                    layer.msg('该商品已添加！');
                }else{
                    temp_ids.push(item);
                }
            })
//            id = id.join(',');
            if(temp_ids.length > 0){
                id = temp_ids.join(',');
            }else{
                return false;
            }
        }else{
            if(parent.$('#goods_price_'+id).length>0){
                layer.msg('该商品已添加！');
                return false;
            }
        }
        $.ajax({
            url: "{:url('selectGoods')}",
            type: 'POST',
            data: {goods_id: id},
            dataType: 'json',
//            asyn:false,
            beforeSend: function () {

            },
            success: function (result) {
                if(result['status'] == 1){
                    var goods = result['data'];
                    /*var index = $('#test').find('tr').length-3;
                    var html = '<tr data-index="'+index+'" id="'+id+'">';
                    html += '<td data-field="goods_number" data-key="1-0-0" class=""><div class="layui-table-cell laytable-cell-1-0-0">'+goods['goods_number']+'</div></td>';
                    html += '<td data-field="goods_name" data-key="1-0-1" class=""><div class="layui-table-cell laytable-cell-1-0-1">'+goods['goods_name']+'</div></td>';
                    html += '<td data-field="goods_spec" data-key="1-0-2" class=""><div class="layui-table-cell laytable-cell-1-0-2">'+goods['goods_spec']+'</div></td>';
                    html += '<td data-field="p_goods_price" data-key="1-0-3" class=""><div class="layui-table-cell laytable-cell-1-0-3"><input type="text" min="0" oninput="insertGoodsPrice('+id+');" id="goods_price_'+id+'" name="goodsPrice[]" class="form-control" value="0"></div></td>';
                    html += '<td data-field="p_goods_buy_num" data-key="1-0-4" class=""><div class="layui-table-cell laytable-cell-1-0-4"><input type="number" min="1" oninput="insertGoodsPrice('+id+');" id="goods_buy_num_'+id+'" name="goodsBuyNum[]" class="form-control" value="1"></div></td>';
                    html += '<td data-field="p_goods_tax" data-key="1-0-5" class=""><div class="layui-table-cell laytable-cell-1-0-5"><input type="text" min="0" oninput="insertGoodsPrice('+id+');" id="goods_tax_'+id+'" name="goodsTax[]" class="form-control" value="0"></div></td>';
                    html += '<td data-field="p_goods_amount" data-key="1-0-6" class=""><div class="layui-table-cell laytable-cell-1-0-6"><input type="text" oninput="sumAmount();" id="goods_buy_num_'+id+'" name="goodsAmount[]" class="form-control" value="0"></div></td>';
                    html += '</tr>';
                    var table = parent.$('#test').next().find('table');// todo 弹窗回填数据
                    table.append(html);*/
                    $.each(goods,function (index,item) {
                        var new_data = {
                            goods_number:item.goods_number,
                            goods_name:item.goods_name,
                            goods_spec:item.goods_spec,
                            goods_unit:item.unit.unit_name,
                            p_goods_price:0,
                            p_goods_buy_num:1,
                            p_goods_tax:0,
                            p_goods_amount:0,
                            goods_id:item.goods_id,
                        };
                        parent.tableContent.push(new_data);
                    })

                    parent.tableIns.reload({data:parent.tableContent})
                    //子弹窗调用父页面方法
//                    window.parent.childInvokerMethod();
                }else{
                    layer.msg('系统错误：所选产品不正确' , {shift: 6});
                }
            },
            error: function (error) {
                // parent.layer.close(layLoad);
                layer.msg('系统错误：' + error.status, {shift: 6});
            }
        });
    }
</script>