<style type="text/css">
    .form-label{
        float: left;
        display: block;
        padding: 9px 0 15px;
        width: 80px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
    }
</style>
<form class="layui-form" action="{:url()}" method="post" id="editForm">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>验货入库处理</legend>
    </fieldset>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label"><span class="red">*</span>入库单号</label>
            <div class="layui-input-inline">
                <input type="text" name="warehouse_order_sn" lay-verify="required" autocomplete="off" class="layui-input field-warehouse_order_sn" value="{:isset($warehouse_order_sn)?$warehouse_order_sn:''}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label"><span class="red">*</span>仓库</label>
            <div class="layui-input-inline">
                <select name="warehouse_id" class="field-warehouse_id" type="select" lay-verify="required">
                    <option value="">请选择</option>
                    {foreach $warehouse as $key=>$value}
                    <option value="{$value['warehouse_id']}">{$value['warehouse_name']}[{$value['warehouse_code']}]</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label"><span class="red">*</span>状态</label>
            <div class="layui-input-inline">
                <select name="warehouse_order_state" class="field-warehouse_order_state" type="select" lay-verify="required">
                    <option value="">请选择</option>
                    {foreach $warehouse_order_state as $key=>$value}
                    <option value="{$key}">{$value}</option>
                    {/foreach}
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">入库备注</label>
        <div class="layui-input-inline w600">
            <textarea name="warehouse_order_info" placeholder="" class="layui-textarea field-warehouse_order_info"></textarea>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>采购单信息</legend>
    </fieldset>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">
                采购单号:
            </label>
            <div class="layui-input-inline"  style="display: block;padding: 9px 10px;">
                {$purchase_order.p_order_sn}
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">供应商:</label>
            <div class="layui-input-inline"  style="display: block;padding: 9px 10px;">
                {$purchase_order.supplier.supplier_name}
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">付款方式:</label>
            <div class="layui-input-inline" style="display: block;padding: 9px 10px;">
                {$payment_type[$purchase_order.payment_type]}
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">供应商联系人: </label>
            <div class="layui-input-inline" style="display: block;padding: 9px 10px;">
                {$purchase_order.supplier_contacts}
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">供应商手机:</label>
            <div class="layui-input-inline" style="display: block;padding: 9px 10px;">
                {$purchase_order.supplier_phone}
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">供应商座机:</label>
            <div class="layui-input-inline" style="display: block;padding: 9px 10px;">
                {$purchase_order.supplier_telephone}
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-inline" style="display: block;padding: 9px 10px;">
            {$purchase_order.p_order_info}
        </div>
        </div>
    </div>


    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>采购商品</legend>
    </fieldset>

    <table class="layui-hide" id="test" lay-filter="test"></table>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" class="field-p_order_id" name="p_order_id" value="{$purchase_order.p_order_id}">
            <input type="hidden" class="field-admin_id" name="admin_id" value="{:ADMIN_ID}">
            <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit">验货入库</button>
            <a href="{:url('orders')}" class="layui-btn layui-btn-primary ml10">取消</a>
        </div>
    </div>
</form>
{include file="system@block/layui" /}
<script src="/static/js/jquery.2.1.4.min.js?v=2.1.4"></script>
<script>
    layui.use(['func','form'], function() {
        var  $ = layui.jquery, layer = layui.layer, form = layui.form;
        // 编辑模式下表单自动赋值
        layui.func.assign({:json_encode($formData)});



    });
    var child_idx;
    var tableIns;
    var tableContent = new Array();
//    tableContent = [{goods_id: 2, goods_name: 2, goods_number: 1, goods_spec: "反渗透滤芯", goods_price: 0,goods_recommend_price:0,
//        category_name:'ddd',brand_name:'rer',goods_stock:1}]
    layui.use('table', function(){
        var table = layui.table,
            $ = layui.jquery, layer = layui.layer;
        //温馨提示：默认由前端自动合计当前行数据。从 layui 2.5.6 开始： 若接口直接返回了合计行数据，则优先读取接口合计行数据。
        //详见：https://www.layui.com/doc/modules/table.html#totalRow
        tableIns = table.render({
            elem: '#test'
//            ,url:"{:url('getProducts')}?p_order_id={$formData?$formData['p_order_id']:''}"
//            ,toolbar: '#toolbarDemo'
            ,data : tableContent
            ,title: '采购商品'
            ,totalRow: true
            // 拿对象数组tableContent中的数据作为原始数据渲染数据表格
            ,data : tableContent
            ,cols: [[
//                {type: 'checkbox', fixed: 'left'}
//                ,{field:'id', title:'ID', width:80, fixed: 'left', unresize: true}
                {field:'goods_number', title:'商品编号', edit: 'text', templet: function(res){
                    if(!res.goods_id){
                        return '采购金额合计:<span id="order-amount">'+res.p_goods_amount+'</span>';
                    }else{
                        var tmp_html = ' <input type="hidden" name="goodsId[]" value="'+res.goods_id+'">'
                            +res.goods_number
                            +' <input type="hidden" name="pGoodsId[]" value="'+(res.p_goods_id?res.p_goods_id:"")+'">';
                        return tmp_html;
                    }
                }}//,totalRowText: '采购金额合计:'
                ,{field:'goods_name', title:'商品名称', edit: 'text'}
                ,{field:'goods_spec', title:'商品规格'}
                ,{field:'goods_unit', title:'单位', edit: 'text'}
                ,{field:'p_goods_price', title:'采购单价', sort: true}
                ,{field:'p_goods_buy_num', title:'采购数量', sort: true}
                ,{field:'p_goods_tax', title:'税金', sort: true}
                ,{field:'p_goods_amount', title:'采购总价',width:200, sort: true,templet: function(res){
                    if(!res.goods_id){
                        return '采购金额合计:<span id="order-amount">'+res.p_goods_amount+'</span>';
                    }else{
                        return res.p_goods_amount;
                    }
                },totalRow: true}
            ]]
            ,page: false
            ,done : function(res, curr, count){
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                console.log(res);
                //得到当前页码
                console.log(curr);
                //得到数据总量
                console.log(count);
            }
        });
        //ajax获取数据然后动态赋值
        $.ajax({
            url: "{:url('getProducts')}?p_order_id={$purchase_order['p_order_id']}",
            type: 'POST',
            data: { },
            dataType: 'json',
            asyn:false,
            beforeSend: function () {

            },
            success: function (result) {
                if(result['code'] == 0){
                    tableContent = result['data'];
                    tableIns.reload({data:tableContent});
                }
            },
            error: function (error) {
                // parent.layer.close(layLoad);
                layer.msg('系统错误：' + error.status, {shift: 6});
            }
        });


        $('#add_goods').click(function (e) {


            child_idx = layer.open({
                type: 2 //此处以iframe举例
                ,title: '选择商品'
                ,area: [$(window).width()-390+'px', $(window).height()-200+'px']
                ,shade: 0
                ,maxmin: true
                ,offset: [ //为了演示，随机坐标
                    '100px'
                ]
                ,content: "{:url('selectGoods')}?hisi_iframe=yes"
                ,btn: ['选择商品添加', '关闭'] //只是为了演示
                ,yes: function(){
                    //父页面给子弹窗页面赋值
//                    $("#layui-layer-iframe" + child_idx).contents().find("input").val("11111111");
                    //父页面调用子弹窗的 js方法
                    var contentWindow = $("#layui-layer-iframe" + child_idx)[0].contentWindow;
                    contentWindow.addAllGoods();
                    layer.closeAll();
                }
                ,btn2: function(){
                    layer.closeAll();
                }

                ,zIndex: layer.zIndex //重点1
                ,success: function(layero){
                    layer.setTop(layero); //重点2
                    console.log('success',layero);
                }
            });
        });


    });

    function insertGoodsPrice(id) {
        var goodsPrice  = $('#goods_price_'+id).val();
        goodsPrice  = goodsPrice == '' ? 0 : parseFloat(goodsPrice);
        var goodsTax    = $('#goods_tax_'+id).val();
        goodsTax    = goodsTax == '' ? 0 : parseFloat(goodsTax);
        var goodsNum    = $('#goods_buy_num_'+id).val();
        goodsNum    = goodsNum == '' ? 1 : parseInt(goodsNum);

        var goodsAmount = goodsPrice * goodsNum + goodsTax;
//        $('#goods_amount_'+id).val(erpNumber(goodsAmount, 2));
        $('#goods_amount_'+id).val(goodsAmount.toFixed(2));

        sumAmount();
    }

    function sumAmount() {
        var orderAmount = 0;
        $("input[name='goodsAmount[]']").each(function () {
            orderAmount = orderAmount + parseFloat($(this).val());
        });
//        $('#order-amount').html(erpNumber(orderAmount, 2));
        $('#order-amount').html(orderAmount.toFixed(2));
    }
    /**
     * 数字输出
     * @param number
     * @param decimals
     * @param dec_point
     * @param thousands_sep
     * @returns {jQuery|The|string}
     */
    function erpNumber(number, decimals, dec_point, thousands_sep) {
        return $.number(number, decimals, '.', '');
    }
    
    function delCell(id) {
        //tableContent 需要重新获取再删除
        var del_id;
        $.each(tableContent, function (index, item) {
            if(item.goods_id == id){

                del_id = index;
                return false;
            }else{
                item['p_goods_price'] = $('#goods_price_'+item['goods_id']).val();
                item['p_goods_buy_num'] = $('#goods_buy_num_'+item['goods_id']).val();
                item['p_goods_tax'] = $('#goods_tax_'+item['goods_id']).val();
                item['p_goods_amount'] = $('#goods_amount_'+item['goods_id']).val();
                tableContent[index] = item;
            }
        })
        tableContent.splice(del_id,1);
        tableIns.reload({data:tableContent})
    }
</script>