{__NOLAYOUT__}
<form class="form-horizontal m-t box" id="signupForm" autocomplete="off">
    <!--layui-form-->
    <input id="id" name="id" class="form-control id" type="hidden" >
    <div class="col-sm-12">
        <div class="ibox float-e-margins">

            <div class="ibox-content">

                <div class="form-group">
                    <label class="col-sm-4 control-label">变量:</label>
                    <div class="col-sm-6">
                        <input id="var_alias" name="var_alias" class="form-control var_alias" type="text" disabled>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">轴点标题</label>
                    <div class="col-sm-6">
                        <input id="title" name="title" class="form-control title" type="text" placeholder="请输入单位">
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">X-主轴</label>
                    <div class="col-sm-6">
                        <input id="x" type="range" min="1" max="1000" class="form-control x" name="x">
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Y-主轴</label>
                    <div class="col-sm-6">
                        <input id="y" type="range" min="1" max="1000" class="form-control y" name="y">
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">圆点大小</label>
                    <div class="col-sm-6">
                        <input id="img_size" type="range" min="1" max="100" value="10" class="form-control img_size" name="img_size">
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">X-轴</label>
                    <div class="col-sm-6">
                        <input id="val_x" type="range" min="1" max="1000" class="form-control val_x" name="val_x">
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Y-轴</label>
                    <div class="col-sm-6">
                        <input id="val_y" type="range" min="1" max="1000" class="form-control val_y" name="val_y">
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">字体大小</label>
                    <div class="col-sm-6">
                        <input id="val_size" type="range" min="0" max="30"  class="form-control val_size" name="val_size">
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">字体颜色</label>
                    <div class="col-sm-6">
                        <input id="val_color" type="color" class="form-control val_color" name="val_color">
                    </div>

                </div>


                <div class="form-group">
                    <label class="col-sm-4 control-label">数据X-轴</label>
                    <div class="col-sm-6">
                        <input id="sj_val_x" type="range" min="1" max="1000" class="form-control sj_val_x" name="sj_val_x">
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">数据Y-轴</label>
                    <div class="col-sm-6">
                        <input id="sj_val_y" type="range" min="1" max="1000" class="form-control sj_val_y" name="sj_val_y">
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">数据-字体大小</label>
                    <div class="col-sm-6">
                        <input id="sj_val_size" type="range" min="0" max="30"  class="form-control sj_val_size" name="sj_val_size">
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">数据-字体颜色</label>
                    <div class="col-sm-6">
                        <input id="sj_val_color" type="color" class="form-control sj_val_color" name="sj_val_color">
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">单位</label>
                    <div class="col-sm-6">
                        <input id="unit" name="unit" class="form-control" type="text" placeholder="">
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">小数点位数</label>
                    <div class="col-sm-6">
                        <input id="flo_num" name="flo_num" class="form-control" type="text" placeholder="2">
                    </div>

                </div>




                <div class="form-group">
                    <label class="col-sm-4 control-label">异常临界值</label>
                    <div class="col-sm-6">
                        <input id="val_critical" name="val_critical" class="form-control" type="text" placeholder="">
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">判断方式</label>
                    <div class=" col-sm-6">
                        <select name="val_judge" id="val_judge" class="form-control val_judge" lay-filter="val_judge"
                                lay-search="">
                            <option  value=">">大于</option>
                            <option  value=">=">大于等于</option>
                            <option  value="<">小于</option>
                            <option  value="<=">小于等于</option>
                            <option  value="=">等于</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">异常颜色</label>
                    <div class="col-sm-6">
                        <input id="val_img" type="color" class="form-control val_img" name="val_img" value="#FF0000">
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" >正常颜色</label>
                    <div class="col-sm-6">
                        <input id="val_img_two" type="color" class="form-control val_img_two" name="val_img_two" value="#81D115">
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">是否显示</label>
                    <div class="col-sm-6 i-checks" >
                        <input type="radio" value="1" checked name="is_show" style="margin-top: 15px">是 <i></i>
                        <input type="radio" value="0" name="is_show" style="margin-top: 15px"> 否<i></i>
                    </div>
                    <!--<div class="col-sm-6 i-checks">
                        <input type="radio" value="1" checked="checked" name="is_show" style="margin-top: 15px">
                        <div class="layui-unselect layui-form-radio layui-form-radioed">
                            <i class="layui-anim layui-icon"></i>
                            <div>

                            </div>
                        </div>是 <i></i>
                        <input type="radio" value="0" name="is_show" style="margin-top: 15px"><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div></div></div> 否<i></i>
                    </div>-->
                </div>
                <div class="hr-line-dashed"></div>
                <!--<div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-primary submit" type="button">完成</button>
                    </div>
                </div>-->

            </div>

        </div>
    </div>

</form>
