<div class="page-toolbar">
    <div class="page-filter fr">
        <form class="layui-form layui-form-pane" action="{:url()}" method="get" id="hisi-table-search">
            <div class="layui-form-item">
                <!--<label class="layui-form-label"></label>-->
                <div class="layui-input-inline">
                    <select name="site_id" class="field-site_id" type="select" lay-verify="" lay-filter="typeChange">
                        <option value="">请选择站点</option>
                        {foreach $sites as $key=>$value}
                        <option value="{$key}" {if isset($site_id)}selected="selected"{/if}>{$value}</option>
                        {/foreach}
                    </select>
                </div>

                <div class="layui-input-inline">
                    <input type="text" name="keyword" lay-verify="required" placeholder="输入变量名称搜索" class="layui-input">
                </div>
                <button id="search_btn" class="layui-btn" lay-active="e1">搜索</button>
                <!--<label class="layui-form-label">搜索</label>-->
            </div>

        </form>
    </div>
    <div class="layui-btn-group fl">
        <a href="{:url('add')}" target="_blank" class="layui-btn layui-btn-primary layui-icon layui-icon-add-circle-fine">&nbsp;添加</a>
    </div>
</div>
<table id="dataTable"></table>
{include file="block/layui" /}
<script type="text/html" id="picTpl">
    <div class="layui-table-cell laytable-cell-1-0-3">
        <img src="{{ d.back_img }}" height="" onerror="javascript:this.src='/static/img/img_bad.jpg'">
    </div>
</script>
<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="{:url('/site/device/show')}?id={{ d.id }}&hisi_iframe=yes" target="_blank" class="layui-btn layui-btn-xs layui-btn-warm">查看</a>
    <a href="{:url('edit')}?id={{ d.id }}" target="_blank" class="layui-btn layui-btn-xs layui-btn-normal">修改</a>
    <a href="{:url('del')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
</script>
<script type="text/javascript">
    layui.use(['table','func','form'], function() {
        var table = layui.table
            , $ = layui.jquery
            , form = layui.form;
        // 编辑模式下表单自动赋值
        layui.func.assign({:json_encode($formData)});
        form.on('select(typeChange)', function(data){
            $('#search_btn').click();

        });
        var site_id = $('[name="site_id"]').val();
        table.render({
            elem: '#dataTable'
            ,url: "{:url('index')}?site_id="+site_id //数据接口
            ,page: true //开启分页
            ,skin: 'row'
            ,even: true
            ,limit: 20
            ,text: {
                none : '暂无相关数据'
            }
            ,cols: [[ //表头
//                {type:'checkbox'}
                {field: 'id', title: 'ID'}
                ,{field: 'site_id', title: '所属站点',templet: function (res) {
                    if(res.site){
                        return res.site.name;
                    }
                    return '--';
                }}
                ,{field: 'unique_code', title: '设备标识符'}
                ,{field: 'contorl_name', title: '设备监视名称'}
                ,{field: 'back_img', title: '背景图片', templet: '#picTpl'}
                ,{field: 'ctime', title: '添加时间'}
                ,{title: '操作', width: 160, templet: '#buttonTpl'}
            ]]
        });
    });
</script>