
    <link href="/static/plugins/bootstrap/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">

    <link rel="stylesheet" href="/static/layui-formSelects-master/dist/formSelects-v4.css">
    <link rel="stylesheet" href="/static/js/layui/css/layui.css?v=2.0.11">
    <link rel="stylesheet" href="/static/system/css/theme.css?v=2.0.11">
    <link rel="stylesheet" href="/static/system/css/style.css?v=2.0.11" media="all">
    <link rel="stylesheet" href="/static/fonts/typicons/min.css?v=2.0.11">
    <link rel="stylesheet" href="/static/fonts/font-awesome/min.css?v=2.0.11">

    <link rel="stylesheet" type="text/css" href="/static/tdrag/font-awesome-4.7.0/css/font-awesome.css">


    <style>
        .box {
            max-height: 700px;
            overflow-y: auto;
            overflow-x: visible;
        }

        .layui-upload-list {
            margin: 0;
        }
    </style>
    <style type="text/css">
        .btn-circle {
            width: 30px;
            height: 30px;
            padding: 6px 0;
            border-radius: 15px;
            text-align: center;
            font-size: 12px;
            line-height: 1.428571429;
        }
    </style>


</head>
<body>
    <div class="page-tab-content">
        <div class="layui-form-item">
        <fieldset class="layui-elem-field layui-field-title">
            <legend style="width: auto;border-bottom:none;">{$formData['contorl_name']}</legend>
        </fieldset>
        </div>
    <form class="layui-form" action="{:url()}" method="post" id="signupForm">
        <input type="hidden" name="id" class="form-control field-id" value="{$formData?$formData['id']:''}">
        <div name="btn_div" class="layui-form-item">
            <label class="layui-form-label w100"><i class="red"></i>按钮操作</label>

                {foreach $write_var_list as $key=>$value}
                {if $value['gateway_name'] == '按钮'}
                <!--目前按钮的操作值都是1-->
            <div class="layui-input-inline w100">
                <button data-control_value="1" data-var_id="{$value['id']}" type="button" class="layui-btn layui-btn-normal" lay-submit=""  lay-filter="formSubmit">{$value['var_alias']}</button> &nbsp;
            </div>
                {/if}
                {/foreach}

        </div>
        <div class="layui-form-item">
            <label class="layui-form-label w100"><i class="red"></i>写入值操作</label>
            <div class="layui-input-inline w200">
                <select name="var_id" class="field-type" type="select" lay-verify="" lay-filter="var_id">
                    <option value="">请选择变量</option>
                    {foreach $write_var_list as $key=>$value}
                    {if $value['gateway_name'] != '按钮'}
                    <option text="{$value['var_alias']}" value="{$value['id']}" gateway_name="{$value['gateway_name']}">{$value['var_alias']}</option>
                    {/if}
                    {/foreach}
                </select>
            </div>
        <!--</div>
        <div name="input_div" class="layui-form-item">-->
            <label class="layui-form-label"><i class="red"></i>写入值</label>
            <div class="layui-input-inline w200">
                <input type="text" class="layui-input contorl_contorl_name  field-contorl_name" id="control_value" name="control_value" value="" placeholder="写入值只能为数值">
            </div>
            <div class="layui-input-inline">
                <button id="sub_btn" type="button" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit">确定发送</button>
            </div>
        </div>


        <!--<div class="layui-form-item">

        </div>-->
    </form>

        <div class="layui-form-item">
            <div class="col-sm-12">


                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;font-size: 14px">


                    <div class="layui-upload-list" style="position: relative;width: 100%" id="cdpoint" >


                        <div id="content-point" class="boxList" style="position:absolute;width: 100%;top: 0;left: 0;height: 100%;transform-origin:center center">
                            <!-- ----------------------------------------------------  -->
                            <div name="print" id="print0" class="one div3 z_index_box" style="display: none; position: absolute; margin: 0px; z-index: 2002; left: 0px; top: 0px;">

                                <span name="scree" id="scree0" style="position:absolute;top: 95px; left: 229px;width: 13px;height: 13px;border-radius: 100px;background-color: #0be386"></span>
                                <div name="lab" id="lab0" style="position:absolute;top: 73px; left: 115px;/*background-color: rgba(255,255,255,0.3);*/font-size: 12px;color: black;width:110px">
                                    <!--<div class="editer_div" style="position: absolute;top: -33px;width:110px">

                                        <a class="btn btn-warning btn-circle editer" data-id="0" data-method="setTop"><i class="fa fa-pencil-square"></i>
                                        </a>
                                        <a class="btn btn-danger btn-circle deleter" data-id="0"><i class="fa fa-times"></i>
                                        </a>
                                        <a class="btn btn-info btn-circle Switch" data-id="0" title="层级切换"><i class="fa fa-random"></i>
                                        </a>
                                    </div>-->
                                    <label class="FValue" unit="unit">
                                        <span name="title_s" id="title_s0">MBR反洗自动</span><br>
                                    </label>
                                </div>
                                <div name="sj_lab" id="sj_lab0" style="position:absolute;top: 101px; left: 116px;{if $formData['is_back']==1}background-color: rgba(255,255,255,0.3);{/if}font-size: 12px;color: black;width:100px">
                                    <label class="FValue" unit="unit">
                                        <span>变量值占位</span>
                                    </label>
                                </div>
                            </div>

                        </div>



                        <!--id="content-point"-->
                        <div  style="width: 100%;" >
                            <img class="layui-upload-img" id="demo1" style="width:100%" src="{$formData?$formData['back_img']:''}" >
                            <p id="demoText"></p>
                        </div>


                    </div>
                </blockquote>
            </div>
        </div>
    </div>

<!-------------------------------------------------------------------------------------------------->
<script src="/static/js/jquery.2.1.4.min.js?v=2.1.4"></script>

<script src="/static/plugins/bootstrap/js/bootstrap.min.js?v=3.3.6"></script>

<script src="/static/js/layer/layer.js"></script>
<script src="/static/js/layui/layui.js?v=2.0.11"></script>
<script>
        var var_code_arr = {:json_encode($var_name_list)};
        var name_type = {:json_encode($name_type)};
        console.log('name_type',name_type,'-----------');
        function getRealdata() {
            $.ajax({
                url: "{:url('realdata_select')}",
                type: 'POST',
                data: {
//                    var_code: ['in',var_code_arr]
                    var_name: var_code_arr,
                    control_id: {$formData['id']},
                },
                dataType: 'json',
                beforeSend: function () {

                },
                success: function (result) {

                    if (result.status != 1) {
                        //parent.layer.msg(  result.message, {shift: 6});
                        return false;
                    }

                    var res = result.result;

                    $.each(res,function (index,value) {

                        var id = value['var_name'];
                        var unit = $('#sj_lab'.id).find('label').attr('unit');
                        $('#sj_lab'+id).find('span').html(value['value']+unit);//单位还没加

                        var dem = $('[name="print"][data-var_name="'+id+'"]');//$("."+value['var_code'].replace(/./g,'_'));

                        var dem_id = dem.attr("data-id");
                        var val_img = dem.attr("data-val_img");
                        var val_critical = dem.attr("data-val_critical");
                        var val_judge = dem.attr("data-val_judge");
                        var unit = dem.attr("data-unit");
                        var flo_num = dem.attr("data-flo_num");
                        var is_show = dem.attr("data-is_show");
                        var val_img_two = dem.attr("data-val_img_two");
                        var values = parseFloat(value['value']);
                        //console.log(dem);
                        //console.log(dem);
                        var color = val_img_two;
                        //bool型的直接设置成开和关的状态就好了
                        /*if(name_type[id] == 'Bool'){
                            if(values != 1){
                                color = val_img;
                                $("#sj_lab"+dem_id).find('span').text('关');
                            }else{
                                $("#sj_lab"+dem_id).find('span').text('开');
                            }
                        }else{*/
                            switch (val_judge){
                                case '>':

                                    if(values > val_critical ){
                                        color = val_img;
                                    }
                                    break;
                                case '>=':
                                    if(values >= val_critical){
                                        color = val_img;

                                    }
                                    break;
                                case '<':

                                    if(values < val_critical){
                                        color = val_img;

                                    }

                                    break;
                                case '<=':
                                    if(values <= val_critical ){
                                        color = val_img;
                                    }
                                    break;
                                case '=':
                                    if(values = val_critical ){
                                        color = val_img;
                                    }
                                    break;
                                default :
                                    if(val_critical > values){
                                        color = val_img;
                                    }
                            }
                            if(name_type[id] == 'Float'){
                                var value_co = parseFloat(value['value']);
                                var value_co = value_co.toFixed(flo_num);
                            }else{
                                value_co = value['value'];
                            }

                            //console.info($("#var_value"+dem_id));
//                        $("#var_value"+dem_id).text(value_co +" "+ unit);
                            $("#sj_lab"+dem_id).find('span').text(value_co +" "+ unit);
//                        }

                        var bg_co = [
                            '',
                            'rgba(65,200,11,0.8)',
                            'rgba(15,121,11,0.8)',
                            'rgba(248,236,16,0.8)',
                            'rgba(237,146,6,0.8)',
                            'rgba(237,4,23,0.8)'
                        ]

                        if(value['data_eq']!= 0){
                            $(".lb"+dem_id).css({'backgroundColor':bg_co[value['data_eq']],'color':'#ffffff'})
                        }else{
                            $(".lb"+dem_id).css({'backgroundColor':'rgba(255,255,255,'+ $(".lb"+dem_id).attr('data-c')+')','color':$(".lb"+dem_id).attr('data-color')})
                        }

                        if(value['data_eq']!= 0){
                            $(".sj_lb"+dem_id).css({'backgroundColor':bg_co[value['data_eq']],'color':'#ffffff'})
                        }else{
                            $(".sj_lb"+dem_id).css({'backgroundColor':'rgba(255,255,255,'+ $(".sj_lb"+dem_id).attr('data-c')+')','color':$(".sj_lb"+dem_id).attr('data-color')})
                        }



//                        console.log(values,val_judge,val_critical,'--------------dom_id-------------',color);
                        $("#scree"+dem_id).css("backgroundColor",color);



                    })



                },
                error: function (error) {
                    console.info(error);

                    parent.layer.msg('系统错误：' + error.status, {shift: 6});
                }
            });
        }
    //zjh----------------------------------
    var data_list = {},
        current_id = 0,
        max_index = 1;
    //zjh----------------------------------

    var box_id = 1;
    var cur_box = 1;
    var z_index = 100;
    var choose_arr = [];
    layui.config({
        base : '/static/layui-formSelects-master/dist/'
    }).extend({
        formSelects: 'formSelects-v4'
    }).use(['table', 'form', 'laydate','formSelects','upload'], function () {
        var $ = layui.jquery
        var table = layui.table;
        var form = layui.form;
        var laydate = layui.laydate;
        var upload = layui.upload;
        var formSelects = layui.formSelects;




        //zjh------------------------------start-add-node-------------------

        function getTop(obj) {
            var c_top = $(obj).offset().top;
            var p_top = $('#content-point').offset().top;
            var px_top = c_top - p_top;//top偏移值
            //偏移百分比
            var percent_top = px_top/($('#content-point').height())
            //按照值总的1000来算
            return percent_top*1000;
        }
        function getLeft(obj) {
            var c_left = $(obj).offset().left;
            var p_left = $('#content-point').offset().left;
            var px_left = c_left - p_left;//left偏移值
            //偏移百分比
            var percent_left = px_left/($('#content-point').width())
            return percent_left*1000;
        }
        //根据左偏移和上偏移设置点的位置，按总值1000来算,算出偏移百分比
        function setTopAndLeft(obj,left, top) {
            var percent_left = left/1000*100;
            var percent_top = top/1000*100;
//            $(obj).attr('left', percent_left+'%');
//            $(obj).attr('top', percent_top+'%');
            $(obj).offset({'left': percent_left+'%','top': percent_top+'%'});
        }



        function addNode(init_node_list) {

            function setTop(obj, top) {
                var p_width = $('#content-point').height();
                $(obj).css('top', top/1000*p_width+'px');//+$('#content-point').offset().top

            }
            function setLeft(obj, left) {;
                var p_height = $('#content-point').width();
                $(obj).css('left', left/1000*p_height+'px');//+$('#content-point').offset().left
            }
            function draw_node(node_data) {
                var node = $('.boxList').find('.div3:first').clone();
//            node.find('[name="print"]').attr('id', 'print'+max_index);
                console.log('node_data:',node_data);
                var id = node_data['id'];
//                var id = node_data.var_name;
                $(node).attr('id', 'print'+id);
                $(node).addClass(node_data['var_name']);
                $(node).attr('data-val_img', node_data['val_img'])
                    .attr('data-id', node_data['id'])
                    .attr('data-var_name', node_data['var_name'])
                    .attr('data-val_critical', node_data['val_critical'])
                    .attr('data-val_judge', node_data['val_judge'])
                    .attr('data-unit', node_data['unit'])
                    .attr('data-flo_num', node_data['flo_num'])
                    .attr('data-is_show', node_data['is_show'])
                    .attr('data-val_img_two', node_data['val_img_two']);
                $(node).width($('#content-point').width());
//            $(node).height($('#content-point').height());//不要高度，不然层级会有问题
//            $(node).attr('style',$(node).attr('style')+'width:'+$('#content-point').width()+'px;height:'+$('#content-point').height()+'px;')
//                console.log($(node).attr('style'));
                node.find('[name="scree"]').attr('id', 'scree'+id).height(node_data.img_size).width(node_data.img_size);
                node.find('[name="lab"]').attr('id', 'lab'+id);
                node.find('[name="lab"] a').attr('data-id', id);
                node.find('[name="sj_lab"]').attr('id', 'sj_lab'+id);
                node.find('[name="sj_lab"]').find('label').attr('unit', node_data.unit);
                node.find('[name="title_s"]').attr('id', 'title_s'+id).html(node_data.title);
                $('.boxList').append(node);
                setTop('#scree'+id, node_data.y);
                setLeft('#scree'+id, node_data.x);
                setTop('#lab'+id, node_data.val_y);
                setLeft('#lab'+id, node_data.val_x);
                setTop('#sj_lab'+id, node_data.sj_val_y);
                setLeft('#sj_lab'+id, node_data.sj_val_x);
                $('#title_s'+id).css('color', node_data.val_color).css('font-size', node_data.val_size+'px');
                $('#sj_lab'+id).css('color', node_data.sj_val_color).css('font-size', node_data.sj_val_size+'px');

//               //拖拽功能删除
                if(node_data['is_show'] == 1) {
                    node.show();
                }
            }
            if(init_node_list){
                console.log(init_node_list,'--- item ----');
                $.each(init_node_list, function (index, item) {
                    if(item){
                        draw_node(item);
                    }

                })
            }


        }



        {if isset($data_list)}
        //初始化渲染
        {foreach $data_list as $key=>$value}
        data_list[{$value['id']}] =  {:json_encode($value)};
        {/foreach}
        console.log('init----------',data_list);
        addNode(data_list);
        {/if}
        //------------------------------end-add-node-------------------


        //------------------------定时器获取数据-----------------------


        var timeoutId = window.setInterval(function () {

            getRealdata();

        },6000);
        getRealdata();
    })


</script>
<script>
    $("#test3").click(function () {
        $('#demo1').attr('src', "/uploads/blank/blank.jpg");
        $("#back_img").val("/uploads/blank/blank.jpg");
    })
</script>
<!--添加-->
<script>
    var p_time = {:session('device_pass.timeout')};

    function getUrlParam(name) { //封装方法
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg); //匹配目标参数
        if (r != null) return decodeURIComponent(r[2]);
        return null; //返回参数值
    }
    layui.use('form', function(){
        var form = layui.form;
        form.on('select(var_id)', function(data){
            var text = $(data.elem).find('option:selected').attr('gateway_name');
            /*if(data.value == ''){
                $("[name='btn_div']").addClass('hide');
                $("[name='input_div']").addClass('hide');
            }else if(text == '按钮'){
                $("[name='btn_div']").removeClass('hide');
                $("[name='input_div']").addClass('hide');
            }else{
                $("[name='btn_div']").addClass('hide');
                $("[name='input_div']").removeClass('hide');
            }*/

        });

        //监听提交
        form.on('submit(formSubmit)', function(data){
            var that = this;
            var current_time = (new Date()).getTime()/1000;
            if(!p_time || p_time<current_time){
                console.log('time:'+p_time,'curr'+current_time)
                var open_index = layer.open({
                    id:'test',
                    title:'请输入密码',
                    content: '<div style="position: relative;padding: 20px;line-height: 24px;word-break: break-all;overflow: hidden;font-size: 14px;overflow-x: hidden;overflow-y: auto;">密码：<input type="password" name="password"></div>'
                    ,type:1
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        if(!$('input[name="password"]').val()){
                            parent.layer.msg('请输入密码');
                            return false;
                        }
                        $.ajax({
                            url: "{:url('checkPass')}",
                            type: 'POST',
                            data: {password:$('input[name="password"]').val()},
                            dataType: 'json',
                            async: false,
                            beforeSend: function () {
                                layLoad = parent.layer.load(1, {
                                    shade: [0.5, '#000']
                                });
                            },
                            success: function (result) {
                                parent.layer.close(layLoad);
                                if (result.code != 1) {
                                    parent.layer.msg(result.msg, {shift: 6});
                                    return;
                                }else{
                                    layer.close(open_index);
                                    p_time = result.data;
                                    addControl(that);
                                }
                            },
                            error: function (error) {
                                parent.layer.close(layLoad);
                                parent.layer.msg('系统错误：' + error.status, {shift: 6});
                            }
                        });
                    }
                    ,btn2: function(index, layero){

                        //return false 开启该代码可禁止点击该按钮关闭
                    }
                    ,cancel: function(){
                        //右上角关闭回调

                        //return false 开启该代码可禁止点击该按钮关闭
                    }
                });
            }else {
                addControl(this);
            }

            return false;
        });

        function addControl(that) {
            var data = {};
            if($(that).hasClass('layui-btn-disabled')){
                return false;
            }
            $(that).addClass('layui-btn-disabled');

            if($(that).attr('id') && $(that).attr('id') == 'sub_btn'){ //写入值操作
                var control_value = $("[name='control_value']").val();
                if(control_value == ''){
                    layer.msg("请输入写入值");
                    $(that).removeClass('layui-btn-disabled');
                    return false;
                }
                var var_id = $('[name="var_id"]').val();
                if(var_id == ''){
                    layer.msg("请选择变量");
                    $(that).removeClass('layui-btn-disabled');
                    return false;
                }

            }else{ //按钮操作
                var control_value = $(that).attr('data-control_value');
                var var_id = $(that).attr('data-var_id');

            }
            data['var_id'] = var_id;
            data['control_value'] = control_value;
            var id = $('[name="id"]').val();
            if(!id){
                $(that).removeClass('layui-btn-disabled');
                layer.msg("请输入id值");
                return false;
            }
            data['id'] = id;
            var layLoad;

            $.ajax({
                url: "{:url('addControl')}",
                type: 'POST',
                data: data,
                dataType: 'json',
                async: false,
                beforeSend: function () {
                    layLoad = parent.layer.load(1, {
                        shade: [0.5, '#000']
                    });
                },
                success: function (result) {
                    setTimeout(function () {
                        $(that).removeClass('layui-btn-disabled');
                    },1000)

                    parent.layer.close(layLoad);
                    if (result.code != 1) {
                        parent.layer.msg('错误：' + result.msg, {shift: 6});
                        return;
                    }
                    parent.layer.msg('成功：' + result.msg, {shift: 6});
                    setTimeout(function () {
                        getRealdata();
                    },2000)

                },
                error: function (error) {
                    console.info(error);
                    parent.layer.close(layLoad);
                    parent.layer.msg('系统错误：' + error.status, {shift: 6});
                    $(this).removeClass('layui-btn-disabled');
                }
            });
        }




    })
</script>

<script>
    function win_close() {
        // var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        // parent.layer.close(index);
        // parent.$(".mark").remove();
        // parent.tableIns.reload();
        window.close();
    }
</script>
<!-------------------------------------------------------------------------------------------------->
