
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>付款处理</legend>
    </fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label w200">采购单号:{$finance_pay['p_order_sn']}</label>
        <div class="layui-input-inline w200">

        </div>
        <label class="layui-form-label w200">应付金额:¥{:number_format($finance_pay['payment_amount'], 2)}</label>
        <div class="layui-input-inline w200">

        </div>
        <label class="layui-form-label w200">已付金额:<span style="color:#5FB878">¥{:number_format($finance_pay['finish_amount'], 2)}</span></label>
        <div class="layui-input-inline w200">

        </div>
        <label class="layui-form-label w200">未付金额:<span class="red">¥{:number_format($finance_pay['payment_amount']-$finance_pay['finish_amount'], 2)}</span></label>
        <div class="layui-input-inline w200">

        </div>

    </div>
<form class="layui-form" action="" method="post" id="signupForm">
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="red">*</i>付款金额</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-pay_log_amount" name="pay_log_amount" lay-verify="required" autocomplete="off" placeholder="">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"><i class="red">*</i>付款日期</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input" lay-verify="required" name="pay_log_paytime" id="pay_log_paytime" placeholder="yyyy-MM-dd HH:mm:ss" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="red">*</i>付款人</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-pay_log_user" name="pay_log_user" lay-verify="required" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="red"></i>付款凭证</label>
        <div class="layui-input-inline w200">
            <button type="button" class="layui-btn" id="test2">上传凭证</button>
            <!--或者-->
            <input id="pay_file" name="pay_file" class="form-control field-pay_file" type="text"
                   style="width: 0px;height: 0px;padding: 0px" value="{$formData?$formData['pay_file']:''}"> <!-- 图片地址隐藏域-->
            <img src="" style="width: 50px" id="upload_pic" >
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">付款备注</label>
        <div class="layui-input-inline w600">
            <textarea name="pay_log_info" placeholder="" class="layui-textarea field-pay_log_info"></textarea>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" class="field-payable_id" name="payable_id" value="{$finance_pay['payable_id']}">
            <input type="hidden" class="field-admin_id" name="admin_id" value="{:ADMIN_ID}">
            <button class="layui-btn" lay-submit lay-filter="formSub">提交</button>
            <a href="javascript:;" onclick="win_close()" class="layui-btn layui-btn-primary ml10">取消</a>
        </div>
    </div>
</form>
<!--放大的显示图片-->
<img alt="" style="display:none" id="displayImg" src="" />
<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="javascript:;" onclick="delCell({{ d.goods_id }})" class="layui-btn layui-btn-xs layui-btn-danger">删除</a>
</script>
{include file="system@block/layui" /}
<script src="/static/js/jquery.2.1.4.min.js?v=2.1.4"></script>
<script>
    layui.use(['func','form','laydate','upload'], function() {
        var  $ = layui.jquery,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate,
            upload = layui.upload;
        // 编辑模式下表单自动赋值
        layui.func.assign({:json_encode($formData)});
        //日期时间选择器
        laydate.render({
            elem: '#pay_log_paytime'
            ,type: 'datetime'
//            ,value: new Date()
            ,isInitValue: true
        });
//普通图片上传
        var uploadInst = upload.render({
            elem: '#test2'
            , url: '{:url("system/annex/upload?water=&thumb=&from=&group=")}'
            , before: function (obj) {
                layLoad = parent.layer.load(1, {
                    shade: [0.5, '#000']
                });
                //预读本地文件示例，不支持ie8
                /* obj.preview(function (index, file, result) {
                 $('#demo1').attr('src', result); //图片链接（base64）
                 });*/
            }
            , done: function (res) {
                if (res.code == 0) {
                    parent.layer.close(layLoad);
                    return parent.layer.msg('错误：' + res.msg, {shift: 6});
                }
                $("#pay_file").val(res.data.file);
                $("#upload_pic").attr('src',res.data.file);
                $("#upload_pic").attr('onclick','amplificationImg("'+res.data.file+'")');

                parent.layer.close(layLoad);

                $(".choose").show();
                layer.msg('上传成功');

                //上传成功
            }
            , error: function () {
                //演示失败状态，并实现重传
                parent.layer.close(layLoad);
//                    uploadInst.upload();
                layer.msg('上传失败，请重试');
            }
        });
        //监听提交
        form.on('submit(formSub)', function(data){
            function isMoney(arg){ //22,111,22.11   判断是否是金额
                arg = arg.toString();
                argChar = "0123456789.,";
                var beginArg = arg.substring(0,1);
                if(beginArg == "." || beginArg==",")
                    return false;
                for(var i = 0;i<arg.length;i++){
                    if(argChar.indexOf(arg.substring(i,i+1)) == -1)  return false;

                    return true;
                }

            }
            var pay_log_amount = $('[name="pay_log_amount"]').val();
            if (pay_log_amount == '') {
                layer.msg("付款金额不能为空");
                return false;
            }
            if(!isMoney(pay_log_amount)){
                layer.msg("付款金额输入错误");
                return false;
            }

            if(pay_log_amount>{$finance_pay['payment_amount']-$finance_pay['finish_amount']}){
                layer.msg("付款金额不能大于未付金额");
                return false;
            }
            var layLoad;

            var serializeArray = $("#signupForm").serializeArray();  // 自动获取数据

            var data = {};
            serializeArray.forEach(function (value, index) {
                data[value.name] = value.value;
            })

            $.ajax({
                url: "{:url('pay')}",
                type: 'POST',
                data: data,
                dataType: 'json',
                async: false,
                beforeSend: function () {
                    layLoad = parent.layer.load(1, {
                        shade: [0.5, '#000']
                    });
                },
                success: function (result) {
                    parent.layer.close(layLoad);
                    if (result.code != 1) {
                        parent.layer.msg('错误：' + result.msg, {shift: 6});
                        return;
                    }
                    parent.layer.msg('成功：' + result.msg, {shift: 6});
                    setTimeout(function () {
                        window.location.href='{:url("index")}'
                    },1000)

                },
                error: function (error) {
                    console.info(error);
                    parent.layer.close(layLoad);
                    parent.layer.msg('系统错误：' + error.status, {shift: 6});
                }
            });
            return false;
        });




    });
    //点击放大图片
    function amplificationImg( url) {
        $("#displayImg").attr("src", url);
        var height = $("#displayImg").height();//拿的图片原来宽高，建议自定义宽高
        var width = $("#displayImg").width();
        layer.open({
            type: 1,
            title: false,
            closeBtn: 0,
            shadeClose: true,
            area: [width + 'px', height + 'px'], //宽高
            content: "<img src=" + url + " />"
        });
    }
</script>