<style>
    .line-padding{
        padding: 9px 4px;
        width: 200px;
    }
</style>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>{$goods['goods_name']}&nbsp;采购价格走势</legend>
</fieldset>
<div class="layui-form-item">
    <label class="layui-form-label w100"></label>
    <div class="layui-input-inline line-padding" style="height: 500px;width: 800px" id="echart">

    </div>
</div>


{include file="system@block/layui" /}
<script src="/static/js/jquery.2.1.4.min.js?v=2.1.4"></script>
<!-- 引入 ECharts 文件 -->
<script src="/static/plugins/echarts/echarts.min.js"></script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('echart'));
    option = {};
    myChart.setOption(option);

</script>
<script>
    var goods_content = {:json_encode($purchase_order_goods)};
    var x_data = new Array();
    var y_data = new Array();
    $.each(goods_content,function (index,item) {
        x_data.push(item['mtime']);
        y_data.push((item['p_goods_price']*1).toFixed(2));
    })
    option = {
        color: ['#3398DB'],
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        xAxis: {
            type: 'category',
            data: x_data,
            axisTick: {
                alignWithLabel: true
            }
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            name: '价格',
            data: y_data,
            type: 'bar'
        }]
    };
    myChart.setOption(option);




</script>