<!--<div class="weui-footer">
    <p class="weui-footer__links">
    </p>
    <p class="weui-footer__text">Copyright © 优米耐(福建)智能科技有限公司</p>
</div>-->
<style>

    .logo img {
        border-radius: 50%;
        display: inline-block;
        height: 87px;
        margin-right: 13px;
        position: relative;
        vertical-align: middle;
        width: auto;
        margin: 0 -25px 0 0;

    }
</style>
<div class="weui-footer weui-footer_fixed-bottom">
     <span class="logo">
            <img src="/static/img/log2.png">
        </span>
    <p class="weui-footer__links">
        <!--<a href="../index.html" class="weui-footer__link">WeUI首页</a>-->
    </p>
    <p class="weui-footer__text">Copyright © 优米耐(福建)智能科技有限公司</p>
</div>

</body>
</html>