<div class="weui-navs" navbar>
    <ul>
        <li class="nav-item">
            <a href="javascript:void(0);"><i class="icon nav-icon icon-49"></i><span>网站配置</span><i class="icon nav-more"></i></a>
            <ul>
                <li><a href="javascript:void(0);"><span>网站设置</span></a></li>
                <li><a href="javascript:void(0);"><span>友情链接</span></a></li>
                <li><a href="javascript:void(0);"><span>分类管理</span></a></li>
                <li><a href="javascript:void(0);"><span>系统日志</span></a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0);"><i class="icon nav-icon icon-49"></i><span>文章管理</span><i class="icon nav-more"></i></a>
            <ul>
                <li><a href="javascript:void(0);"><span>站内新闻</span></a></li>
                <li><a href="javascript:void(0);"><span>站内公告</span></a></li>
                <li><a href="javascript:void(0);"><span>登录日志</span></a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0);"><i class="icon nav-icon icon-49"></i><span>订单管理</span></a>

        </li>
        <li class="nav-item">
            <a href="javascript:void(0);"><i class="icon nav-icon icon-49"></i><span>我的主页设置菜单</span></a>

        </li>
        <li class="nav-item">
            <a href="javascript:void(0);"><i class="icon nav-icon icon-49"></i><span>新年愿望</span><i class="icon nav-more"></i></a>
            <ul>
                <li><a href="javascript:void(0);"><span>工作顺利</span></a></li>
                <li><a href="javascript:void(0);"><span>事事顺心</span></a></li>
                <li><a href="javascript:void(0);"><span>万事如意</span></a></li>
            </ul>
        </li>
    </ul>
</div>
<script >
    $(function(){
        $('.nav-item>a').on('click', function () {
            $(".weui-navs ul ul li").removeClass('active');
            $('.nav-item').children('ul').hide();
            if ($(this).next().css('display') == "none") {
                //展开
                $('.nav-item').children('ul').hide();
                $(this).next('ul').show();
                $(this).parent('li').addClass('nav-show').siblings('li').removeClass('nav-show');
            } else {
                //收缩
                $(this).next('ul').hide();
                $('.nav-item.nav-show').removeClass('nav-show');
            }
        });

    })

    var sidebarjs = new SidebarJS('navbar');
//    sidebarjs.setPosition('right');
</script>