<?php defined("IN_SYSTEM") or die("Access Denied");//防止模板被盗?>
<div class="layui-card">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                        <li>
                                <a href="{:plugins_url('payment/index/index')}">在线支付</a>
                            </li>
                        <li class="layui-this">
                                <a href="{:plugins_url('payment/index/log')}">支付日志</a>
                        </li>
                </ul>
                <div class="layui-tab-content page-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="page-toolbar">
    <div class="page-filter">
        <form class="layui-form" action="{:plugins_url('payment/index/log')}" method="get" id="searchForm">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" name="out_trade_no" lay-verify="required" placeholder="按订单号搜索" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="trade_no" lay-verify="required" placeholder="按交易号搜索" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline" style="width:120px">
                    <input type="text" name="member_id" lay-verify="required" placeholder="按用户标识搜索" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline" style="width:100px">
                    <select name="status" class="layui-input">
                        <option value="">支付状态</option>
                        <option value="0">支付失败</option>
                        <option value="1">待支付</option>
                        <option value="2">支付成功</option>
                    </select>
                </div>
                <button type="submit" class="layui-btn layui-btn-normal">筛选</button>
            </div>
        </form>
    </div>
</div>
{include file="system@block/layui" /}
<div class="layui-form">
    <table id="table"></table>
</div>
<script type="text/javascript">
    layui.use(['jquery', 'laydate', 'table'], function() {
        var payment = [];
        var $ = layui.jquery, laydate = layui.laydate, table = layui.table;
        table.render({
            elem: '#table'
            ,url: '{:plugins_url('payment/index/log')}' //数据接口
            ,page: true //开启分页
            ,limit: 15
            ,limits:[15, 30, 50, 100, 200]
            ,cellMinWidth: 90
            ,text: {
                none : '暂无相关数据'
            }
            ,cols: [[ //表头
                {field: 'member_id', title: '用户标识', width:90}
                ,{field: 'out_trade_no', title: '订单号'}
                ,{field: 'trade_no', width: 260, title: '支付平台交易号'}
                ,{field: 'value', width: 110, sort: true, title: '交易金额', templet: function(d) {
                    return d.value;
                }}
                ,{field: 'status', width: 120, title: '交易状态', sort: true, templet: function(d) {
                    if (d.status == 0) {
                        return '支付失败';
                    } else if (d.status == 1) {
                        return '待支付';
                    } else {
                        return '支付成功';
                    }
                }}
                ,{field: 'ctime', title: '创建时间', sort: true}
                ,{title: '操作', width: 180, templet: function(d) {
                    return '<a href="{:plugins_url('payment/index/del')}?id='+d.id+'" class="j-tr-del layui-btn layui-btn-xs layui-btn-danger">删除</a>';
                }}
            ]]
        });

        // 筛选
        $('#searchForm').submit(function(){
            var that = $(this), arr = that.serializeArray(), whereObj = {};
            for(var i in arr) {
                whereObj[arr[i].name] = arr[i].value;
            }
            
            table.reload('table', {
              url: '{:plugins_url('payment/index/log')}',
              where: whereObj
            });
            return false;
        });

        laydate.render({
            elem: '#dateFilter'
            ,range: true
        });
    });
</script>