<style>
    .layui-upload-img {
        width: 92px;
        height: 92px;
        margin: 0 10px 10px 0;
    }
    #upload_img_list {
        margin: 10px 0 0 0
    }
    #upload_img_list dd {
        position: relative;
        margin: 0 10px 10px 0;
        float: left
    }
    #upload_img_list .operate {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1
    }
    #upload_img_list .operate i {
        cursor: pointer;
        background: #2F4056;
        padding: 2px;
        line-height: 15px;
        text-align: center;
        color: #fff;
        margin-left: 1px;
        float: left;
        filter: alpha(opacity=80);
        -moz-opacity: .8;
        -khtml-opacity: .8;
        opacity: .8
    }
    #upload_img_list dd .img {
        max-height: 100px;
        max-width: 200px
    }
</style>
<form class="layui-form" action="{:url()}" method="post" id="editForm">
    <div class="layui-form-item">
        <label class="layui-form-label w200"><i class="red">*</i>监控名称</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-name" name="name" lay-verify="required" autocomplete="off" placeholder="请填写监控名称">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label w200"><i class="red"></i>所属站点</label>
        <div class="layui-input-inline">
            <select name="site_id" class="field-site_id" type="select" lay-verify="" lay-search="" >
                <option value="">请选择站点</option>
                {foreach $sites as $key=>$value}
                <option value="{$key}">{$value}</option>
                {/foreach}
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label w200"><i class="red"></i>关联设备</label>
        <div class="layui-input-inline">
            <select name="device_id" class="field-device_id" type="select" lay-verify="" lay-search="" >
                <option value="">请选择关联设备</option>
                {foreach $device_list as $key=>$value}
                <option value="{$key}">{$value}</option>
                {/foreach}
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label w200"><i class="red">*</i>设置监控图片</label>
        <div class="layui-upload layui-input-inline w100">
            <button type="button" class="layui-btn" id="upload_img">上传图片</button>
        </div>
        <div id="upload_img_list">
            <dd class="item_img" {$formData&&$formData['pic']?'':'style="display:none"'}>
                <div>
                    <div class="operate">
                        <i onclick=UPLOAD_IMG_DEL(this) class="close layui-icon"></i>
                    </div>
                    <img src="{$formData?$formData['pic']:''}" class="img" >
                    <input type="hidden" name="pic" value="" class="field-pic"/>
                </div>
            </dd>

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label w200"><i class="red">*</i>应用appKey</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-app_key" name="app_key" lay-verify="required" autocomplete="off" placeholder="请填写应用appKey">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label w200"><i class="red">*</i>应用appSecret</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-app_secret" name="app_secret" lay-verify="required" autocomplete="off" placeholder="请填写应用appSecret">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label w200"><i class="red">*</i>设备序列号</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-device_serial" name="device_serial" lay-verify="required" autocomplete="off" placeholder="请填写设备序列号">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label w200"><i class="red">*</i>设备验证码</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-device_code" name="device_code" lay-verify="required" autocomplete="off" placeholder="请填写验证码">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label w200"><i class="red"></i>设备通道</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-channel_no" name="channel_no" lay-verify="" autocomplete="off" placeholder="请填写设备通道（默认为1）">
        </div>
    </div>
    <!--<div class="layui-form-item">
        <label class="layui-form-label w200">视频是否加密</label>
        <div class="layui-input-inline">
            <input type="radio" name="is_encrypt" value="1" title="是" {if !$formData||$formData['is_encrypt']==1}checked=""{/if}>
            <input type="radio" name="is_encrypt" value="0" title="否" {if $formData&&$formData['is_encrypt']==0}checked=""{/if}>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>-->

    <div class="layui-form-item">
        <div class="layui-input-block ">
            <input type="hidden" class="field-id" name="id">
            <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit">提交</button>
            <a href="{:url('index')}" class="layui-btn layui-btn-primary ml10">返回</a>
        </div>
    </div>
</form>
{include file="system@block/layui" /}
<script>
    layui.use(['func'], function() {
        var $ = layui.jquery, layer = layui.layer, func = layui.func;
        // 编辑模式下表单自动赋值
        func.assign({:json_encode($formData)});
        console.log({:json_encode($formData)});


    });
</script>
<script src="/static/js/jquery.2.1.4.min.js?v=2.1.4"></script>
<script>
    /*
     上传参数设定
     */
    var upurl =  '{:url("system/annex/upload?water=&thumb=&from=&group=")}';//上传图片地址
    /*
     上传图片
     */
    layui.use(['upload','form'], function() {
        var upload = layui.upload;
        var form = layui.form;
        upload.render({
            elem: '#upload_img',
            url: upurl,
            multiple: false,
            exts: 'jpg|jpeg|png',
            before: function(obj) {
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
                console.log(obj);
            },
            done: function(res) {
                layer.close(layer.msg());//关闭上传提示窗口
                if(res.code == 0){
                    layer.msg(res.msg)
                }

                $('#upload_img_list').find('.item_img').show();
                $('#upload_img_list').find('img').attr('src',res.data.file);
                $('#upload_img_list').find('[name="pic"]').val(res.data.file);
            }
        })
    });
    /*
     删除上传图片
     */
    function UPLOAD_IMG_DEL(obj) {
        $(obj).parents('dd.item_img').hide();
        $(obj).parents('dd.item_img').find('img').attr('src','');
        $(obj).parents('dd.item_img').find('[name="pic"]').val('')
    }


</script>