<style type="text/css">
    .layui-form-select dl{z-index:9999;}
</style>
<form class="layui-form" action="{:url()}" method="post" id="editForm">
    <div class="layui-form-item">
        <label class="layui-form-label w100">供应商分类编码</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-supplier_category_code" name="supplier_category_code" lay-verify="required" autocomplete="off" placeholder="请填写分类编码">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label w100">供应商分类名称</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-supplier_category_name" name="supplier_category_name" lay-verify="required" autocomplete="off" placeholder="请填写分类名称">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" class="field-supplier_category_id" name="supplier_category_id">
            <input type="hidden" class="field-admin_id" name="admin_id" value="{:ADMIN_ID}">
            <button type="submit" class="layui-btn layui-btn-normal" hisi-data="{pop: true, refresh: true}" lay-submit="" lay-filter="formSubmit">提交</button>
            <a href="javascript:parent.layui.layer.closeAll();" class="layui-btn layui-btn-primary ml10">取消</a>
        </div>
    </div>
</form>
{include file="system@block/layui" /}
<script>
    layui.use(['func'], function() {
        // 编辑模式下表单自动赋值
        layui.func.assign({:json_encode($formData)});
    });
</script>