{include file="/common/head" /}
{include file="/common/top" /}
    <script src="/static/weui/js/php.js"></script>
    <script>
        var pagesize=15;//每页数据条数
        var loading = false;  //状态标记
        var page = 1;
        var maxpage;

        function ajaxpage(page){
            $.ajax({
                type:"post",
                url:'{:url("index")}',
                data: {"page":page,"limit":pagesize,ajax:2},
                dataType:'json',
                timeout:10000,
                beforeSend:function(xhr){
                    $('.weui-loadmore').show();
                },
                success:function(rs){
                    console.log(rs['data']);
                    $('.weui-loadmore').hide();
                    $("#rank-list").append(tpl(document.getElementById('tpl').innerHTML,rs));

                    var maxpage = Math.ceil(rs.count / pagesize);
                    sessionStorage['maxpage'] = maxpage;

                    if(page==maxpage){
                        $(document.body).destroyInfinite();
                        $('.weui-loadmore').show().html("没有更多数据了");
                    }
                },
                error:function(xhr){
                    alert('ajax出错');
                },
            });


        }

        $(function(){
            $(document.body).infinite(100).on("infinite", function() {
                if(loading) return;
                loading = true;
                setTimeout(function() {
                    maxpage = sessionStorage['maxpage'];
                    if(page<maxpage) {
                        page++;
                        ajaxpage(page);

                    }
                    loading = false;
                }, 1500);   //模拟延迟
            });

            var l = sessionStorage.getItem('index_list');
            if(null !== l && '' !== l){
                $("#rank-list").html(l);
                $(window).scrollTop(sessionStorage.getItem('index_scroll'));
                page = sessionStorage.getItem('index_page');
                sessionStorage.removeItem('index_list');
                sessionStorage.removeItem('index_page');
                sessionStorage.removeItem('index_scroll');
            }else{
                ajaxpage(1);
            }
        });
        const goto=(id)=>{
            sessionStorage.setItem('index_list',$("#rank-list").html());//存储列表数据
            sessionStorage.setItem('index_page',page);//存储页码
            sessionStorage.setItem('index_scroll',$(window).scrollTop());//存储滚动条位置
            location.href="{:url('show')}?id="+id;
        }
    </script>


<!--<div class="page-hd">
    <h1 class="page-hd-title">
        滚动加载
    </h1>
    <p class="page-hd-desc">插件方法实现,和非插件功能一样</p>
</div>-->
<div class="weui-cells"  id="rank-list">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p style="color: #3cc51f;">设备名称</p>
        </div>
        <div class="" style="color: #3cc51f;"></div>
    </div>

        <script id="tpl" type="text/html">
            <% for(var i in list) {   %>
            <a class="weui-cell weui-cell_access " data-id="<%=list[i].id%>" href="javascript:;" title="<%=list[i].contorl_name%>" onclick="goto(<%=list[i].id%>)">
                <div class="weui-cell__bd">
                    <p><%=list[i].contorl_name%></p>
                </div>
                <div class="weui-cell__ft">
                    <span style="vertical-align:middle; font-size: 17px;"> </span>
                </div>
            </a>
            <!--<div class="weui-cell hand" data-id="<%=list[i].id%>" onclick="goto(<%=list[i].id%>)">
                <div class="weui-cell__bd">
                    <p><%=i%>、 <%=list[i].contorl_name%></p>
                </div>
                <div class="weui-cell__ft"> > </div>
            </div>-->
            <% } %>
        </script>
</div>
<div class="weui-loadmore hide">
    <i class="weui-loading"></i>
    <span class="weui-loadmore__tips">正在加载</span>
</div>


<br>
<br>
{include file="/common/footer" /}