{include file="/common/head" /}
{include file="/common/top" /}
<!--<link href="/static/plugins/bootstrap/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">-->
<!--<link rel="stylesheet" href="/static/js/layui/css/layui.css?v=2.0.11">-->

<style type="text/css">
    .FValue{
        transform: scale(0.90);
        -webkit-transform:scale(0.90);  /*兼容-webkit-引擎浏览器*/
        -moz-transform:scale(0.90);     /*兼容-moz-引擎浏览器*/
        display: block;
        font-weight: 700;
        width: auto;
    }
</style>

<div class="weui-cells weui-cells_form" style=" margin-top:0; padding: 0 15px;">

    <!--<div class="page-hd">

        <span></span>
        <h1 class="page-hd-title">
            {$formData['contorl_name']}
        </h1>
    </div>-->
    <div style="padding: 10px 0px;">
        <div class="weui-flex__item" style="position:relative">
            <div id="content-point" class="boxList weui-flex__item" style="position:absolute;width: 100%;top: 0;left: 0;height: 100%;transform-origin:center center">
                <!-- ----------------------------------------------------  -->
                <div name="print" id="print0" class="one div3 z_index_box" style="display: none; position: absolute; margin: 0px; z-index: 2002; left: 0px; top: 0px;">

                    <span name="scree" id="scree0" style="position:absolute;top: 95px; left: 229px;width: 13px;height: 13px;border-radius: 100px;background-color: #0be386"></span>
                    <div name="lab" id="lab0" style="position:absolute;top: 73px; left: 115px;/*background-color: rgba(255,255,255,0.3);*/font-size: 3vw;color: black;width:auto;">
                        <label class="FValue" unit="unit">
                            <span name="title_s" id="title_s0">MBR反洗自动</span><br>
                        </label>
                    </div>
                    <div name="sj_lab" id="sj_lab0" style="position:absolute;top: 101px; left: 116px;{if $formData['is_back']==1}background-color: rgba(255,255,255,0.3);{/if}font-size: 3vw;color: black;width:auto;">
                        <label class="FValue" unit="unit">
                            <span>变量值占位</span>
                        </label>
                    </div>
                </div>

            </div>
            <img id="back_img" src="{$formData['back_img']}" class="img-max">
        </div>
        <div class="weui-cell" style="font-size: 14px;">
            <div class="weui-cell__hd" style="width: 30%;"><label for="job" class="weui-label">写入变量</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="job" type="text" value="" name="var_id" placeholder="请选择变量">
            </div>
        </div>
        <div class="weui-cell weui-cell_vcode" style="font-size: 14px;">
            <div class="weui-cell__hd" style="width: 30%;">
                <label class="weui-label" >写入值</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" placeholder="请输入具体值" type="number" name="control_value">
            </div>
            <div class="weui-cell__ft">
                <button class="weui-vcode-btn" id="write_btn" onclick="clickBtn(this)" data-var_id="" data-control_value="">确定发送</button>
            </div>
        </div>
        <div style="margin: 10px 0 0;">
            {foreach $write_var_list as $key=>$value}
            {if $value['gateway_name'] == '按钮'}
            <!--目前按钮的操作值都是1-->
            <a style="width: 49%" data-control_value="1" data-control_value="1" data-var_id="{$value['id']}" href="javascript:;" class="weui-btn weui-btn_primary weui-btn_mini" onclick="clickBtn(this)">
                <i class="weui-loading" style="display: none"></i>{$value['var_alias']}
            </a>
            {/if}
            {/foreach}
        </div>

    </div>



</div>
<br>
<br>
<br>
<br>
<br>
{include file="/common/footer" /}
<script src="/static/js/jquery.2.1.4.min.js?v=2.1.4"></script>
<script src="/static/js/layer/layer.js"></script>
<script src="/static/js/layui/layui.js?v=2.0.11"></script>
<script>
    var jq = jQuery.noConflict();
    var items = {:json_encode($write_text)};
    $("#job").select({
        title: "写入值变量名",
        items: items,
        onChange: function(d) {
            console.log(this, d);
        },
        onClose: function() {
            console.log("close");
        },
        onOpen: function() {
            console.log("open");
        },
    });

</script>

<script>
    var p_time = '{:session('device_pass.timeout')}';
    function clickBtn(obj) {
        if($(obj).attr('id')=='write_btn'){
            var var_id = $('[name="var_id"]').val();
            if(!var_id){
                layer.msg('请选择变量', {time: 2000});
                return false;
            }
            var control_value = $('[name="control_value"]').val();
            if(!control_value){
                layer.msg('请输入变量值', {time: 2000});
                return false;
            }
            $(obj).attr('data-var_id', var_id);
            $(obj).attr('data-control_value', control_value);
        }
        //<a href="javascript:;" class="weui-btn weui-btn_default weui-btn_loading"><i class="weui-loading"></i>灰色loading</a>
        var current_time = (new Date()).getTime()/1000;
        if(!p_time || p_time<current_time){
            console.log('time:'+p_time,'curr'+current_time)
            var open_index = layer.open({
                id:'test',
                title:'请输入密码',
                content: '<div style="position: relative;padding: 20px;line-height: 24px;word-break: break-all;overflow: hidden;font-size: 14px;overflow-x: hidden;overflow-y: auto;">密码：<input type="password" name="password"></div>'
                ,type:1
                ,btn: ['确定', '取消']
                ,yes: function(index, layero){
                    if(!$('input[name="password"]').val()){
                        parent.layer.msg('请输入密码');
                        return false;
                    }
                    $.ajax({
                        url: "{:url('checkPass')}",
                        type: 'POST',
                        data: {password:$('input[name="password"]').val()},
                        dataType: 'json',
                        async: false,
                        beforeSend: function () {

                        },
                        success: function (result) {
//                            parent.layer.close(layLoad);
                            if (result.code != 1) {
                                layer.msg(result.msg, {time: 2000});
                                return;
                            }else{
                                layer.close(open_index);
                                p_time = result.data;
                                addControl(obj);
                            }
                        },
                        error: function (error) {
                            parent.layer.close(layLoad);
                            parent.layer.msg('系统错误：' + error.status, {time: 2000});
                        }
                    });
                }
                ,btn2: function(index, layero){

                    //return false 开启该代码可禁止点击该按钮关闭
                }
                ,cancel: function(){
                    //右上角关闭回调

                    //return false 开启该代码可禁止点击该按钮关闭
                }
            });
        }else {
            addControl(obj);
        }

    }

    function addControl(obj) {
        if($(obj).hasClass('weui-btn_loading')){
            return false;
        }
        $(obj).addClass('weui-btn_loading');
        $(obj).find('i').show();//removeClass('hide');
        var data = { };
        data['var_id'] = $(obj).attr('data-var_id');
        data['control_value'] = $(obj).attr('data-control_value');
        data['id'] = {$formData['id']};
        $.ajax({
            url: "{:url('addControl')}",
            type: 'POST',
            data: data,
            dataType: 'json',
            async: false,
            beforeSend: function () {

            },
            success: function (result) {
                setTimeout(function () {
                    $(obj).removeClass('weui-btn_loading');
                    $(obj).find('i').hide();//addClass('hide');
                },1000)

                if (result.code != 1) {
                    layer.msg('错误：' + result.msg, {shift: 6});
                    return;
                }
                layer.msg('成功：' + result.msg, {shift: 6});
                setTimeout(function () {
                    getRealdata();
                },2000)

            },
            error: function (error) {
                console.info(error);
                layer.msg('系统错误：' + error.status, {shift: 6});
                $(this).removeClass('layui-btn-disabled');
            }
        });
    }


    var var_code_arr = {:json_encode($var_name_list)};
    var name_type = {:json_encode($name_type)};
    console.log('name_type',name_type,'-----------');
    function getRealdata() {
        jq.ajax({
            url: "{:url('realdata_select')}",
            type: 'POST',
            data: {
//                    var_code: ['in',var_code_arr]
                var_name: var_code_arr,
                control_id: {$formData['id']},
            },
            dataType: 'json',
            beforeSend: function () {

            },
            success: function (result) {

                if (result.status != 1) {
                    //parent.layer.msg(  result.message, {shift: 6});
                    return false;
                }

                var res = result.result;
                jq.each(res,function (index,value) {

                    var id = value['var_name'];
                    var unit = jq('#sj_lab'.id).find('label').attr('unit');
                    jq('#sj_lab'+id).find('span').html(value['value']+unit);//单位还没加

                    var dem = jq('[name="print"][data-var_name="'+id+'"]');//$("."+value['var_code'].replace(/./g,'_'));

                    var dem_id = dem.attr("data-id");
                    var val_img = dem.attr("data-val_img");
                    var val_critical = dem.attr("data-val_critical");
                    var val_judge = dem.attr("data-val_judge");
                    var unit = dem.attr("data-unit");
                    unit = unit==0?'':unit;
                    var flo_num = dem.attr("data-flo_num");
                    var is_show = dem.attr("data-is_show");
                    var val_img_two = dem.attr("data-val_img_two");
                    var values = parseFloat(value['value']);
                    //console.log(dem);
                    //console.log(dem);
                    var color = val_img_two;
                    //bool型的直接设置成开和关的状态就好了
                    /*if(name_type[id] == 'Bool'){
                        if(values != 1){
                            color = val_img;
                            jq("#sj_lab"+dem_id).find('span').text('关');
                        }else{
                            jq("#sj_lab"+dem_id).find('span').text('开');
                        }
                    }else{*/
                        switch (val_judge){
                            case '>':

                                if(values > val_critical ){
                                    color = val_img;
                                }
                                break;
                            case '>=':
                                if(values >= val_critical){
                                    color = val_img;

                                }
                                break;
                            case '<':

                                if(values < val_critical){
                                    color = val_img;

                                }

                                break;
                            case '<=':
                                if(values <= val_critical ){
                                    color = val_img;
                                }
                                break;
                            case '=':
                                if(values = val_critical ){
                                    color = val_img;
                                }
                                break;
                            default :
                                if(val_critical > values){
                                    color = val_img;
                                }
                        }
                    if(name_type[id] == 'Float'){
                        var value_co = parseFloat(value['value']);
                        var value_co = value_co.toFixed(flo_num);
                    }else{
                        value_co = value['value'];
                    }
                        //console.info($("#var_value"+dem_id));
//                        $("#var_value"+dem_id).text(value_co +" "+ unit);
                        jq("#sj_lab"+dem_id).find('span').text(value_co +" "+ unit);
//                    }

                    var bg_co = [
                        '',
                        'rgba(65,200,11,0.8)',
                        'rgba(15,121,11,0.8)',
                        'rgba(248,236,16,0.8)',
                        'rgba(237,146,6,0.8)',
                        'rgba(237,4,23,0.8)'
                    ]

                    if(value['data_eq']!= 0){
                        jq(".lb"+dem_id).css({'backgroundColor':bg_co[value['data_eq']],'color':'#ffffff'})
                    }else{
                        jq(".lb"+dem_id).css({'backgroundColor':'rgba(255,255,255,'+ $(".lb"+dem_id).attr('data-c')+')','color':$(".lb"+dem_id).attr('data-color')})
                    }

                    if(value['data_eq']!= 0){
                        jq(".sj_lb"+dem_id).css({'backgroundColor':bg_co[value['data_eq']],'color':'#ffffff'})
                    }else{
                        jq(".sj_lb"+dem_id).css({'backgroundColor':'rgba(255,255,255,'+ $(".sj_lb"+dem_id).attr('data-c')+')','color':$(".sj_lb"+dem_id).attr('data-color')})
                    }



//                        console.log(values,val_judge,val_critical,'--------------dom_id-------------',color);
                    jq("#scree"+dem_id).css("backgroundColor",color);



                })



            },
            error: function (error) {
                console.info(error);

                parent.layer.msg('系统错误：' + error.status, {shift: 6});
            }
        });
    }
    //zjh----------------------------------
    var data_list = {};
//    layui.use(['form'], function () {
//        var $ = layui.jquery;

        //zjh------------------------------start-add-node-------------------

        function getTop(obj) {
            var c_top = $(obj).offset().top;
            var p_top = $('#content-point').offset().top;
            var px_top = c_top - p_top;//top偏移值
            //偏移百分比
            var percent_top = px_top/($('#content-point').height())
            //按照值总的1000来算
            return percent_top*1000;
        }
        function getLeft(obj) {
            var c_left = $(obj).offset().left;
            var p_left = $('#content-point').offset().left;
            var px_left = c_left - p_left;//left偏移值
            //偏移百分比
            var percent_left = px_left/($('#content-point').width())
            return percent_left*1000;
        }
        //根据左偏移和上偏移设置点的位置，按总值1000来算,算出偏移百分比
        function setTopAndLeft(obj,left, top) {
            var percent_left = left/1000*100;
            var percent_top = top/1000*100;
            $(obj).offset({'left': percent_left+'%','top': percent_top+'%'});
        }



        function addNode(init_node_list) {

            function setTop(obj, top) {
                var p_width = $('#content-point').height();
                $(obj).css('top', top/1000*p_width+'px');//+$('#content-point').offset().top

            }
            function setLeft(obj, left) {;
                var p_height = $('#content-point').width();
                $(obj).css('left', left/1000*p_height+'px');//+$('#content-point').offset().left
            }
            function draw_node(node_data) {
                var node = $('.boxList').find('.div3:first').clone();
                console.log('node_data:',node_data);
                var id = node_data['id'];
                $(node).attr('id', 'print'+id);
                $(node).addClass(node_data['var_name']);
                $(node).attr('data-val_img', node_data['val_img'])
                    .attr('data-id', node_data['id'])
                    .attr('data-var_name', node_data['var_name'])
                    .attr('data-val_critical', node_data['val_critical'])
                    .attr('data-val_judge', node_data['val_judge'])
                    .attr('data-unit', node_data['unit'])
                    .attr('data-flo_num', node_data['flo_num'])
                    .attr('data-is_show', node_data['is_show'])
                    .attr('data-val_img_two', node_data['val_img_two']);
                $(node).width($('#content-point').width());
                node.find('[name="scree"]').attr('id', 'scree'+id).height(node_data.img_size/6+'vw').width(node_data.img_size/6+'vw');
                node.find('[name="lab"]').attr('id', 'lab'+id);
                node.find('[name="lab"] a').attr('data-id', id);
                node.find('[name="sj_lab"]').attr('id', 'sj_lab'+id);
                node.find('[name="sj_lab"]').find('label').attr('unit', node_data.unit);
                node.find('[name="title_s"]').attr('id', 'title_s'+id).html(node_data.title);
                $('.boxList').append(node);
                setTop('#scree'+id, node_data.y);
                setLeft('#scree'+id, node_data.x);
                setTop('#lab'+id, node_data.val_y);
                setLeft('#lab'+id, node_data.val_x);
                setTop('#sj_lab'+id, node_data.sj_val_y);
                setLeft('#sj_lab'+id, node_data.sj_val_x);
//                $('#title_s'+id).css('color', node_data.val_color).css('font-size', node_data.val_size+'px');
                $('#title_s'+id).css('color', node_data.val_color).css('font-size', '3vm');
//                $('#sj_lab'+id).css('color', node_data.sj_val_color).css('font-size', node_data.sj_val_size+'px');
                $('#sj_lab'+id).css('color', node_data.sj_val_color).css('font-size', '3vm');
//               //拖拽功能删除
                if(node_data['is_show'] == 1) {
                    node.show();
                }
            }
            if(init_node_list){
                console.log(init_node_list,'--- item ----');
                $.each(init_node_list, function (index, item) {
                    if(item){
                        draw_node(item);
                    }

                })
            }

        }
        {if isset($data_list)}
        //初始化渲染
        {foreach $data_list as $key=>$value}
        data_list[{$value['id']}] =  {:json_encode($value)};
        {/foreach}
        console.log('init----------',data_list);
        addNode(data_list);
        {/if}
        //------------------------------end-add-node-------------------


        //------------------------定时器获取数据-----------------------
        var timeoutId = window.setInterval(function () {

            getRealdata();

        },6000);
        getRealdata();
//    })
</script>