{include file="/common/head" /}
{include file="/common/top" /}
<!--<div class="page-hd">
    <h1 class="page-hd-title">
        九宫格/十六宫格/25宫格
    </h1>
    <p class="page-hd-desc">十六宫格是扩展</p>
</div>-->

<div class="weui-grids"  >
    <a href="{:url('videoList')}" class="weui-grid js_grid"  >
        <div class="weui-grid__icon">
            <img src="/static/site/image/video2.jpg" alt="">

        </div>
        <p class="weui-grid__label f-green">
            视频列表
        </p>
    </a>
    <a href="{:url('index')}" class="weui-grid js_grid" >
        <div class="weui-grid__icon">
            <img src="/static/site/image/device.jpg" alt="">
        </div>
        <p class="weui-grid__label f-green">
            设备列表
        </p>
    </a>
    <a href="javascript:;" class="weui-grid js_grid" >
        <div class="weui-grid__icon">
            <img src="/static/site/image/comingSoon.png" alt="">
        </div>
        <p class="weui-grid__label f-green">
            敬请期待
        </p>
    </a>
    <!--<a href="javascript:;" class="weui-grid js_grid" >
        <div class="weui-grid__icon">
            <img src="../images/icon_nav_dialog.png" alt="">
        </div>
        <p class="weui-grid__label">
            弹出框
        </p>
    </a>
    <a href="javascript:;" class="weui-grid js_grid" >
        <div class="weui-grid__icon">
            <img src="../images/icon_nav_progress.png" alt="">
        </div>
        <p class="weui-grid__label">
            进度条
        </p>
    </a>
    <a href="javascript:;" class="weui-grid js_grid" >
        <div class="weui-grid__icon">
            <img src="../images/icon_nav_msg.png" alt="">
        </div>
        <p class="weui-grid__label">
            消息
        </p>
    </a>
    <a href="javascript:;" class="weui-grid js_grid" >
        <div class="weui-grid__icon">
            <img src="../images/icon_nav_article.png" alt="">
        </div>
        <p class="weui-grid__label">
            文章
        </p>
    </a>
    <a href="javascript:;" class="weui-grid js_grid" >
        <div class="weui-grid__icon">
            <img src="../images/icon_nav_actionSheet.png" alt="">
        </div>
        <p class="weui-grid__label">
            菜单
        </p>
    </a>
    <a href="javascript:;" class="weui-grid js_grid" >
        <div class="weui-grid__icon">
            <img src="../images/icon_nav_icons.png" alt="">
        </div>
        <p class="weui-grid__label">
            图标
        </p>
    </a>
    <a href="javascript:;" class="weui-grid js_grid" >
        <div class="weui-grid__icon">
            <img src="../images/icon_nav_panel.png" alt="">
        </div>
        <p class="weui-grid__label">
            面板
        </p>
    </a>
    <a href="javascript:;" class="weui-grid js_grid" >
        <div class="weui-grid__icon">
            <img src="../images/icon_nav_tab.png" alt="">
        </div>
        <p class="weui-grid__label">
            Tab
        </p>
    </a>
    <a href="javascript:;" class="weui-grid js_grid" >
        <div class="weui-grid__icon">
            <img src="../images/icon_nav_search_bar.png" alt="">
        </div>
        <p class="weui-grid__label">
            搜索
        </p>
    </a>-->
</div>
{include file="/common/footer" /}