<div class="page-toolbar">
    <div class="layui-btn-group fl">
        <a href="{:url('add')}" class="layui-btn layui-btn-primary layui-icon layui-icon-add-circle-fine j-iframe-pop" title="添加部门" width="460" height="270">&nbsp;添加</a>
    </div>
</div>
<div id="demo"></div>
<!--<script src="/static/js/layui/layui.js"></script>-->

{include file="block/layui" /}
<script src="/static/js/jquery.2.1.4.min.js?v=2.1.4"></script>
<script type="text/javascript" src="/static/js/layui/lay/modules/newtree.js"></script>
<script type="text/javascript">


    var layout = [
//        { name: 'ID', headerClass: 'value_col', colClass: 'value_col', style: 'width: 10%' },
        { name: '菜单名称', treeNodes: true, headerClass: 'value_col', colClass: 'value_col', style: 'width: 60%' },
        {
            name: '操作',
            headerClass: 'value_col',
            colClass: 'value_col',
            style: 'width: 30%',
            render: function(row) {
                var html = '';
                html += '<a href="{:url('edit')}?id='+row['id']+'" title="编辑" class="j-iframe-pop"><i class="layui-icon">&#xe642;</i></a>';
                html += '<a href="{:url('add')}?pid='+row['id']+'" title="添加子菜单" class="j-iframe-pop"><i class="layui-icon">&#xe654;</i></a>';
                html += '<a href="{:url('del')}?id='+row['id']+'" title="删除" class="j-tr-del"><i class="layui-icon">&#xe640;</i></a>';
                return html; //列渲染
            }
        },
    ];
    console.log({:json_encode($list)});

    layui.use(['form', 'tree', 'layer'], function() {
        var layer = layui.layer;

        layui.treeGird({
            elem: '#demo', //传入元素选择器
            nodes: {:json_encode($list)}
            /*[{
                "id": "1",
                "name": "父节点1",
                "children": [{
                    "id": "11",
                    "name": "子节点11"
                },
                    {
                        "id": "12",
                        "name": "子节点12"
                    }
                ]
            },
                {
                    "id": "2",
                    "name": "父节点2",
                    "children": [{
                        "id": "21",
                        "name": "子节点21",
                        "children": [{
                            "id": "211",
                            "name": "子节点211"
                        }]
                    }]
                }
            ]*/,
            layout: layout
        });
    });
</script>
