<style type="text/css">
    .layui-form-select dl{z-index:9999;}
</style>
<form class="layui-form" action="{:url()}" method="post" id="editForm">
    <!--<div class="layui-form-item">
        <label class="layui-form-label">所属站点</label>
        <div class="layui-input-inline w200">
            <select name="site_id" class="field-site_id" type="select" lay-verify="">
                <option value="">请选择所属站点</option>
                {foreach $site as $key=>$value}
                <option value="{$value.id}">{$value.name}</option>
                {/foreach}
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>-->
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="red">*</i>读写类型</label>
        <div class="layui-input-inline w200">
            <select name="type" class="field-type" type="select" lay-verify="required" lay-filter="typeChange">
                <option value="">请选择分类</option>
                <option value="1">读变量</option>
                <option value="2">写变量</option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="red">*</i>数据类型</label>
        <div class="layui-input-inline w200">
            <select name="data_type" class="field-data_type" type="select" lay-verify="required">
                <option value="">请选择类型</option>
                <option value="Byte">Byte</option>
                <option value="Bool">Bool</option>
                <option value="Word">Word</option>
                <option value="Float">Float</option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label id="var_name" class="layui-form-label"><i class="red">*</i>变量符号</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-var_name" name="var_name" lay-verify="required" autocomplete="off" placeholder="">
        </div>
        <label id="var_name_lab" class="layui-form-label w300" style="text-align: left;">注：变量符号不能重复</label>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
            <label class="layui-form-label"><i class="red">*</i>变量名称</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-var_alias" name="var_alias" lay-verify="required" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
            <label class="layui-form-label"><i class="red">*</i>区名称</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-partition_type" name="partition_type" lay-verify="required" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
            <label class="layui-form-label"><i class="red">*</i>组名称</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-gateway_name" name="gateway_name" lay-verify="required" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
            <label class="layui-form-label"><i class="red">*</i>设备名称</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-dev_name" name="dev_name" lay-verify="required" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="red"></i>变量分类</label>
        <div class="layui-input-inline w200">
            <select name="class_type" class="field-class_type" type="select" lay-verify="">
                <option value="">请选择分类</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">最低值</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input field-min" name="min" lay-verify="" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">最高值</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input field-max" name="max" lay-verify="" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">定时记录时间</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input field-trigtime" name="trigtime" lay-verify="" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux">s</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">变化触发阈值</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input field-sc_trig" name="sc_trig" lay-verify="" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">低低报警</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input field-lim_LL" name="lim_LL" lay-verify="" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">低报警</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input field-lim_L" name="lim_L" lay-verify="" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">高报警</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input field-lim_H" name="lim_H" lay-verify="" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">高高报警</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input field-lim_HH" name="lim_HH" lay-verify="" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" class="field-id" name="id">
            <input type="hidden" class="field-admin_id" name="admin_id" value="{:ADMIN_ID}">
            <button type="submit" class="layui-btn layui-btn-normal" hisi-data="{pop: true, refresh: true}" lay-submit="" lay-filter="formSubmit">提交</button>
            <a href="javascript:parent.layui.layer.closeAll();" class="layui-btn layui-btn-primary ml10">取消</a>
        </div>
    </div>
</form>
{include file="system@block/layui" /}
<script>
    layui.use(['func','form'], function() {
        // 编辑模式下表单自动赋值
        layui.func.assign({:json_encode($formData)});

        var form = layui.form, $ = layui.jquery;
        form.on('select(typeChange)', function(data){
            if(data.value == 2){ //写
                $('#var_name').html('<i class="red">*</i>寻址编码');
                $('#var_name_lab').html('注：寻址编码不能重复且不能大于65535');
            }else{ //读
                $('#var_name').html('<i class="red">*</i>变量符号');
                $('#var_name_lab').html('注：变量符号不能重复');
            }

        });
    });
</script>