<div class="page-toolbar">
    <div class="page-filter fr">
        <form class="layui-form layui-form-pane" action="{:url()}" method="get" id="hisi-table-search">
            <div class="layui-form-item">
                <!--<label class="layui-form-label"></label>-->
                <div class="layui-input-inline">
                    <select name="type" class="field-type" type="select" lay-verify="required" lay-filter="typeChange">
                        <option value="">请选择读写分类</option>
                        <option value="1">读变量</option>
                        <option value="2">写变量</option>
                    </select>
                </div>

                <div class="layui-input-inline">
                    <input type="text" name="keyword" lay-verify="required" placeholder="输入变量名称搜索" class="layui-input">
                </div>
                <button id="search_btn" class="layui-btn" lay-active="e1">搜索</button>
                <!--<label class="layui-form-label">搜索</label>-->
            </div>
        </form>
    </div>
    <div class="layui-btn-group fl">
        <a href="{:url('addConfig')}" target="_blank" class="layui-btn layui-btn-primary layui-icon layui-icon-add-circle-fine j-iframe-pop">&nbsp;添加</a>
    </div>
</div>
<table id="dataTable"></table>
{include file="block/layui" /}
<script type="text/html" id="picTpl">
    <div class="layui-table-cell laytable-cell-1-0-3">
        <img src="{{ d.back_img }}" height="" onerror="javascript:this.src='/static/img/img_bad.jpg'">
    </div>
</script>
<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="{:url('editConfig')}?id={{ d.id }}" target="_blank" class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop">修改</a>
    <!--<a href="{:url('del')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>-->
</script>
<script type="text/javascript">
    layui.use(['util', 'table'], function() {
        var table = layui.table
            , util = layui.util
            , form = layui.form
            , $ = layui.jquery;
        form.on('select(typeChange)', function(data){
            $('#search_btn').click();

        });
        table.render({
            elem: '#dataTable'
            ,url: "{:url('varConfigList')}" //数据接口
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print']
            ,page: true //开启分页
            ,skin: 'row'
            ,even: true
            ,limit: 20
            ,text: {
                none : '暂无相关数据'
            }
            ,cols: [[ //表头
//                {type:'checkbox'}
                {field: 'id', title: 'ID',width: 70}
                /*,{field: 'site', title: '所属站点',templet:function (res) {
                    if(res['site']){
                        return res['site']['name'];
                    }else{
                        return '--';
                    }
                }}*/
                ,{field: 'type', title: '读写类型',templet:function (res) {
                    if(res['type'] == 1){
                        return '读变量';
                    }else{
                        return '写变量';
                    }
                }}
                ,{field: 'data_type', title: '数据类型'}
                ,{field: 'var_name', title: '变量代码'}
                ,{field: 'var_alias', title: '变量名称',width: 150,}
                ,{field: 'partition_type', title: '区名称',width: 130,}
                ,{field: 'gateway_name', title: '组名称',width: 130}
                ,{field: 'dev_name', title: '设备名称'}
                ,{field: 'mtime', title: '更新时间'}
                ,{title: '操作', width: 160, templet: '#buttonTpl'}
            ]]
        });

        //处理属性 为 lay-active 的所有元素事件
        util.event('lay-active', {
            e1: function(){
//                layer.msg('触发了事件1');
            }
            ,e2: function(){
                layer.msg('触发了事件2');
            }
        });
    });
</script>