<link rel="stylesheet" href="/static/layui-formSelects-master/dist/formSelects-v4.css">
<form class="layui-form layui-form-pane" action="{:url()}" method="get">
    <div class="">
        <div class="page-tab-content">


            <div class="layui-form-item">
                <label class="layui-form-label">时间范围</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="start_time" id="start_time" placeholder="yyyy-MM-dd HH:mm:ss" value="{$formData.start_time}">
                </div>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="end_time" id="end_time" placeholder="yyyy-MM-dd HH:mm:ss" value="{$formData.end_time}">
                </div>
                <label class="layui-form-label">监控站点</label>
                <div class="layui-input-inline">
                    <select name="monitor_id" class="field-monitor_id" type="select" lay-verify="">
                        {foreach $device_monitors as $key=>$value}
                        <option value="{$key}">{$value}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">区名</label>
                    <div class="layui-input-inline">
                        <select name="partition_type" class="partition_type i_change o_change" lay-search id="partition_type" xm-select="partition_type"
                                data-url="{:url('site/DeviceMonitor/select_partition_type')}" data-key="partition_type" data-value="partition_type"
                                data-del = "gateway_name,dev_name,var_name" data-need = ""
                        >
                            <option value="">全选</option>

                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">组名</label>
                    <div class="layui-input-inline">
                        <select name="gateway_name" class="i_change o_change" lay-search id="gateway_name" xm-select="gateway_name"
                                lay-filter="gateway" data-url="{:url('site/DeviceMonitor/gateway_select')}"  data-key="gateway_name" data-value="gateway_name"
                                data-del = "dev_name,var_name" data-need = "partition_type"
                        >
                            <option value="">全选</option>

                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">设备名</label>
                    <div class="layui-input-inline">
                        <select name="dev_name" class="i_change o_change" lay-search lay-filter="ins" xm-select="dev_name" data-key="dev_name" data-value="dev_name"
                                id="dev_name" data-url="{:url('site/DeviceMonitor/instrument_select')}"    data-del = "var_name" data-need = "partition_type,gateway_name">
                            <option value="">全选</option>

                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">变量名</label>
                    <div class="layui-input-inline w300">
                        <select lay-verify="" name="var_name" class="i_change" name="var_name" id="var_name" xm-select="var_name"  xm-select-radio  xm-select-search
                                data-url="{:url('site/DeviceMonitor/varlist_select')}" data-key="var_name" data-value="var_alias" data-need = "partition_type,gateway_name,dev_name">
                            <option value="">全选</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button id="sub_btn" type="button" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="*">搜索</button>
                </div>

            </div>

        </div>
    </div>
    <hr>
</form>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md12" id="main" style="height: 400px">

        </div>
    </div>
</div>
<!--<div id="main" style="width: 600px;height:400px;"></div>-->
{include file="block/layui" /}
<script src="/static/js/jquery.2.1.4.min.js?v=2.1.4"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.min.js?v=3.3.6"></script>

<!-- 引入 ECharts 文件 -->
<script src="/static/plugins/echarts/echarts.min.js"></script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    option = {};
    myChart.setOption(option);

</script>
<script type="text/javascript">
    layui.config({
        base : '/static/layui-formSelects-master/dist/'
    }).extend({
        formSelects: 'formSelects-v4'
    }).use(['formSelects','laydate','form','util'], function() {
        var $ = layui.jquery
            ,laydate = layui.laydate
            ,util = layui.util
            ,form = layui.form
            ,formSelects = layui.formSelects;

        //日期时间选择器
        laydate.render({
            elem: '#start_time'
            ,type: 'datetime'
//            ,value: new Date()
            ,isInitValue: true
        });
        laydate.render({
            elem: '#end_time'
            ,type: 'datetime'
//            ,value: new Date()
            ,isInitValue: true
        });
        //监听提交
        form.on('submit(*)', function(data){
            /*var var_name = formSelects.value('var_name', 'valStr');
            if (var_name == '') {

                parent.layer.msg('请选择具体变量!', {shift: 6});
                return false;
            }*/
            var serializeArray = $("form").serializeArray();  // 自动获取数据

            var data = {};
            serializeArray.forEach(function (value, index) {
                data[value.name] = value.value;
            })
            $.ajax({
                type: "GET",
                url: "{:url()}",
                data: data,
                dataType: "json",
                success: function(data){
                    if(data['code'] == 0){
                        if(data['count'] == 0){
                            layer.msg('暂无数据');
                            option = {};
                            myChart.setOption(option);
                            return false;
                        }
                        var x_data = data['x_data']?data['x_data']:[];
                        var y_data = data['y_data'];
                        var legend = data['legend'];
                        option = {
                            title: {
                                text: '统计图'
                            },
                            tooltip: {
                                trigger: 'axis'
                            },
                            legend: {
//                                data: ['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎']
                                data: legend
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '3%',
                                containLabel: true
                            },
                            toolbox: {
                                feature: {
                                    saveAsImage: {}
                                }
                            },
                            xAxis: {
                                type: 'category',
                                boundaryGap: false,
//                                data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                                data:x_data
                            },
                            yAxis: {
                                type: 'value'
                            },
                            series: y_data/*[
                                {
                                    name: '邮件营销',
                                    type: 'line',
                                    stack: '总量',
                                    data: [120, 132, 101, 134, 90, 230, 210]
                                },
                                {
                                    name: '联盟广告',
                                    type: 'line',
                                    stack: '总量',
                                    data: [220, 182, 191, 234, 290, 330, 310]
                                },
                            ]*/
                        };


                        // 使用刚指定的配置项和数据显示图表。
                        console.log('option',option);
                        myChart.setOption(option);
                        myChart.resize();
                    }
                }
            });
        });
        setTimeout($('#sub_btn').click(),200);

        $(".i_change").each(function (index,value) {
            //console.log(this);
            var $this = $(this);
            var demoId = $this.attr('id');
            var key = $this.attr('data-key');
            var value = $this.attr('data-value');
            var url = $this.attr('data-url');
            select_I(demoId,key,value,url,{});
        })


        $(".o_change").each(function (index,value) {
            //console.log(this);
            var $this = $(this);
            var demoId = $this.attr('id');

            o_change(demoId);
        })


        function o_change(demoId) {

            //分组变动  设备变动
            formSelects.on(demoId, function(id, vals, val, isAdd, isDisabled){


                var selected = [];
                $.each(vals,function (index,value) {
                    selected.push(value['value'])

                })
                var this_value = val.value;

                if(isAdd){
                    if(selected.indexOf(this_value)  == -1){
                        selected.push(this_value)
                    }

                }else{
                    var c = selected.indexOf(this_value)
                    if( c != -1){
                        selected.splice(c,1);
                    }
                }

                var s = selected.join(",");



                var $this = $("#"+demoId);

                var datadel = $this.attr('data-del');
                var datadel =datadel.split(',');




                $.each(datadel,function (index,value) {

                    var $this = $("#"+value);
                    var demoId_key = $this.attr('id');
                    var key = $this.attr('data-key');
                    var value_key = $this.attr('data-value');
                    var url = $this.attr('data-url');

                    var data_need = $this.attr('data-need');
                    data_need = data_need.split(',');

                    var data = {};
                    $.each(data_need,function (indexs,values) {

                        if(values == demoId){

                            if(s != ''){
                                data[values] = ['in',s];
                            }

                        }
                        else{
                            var v = formSelects.value(values, 'valStr');
                            if(v != ''){
                                data[values] = ['in',formSelects.value(values, 'valStr')];
                            }

                        }


                    });



                    select_I(demoId_key,key,value_key,url,data);

                })
            });

        }

        function select_I(demo,key,value,url,data) {
            formSelects.data(demo, 'local', {
                arr: []
            });
            $.ajax({
                url: url,
                type: 'POST',
                data: data,
                dataType: 'json',
                beforeSend: function () {
                    // layLoad = parent.layer.load(1, {
                    //     shade: [0.5, '#000']
                    // });

                },
                success: function (result) {

                    //parent.layer.close(layLoad);

                    if (result.status != 1) {
                        // parent.layer.msg(result.message, {shift: 6});
                        return false;
                    }
                    var dataarr = result.result;

                    //  var str = '<option value="">全选</option>';
                    var arrdata = [];
                    $.each(dataarr, function (ind, val) {
                        // str += '<option value="' + val.gateway_name + '">' + val.gateway_name + '</option>';
                        // $('#gateway_name').html(str);

                        var list = {};

                        list['name'] = val[value];
                        list['value'] = val[key];
                        arrdata.push(list);


                    })

                    console.log(arrdata);
                    formSelects.data(demo, 'local', {
                        arr: arrdata
                    });
                    //  formSelects.render();
                },
                error: function (error) {
                    // parent.layer.close(layLoad);
                    layer.msg('系统错误：' + error.status, {shift: 6});
                }
            });
        }
    });
</script>