<link rel="stylesheet" href="/static/layui-formSelects-master/dist/formSelects-v4.css">
<form class="layui-form layui-form-pane" action="{:url()}" method="get" id="hisi-table-search">
<div class="">
    <div class="page-tab-content">


            <div class="layui-form-item">
                <label class="layui-form-label">时间范围</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="start_time" id="start_time" placeholder="yyyy-MM-dd HH:mm:ss" value="{$formData.start_time}">
                </div>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="end_time" id="end_time" placeholder="yyyy-MM-dd HH:mm:ss" value="{$formData.end_time}">
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">区名</label>
                    <div class="layui-input-inline">
                        <select name="partition_type" class="partition_type i_change o_change" lay-search id="partition_type" xm-select="partition_type"
                                data-url="{:url('site/DeviceMonitor/select_partition_type')}" data-key="partition_type" data-value="partition_type"
                                data-del = "gateway_name,dev_name,var_name" data-need = ""
                        >
                            <option value="">全选</option>

                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">组名</label>
                    <div class="layui-input-inline">
                        <select name="gateway_name" class="i_change o_change" lay-search id="gateway_name" xm-select="gateway_name"
                                lay-filter="gateway" data-url="{:url('site/DeviceMonitor/gateway_select')}"  data-key="gateway_name" data-value="gateway_name"
                                data-del = "dev_name,var_name" data-need = "partition_type"
                        >
                            <option value="">全选</option>

                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">设备名</label>
                    <div class="layui-input-inline">
                        <select name="dev_name" class="i_change o_change" lay-search lay-filter="ins" xm-select="dev_name" data-key="dev_name" data-value="dev_name"
                                id="dev_name" data-url="{:url('site/DeviceMonitor/instrument_select')}"    data-del = "var_name" data-need = "partition_type,gateway_name">
                            <option value="">全选</option>

                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">变量名</label>
                    <div class="layui-input-inline w300">
                        <select name="var_name" class="i_change" name="var_name" id="var_name" xm-select="var_name"  xm-select-radio  xm-select-search
                                data-url="{:url('site/DeviceMonitor/varlist_select')}" data-key="var_name" data-value="var_alias" data-need = "partition_type,gateway_name,dev_name">
                            <option value="">全选</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <input type="text" name="keyword" lay-verify="required" placeholder="输入变量名称搜索" class="layui-input">
                </div>
                <button id="search_btn" class="layui-btn" lay-active="e1">搜索</button>
            </div>
            <div class="layui-form-item">



            </div>

    </div>
</div>
<!--<hr>-->
<div class="page-toolbar">
    <!--<div class="page-filter fr">
        <div class="layui-input-inline">
            <input type="text" name="keyword" lay-verify="required" placeholder="输入变量名称搜索" class="layui-input">
        </div>
        <button id="search_btn" class="layui-btn" lay-active="e1">搜索</button>
    </div>-->
    <div class="layui-btn-group fl">
        <!--<a href="{:url('add')}" target="_blank" class="layui-btn layui-btn-primary layui-icon layui-icon-add-circle-fine">&nbsp;添加</a>-->
    </div>
</div>
</form>
<table id="dataTable"></table>
{include file="block/layui" /}
<script type="text/html" id="picTpl">
    <div class="layui-table-cell laytable-cell-1-0-3">
        <img src="{{ d.back_img }}" height="" onerror="javascript:this.src='/static/img/img_bad.jpg'">
    </div>
</script>
<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="{:url('show')}?id={{ d.id }}" target="_blank" class="layui-btn layui-btn-xs layui-btn-warm">查看</a>
    <a href="{:url('edit')}?id={{ d.id }}" target="_blank" class="layui-btn layui-btn-xs layui-btn-normal">修改</a>
    <a href="{:url('del')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
</script>
<script src="/static/js/jquery.2.1.4.min.js?v=2.1.4"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.min.js?v=3.3.6"></script>

<script type="text/javascript">
    layui.use(['table','laydate'], function() {
        var laydate = layui.laydate;

        //日期时间选择器
        laydate.render({
            elem: '#start_time'
            ,type: 'datetime'
//            ,value: new Date()
            ,isInitValue: true
        });
        laydate.render({
            elem: '#end_time'
            ,type: 'datetime'
//            ,value: new Date()
            ,isInitValue: true
        });
        var table = layui.table;
        var start_time = $('#start_time').val();
        var end_time = $('#end_time').val();
        table.render({
            elem: '#dataTable'
            ,url: "{:url('index')}?start_time="+start_time+"&end_time="+end_time //数据接口
            ,page: true //开启分页
            ,skin: 'row'
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print'
                /*, { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }*/
            ]
            ,even: true
            ,limit: 20
            ,text: {
                none : '暂无相关数据'
            }
            ,cols: [[ //表头
//                {type:'checkbox'}
//                {field: 'id', title: 'ID',width:90}
                ,{field: 'var_alias', title: '变量名',width:150}
                ,{field: 'value', title: '记录值'}
                ,{field: 'data_eq', title: '数据质量'}
                ,{field: 'data_scale', title: '数据变化率'}
                ,{field: 'refreshtime', title: '时间',width:180}
                ,{field: 'record_type', title: '记录方式',templet:function (res) {
                    //记录方式：0、定时记录1、突变记录2、突变点记录
                    if(res.record_type==1){
                        return '突变记录';
                    }else if(res.record_type==2){
                        return '突变点记录';
                    }else{
                        return '定时记录';
                    }
                }}
                ,{field: 'partition_type', title: '区名',width:150}
                ,{field: 'gateway_name', title: '组名'}
                ,{field: 'dev_name', title: '设备名'}
            ]]
        });
//        $('#search_btn').click();
    });
    layui.config({
        base : '/static/layui-formSelects-master/dist/'
    }).extend({
        formSelects: 'formSelects-v4'
    }).use(['formSelects'], function() {
        var $ = layui.jquery
            ,formSelects = layui.formSelects;
        $(".i_change").each(function (index,value) {
            //console.log(this);
            var $this = $(this);
            var demoId = $this.attr('id');
            var key = $this.attr('data-key');
            var value = $this.attr('data-value');
            var url = $this.attr('data-url');
            select_I(demoId,key,value,url,{});
        })


        $(".o_change").each(function (index,value) {
            //console.log(this);
            var $this = $(this);
            var demoId = $this.attr('id');

            o_change(demoId);
        })


        function o_change(demoId) {

            //分组变动  设备变动
            formSelects.on(demoId, function(id, vals, val, isAdd, isDisabled){


                var selected = [];
                $.each(vals,function (index,value) {
                    selected.push(value['value'])

                })
                var this_value = val.value;

                if(isAdd){
                    if(selected.indexOf(this_value)  == -1){
                        selected.push(this_value)
                    }

                }else{
                    var c = selected.indexOf(this_value)
                    if( c != -1){
                        selected.splice(c,1);
                    }
                }

                var s = selected.join(",");



                var $this = $("#"+demoId);

                var datadel = $this.attr('data-del');
                var datadel =datadel.split(',');




                $.each(datadel,function (index,value) {

                    var $this = $("#"+value);
                    var demoId_key = $this.attr('id');
                    var key = $this.attr('data-key');
                    var value_key = $this.attr('data-value');
                    var url = $this.attr('data-url');

                    var data_need = $this.attr('data-need');
                    data_need = data_need.split(',');

                    var data = {};
                    $.each(data_need,function (indexs,values) {

                        if(values == demoId){

                            if(s != ''){
                                data[values] = ['in',s];
                            }

                        }
                        else{
                            var v = formSelects.value(values, 'valStr');
                            if(v != ''){
                                data[values] = ['in',formSelects.value(values, 'valStr')];
                            }

                        }


                    });



                    select_I(demoId_key,key,value_key,url,data);

                })
            });

        }

        function select_I(demo,key,value,url,data) {
            formSelects.data(demo, 'local', {
                arr: []
            });
            $.ajax({
                url: url,
                type: 'POST',
                data: data,
                dataType: 'json',
                beforeSend: function () {
                    // layLoad = parent.layer.load(1, {
                    //     shade: [0.5, '#000']
                    // });

                },
                success: function (result) {

                    //parent.layer.close(layLoad);

                    if (result.status != 1) {
                        // parent.layer.msg(result.message, {shift: 6});
                        return false;
                    }
                    var dataarr = result.result;

                    //  var str = '<option value="">全选</option>';
                    var arrdata = [];
                    $.each(dataarr, function (ind, val) {
                        // str += '<option value="' + val.gateway_name + '">' + val.gateway_name + '</option>';
                        // $('#gateway_name').html(str);

                        var list = {};

                        list['name'] = val[value];
                        list['value'] = val[key];
                        arrdata.push(list);


                    })

                    console.log(arrdata);
                    formSelects.data(demo, 'local', {
                        arr: arrdata
                    });
                    //  formSelects.render();
                },
                error: function (error) {
                    // parent.layer.close(layLoad);
                    layer.msg('系统错误：' + error.status, {shift: 6});
                }
            });
        }
    });
</script>