<style type="text/css">
    .layui-form-select dl{z-index:9999;}
</style>
<form class="layui-form" action="{:url()}" method="post" id="editForm">
    <div class="layui-form-item">
        <label class="layui-form-label">客户分类</label>
        <div class="layui-input-inline w200">
            <select name="customer_category_id" class="field-customer_category_id" type="select" lay-verify="required">
                <option value="">请选择分类</option>
                {$category|raw}
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">必填项</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">客户名称</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-customer_name" name="customer_name" lay-verify="required" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux">必填项</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">客户编码</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-customer_code" name="customer_code" lay-verify="required" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux">必填项</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">联系人</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-customer_contacts" name="customer_contacts" lay-verify="" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">手机号码</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-customer_phone" name="customer_phone" lay-verify="mobile" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">座机号码</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-customer_telephone" name="customer_telephone" lay-verify="telephone" autocomplete="off" placeholder="">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">电子邮箱</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-customer_email" name="customer_email" lay-verify="email" autocomplete="off" value="" >
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>

    <div class="layui-form-item" id="area-picker">
        <label class="layui-form-label">地区</label>
        <div class="layui-input-inline" style="width: 200px;">
            <select name="province" class="province-selector field-customer_province" data-value="{$formData?$formData['province']:''}" lay-filter="province-1">
                <option value="">请选择省</option>
            </select>
        </div>
        <div class="layui-input-inline" style="width: 200px;">
            <select name="city" class="city-selector field-customer_city" data-value="{$formData?$formData['city']:''}" lay-filter="city-1">
                <option value="">请选择市</option>
            </select>
        </div>
        <div class="layui-input-inline" style="width: 200px;">
            <select name="county" class="county-selector field-customer_county" data-value="{$formData?$formData['county']:''}" lay-filter="county-1">
                <option value="">请选择区</option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">必填项</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">详细地址</label>
        <div class="layui-input-inline w600">
            <textarea name="customer_address" placeholder="" class="layui-textarea field-customer_address"></textarea>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">开户银行</label>
        <div class="layui-input-inline w300">
            <input type="text" class="layui-input field-customer_bank" name="customer_bank" lay-verify="" autocomplete="off" value="" >
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">开户账号</label>
        <div class="layui-input-inline w300">
            <input type="text" class="layui-input field-customer_bank_account" name="customer_bank_account" lay-verify="" autocomplete="off" value="" >
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">税号</label>
        <div class="layui-input-inline w300">
            <input type="text" class="layui-input field-customer_tax" name="customer_tax" lay-verify="" autocomplete="off" value="" >
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-inline w600">
            <textarea name="customer_info" placeholder="" class="layui-textarea field-customer_info"></textarea>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" class="field-admin_id" name="admin_id" value="{:ADMIN_ID}">
            <input type="hidden" class="field-customer_id" name="customer_id">
            <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit">提交</button>
            <a href="{:url('index')}" class="layui-btn layui-btn-primary ml10">返回</a>
        </div>
    </div>
</form>
{include file="system@block/layui" /}
<script>
    //配置插件目录
    layui.use(['layer', 'form', 'layarea'], function () {
        var layer = layui.layer
            , form = layui.form
            , layarea = layui.layarea;

        layarea.render({
            elem: '#area-picker',
            change: function (res) {
                //选择结果
                console.log(res);
            }
        });

        form.verify({
            mobile:function(value, item){
                if(value==''){
                    return '';
                } else{
                    var ver =/(^$)|^1\d{10}$/;//[/^1\d{10}$/
                    if (!ver.test(value)) {
                        return '请输入正确的手机号';
                    }
                }
            },
            telephone:function(value, item){
                if(value==''){
                    return '';
                } else{
                    var ver =/^(\(\d{3,4}\)|\d{3,4}-|\s)?\d{7,14}$/;//[/^1\d{10}$/
                    if (!ver.test(value)) {
                        return '请输入正确的电话号码';
                    }
                }
            },
            email:function(value, item){
                if(value==''){
                    return '';
                } else{
                    var ver =/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;//[/^1\d{10}$/
                    if (!ver.test(value)) {
                        return '请输入正确的邮箱地址';
                    }
                }
            }
        });
    });
    layui.use(['func'], function() {
        var $ = layui.jquery,
            layer = layui.layer,
            func = layui.func;
        // 编辑模式下表单自动赋值
        func.assign({:json_encode($formData)});
        console.log({:json_encode($formData)});

    });


</script>