<br>
<br>
<!--js5.html tabbar-->
<div class="weui-tabbar tab-bottom">
    <a href="/index" class="weui-tabbar__item">
                    <span style="display: inline-block;position: relative;">
                        <i class="icon icon-27 f27 weui-tabbar__icon"></i>
                        <!--未读数据-->
                        <!--<span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>-->
                    </span>
        <p class="weui-tabbar__label">站点概览</p>
    </a>
    <!--当前选中菜单  weui-bar__item_on-->
    <a href="/site/videoList" class="weui-tabbar__item">
        <i class="icon icon-81 f27 weui-tabbar__icon"></i>
        <p class="weui-tabbar__label">视频列表</p>
    </a>
    <a href="/index/xunjian" class="weui-tabbar__item">
        <span style="display: inline-block;position: relative;">
            <i class="icon icon-64 f27 weui-tabbar__icon"></i>
            <!--<span class="weui-badge weui-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>-->
        </span>
        <p class="weui-tabbar__label">手机巡检</p>
    </a>
    <a href="/member/index" class="weui-tabbar__item">
        <i class="icon icon-101 f27 weui-tabbar__icon"></i>
        <p class="weui-tabbar__label">个人设置</p>
    </a>
</div>