<div class="weui-btn_primary weui-header ">
    <div class="weui-header-left">
        {if $Request.controller!='Index' || $Request.action!='welcome'}
        <a onclick="javascript:window.history.back(-1)" class="icon icon-109 f-white"></a>
        {/if}
    </div>
    <h1 class="weui-header-title">{$title}</h1>
    <!--<div class="weui-header-right" navbar-toggle><a class="icon icon-22 f-white"></a></div>-->
</div>
<!--@include('m.common.menu')-->

