<!DOCTYPE html>
<html>
<head>
    <title>优米耐智能平台</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/weui/css/weui.css"/>
    <link rel="stylesheet" href="/weui/css/weuix.css"/>

    <script src="/weui/js/zepto.min.js"></script>
    <script src="/weui/js/zepto.weui.js"></script>

</head>
<body ontouchstart>
<style>

    .demos-title {
        text-align: center;
        font-size: 34px;
        color: #3cc51f;
        font-weight: 400;
        margin: 0 15%;
    }

    .demos-header {
        padding: 35px 0;
    }
    .weui-label {
        font-weight: normal;
    }
</style>

<header class='demos-header'>
	<h1 class="demos-title">垃圾亭监控平台</h1>
</header>
<form class="layui-form" method="POST" action="{{ url('/auth/postLogin') }}" id="defaultForm">
<div class="weui-cells weui-cells_form">
	<input type="hidden" name="_token" value="{{ csrf_token() }}">
	<div class="weui-cell">
		<div class="weui-cell__hd"><label class="weui-label f-green">用户名</label></div>
		<div class="weui-cell__bd">
			<input class="weui-input" type="input" name="user_name" placeholder="请输入用户名">
		</div>
	</div>

	<div class="weui-cell weui-cells_form">
		<div class="weui-cell__hd"><label for="" class="weui-label f-green">密码</label></div>
		<div class="weui-cell__bd">
			<input class="weui-input" type="password" name="password" value="" placeholder="请输入密码">
		</div>
		<div class="weui-cell__ft">
			<i class="weui-icon-warn"></i>
		</div>
	</div>
</div>
</form>


<div class="weui-btn-area">
	<a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">登 录</a>
</div>

<div class="weui-footer">
    <p class="weui-footer__links">
    </p>
    <p class="weui-footer__text weui-footer_fixed-bottom">Copyright © 优米耐(福建)智能科技有限公司</p>
</div>
</body>
</html>

<script>
    $("#showTooltips").click(function() {
        var user_name = $('[name="user_name"]').val();
        var password = $('[name="password"]').val();
        if(!user_name){
            $.toast('请输入用户名', "text")
//            $.toptip('请输入用户名')
			return ;
		}
		if(!password){
            $.toast('请输入密码', "text")
//            $.toptip('请输入密码')
            return ;
		}
        $.showLoading();
        $.ajax({
            url:'/auth/postLogin',
            data:$('form').serialize(),//{user_name:user_name,password:password},
            dataType:'json',
            type:"POST",
            success:function(data){
                console.log(data);
                $.hideLoading();
                if(data.status == 1){
                    $.toast(data.message, "text");
					window.location.href='/index';
                }else{
                    $.toast(data.message, "text");
//                    $.alert(data.message)
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown){
                $.hideLoading();
                //异常错误
                $.toast(XMLHttpRequest.status, "text");
//                $.alert(XMLHttpRequest.status);
            }
        });
    });
</script>