{__NOLAYOUT__}
<link rel="stylesheet" href="/static/js/layui/css/layui.css">
<style>
    .line-padding{
        padding: 9px 4px;
        width: 200px;
    }
</style>
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label w100">昵称:</label>
        <div class="layui-input-inline line-padding">
            {$formData['nick']}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label w100">登录账号:</label>
        <div class="layui-input-inline line-padding">
            {$formData['username']}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label w100">联系邮箱:</label>
        <div class="layui-input-inline line-padding">
            {$formData['email']}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label w100">联系手机:</label>
        <div class="layui-input-inline line-padding">
            {$formData['mobile']}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label w100">启用状态:</label>
        <div class="layui-input-inline line-padding">
            {$formData['status']==1?'启用':'禁用'}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label w100">所属部门:</label>
        <div class="layui-input-inline line-padding">
            {$formData['department']['name']}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label w100">直属上级:</label>
        <div class="layui-input-inline line-padding">
            {$formData['superior']['nick']}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label w100">工作岗位:</label>
        <div class="layui-input-inline line-padding">
            {$formData['post']}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label w100">角色分组:</label>
        <div class="layui-input-inline line-padding">
            {foreach name="roles" id="r" key="k"}
            <span class="layui-badge layui-bg-blue" style="margin-right:5px">
                {$r}
            </span>
            {/foreach}
        </div>
    </div>
</form>