<link rel="stylesheet" href="/static/layui-formSelects-master/dist/formSelects-v4.css">
<style type="text/css">
    .form-label{
        float: left;
        display: block;
        padding: 9px 0 15px;
        width: 80px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
    }
    .line-padding{
        padding: 9px 4px;
        width: 200px;
    }
    .layui-table-cell, .layui-table-tool-panel li{
        overflow: visible;
    }
</style>
<form class="layui-form" action="" method="post" id="editForm">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>查看发货订单</legend>
    </fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label w100">发货单号:</label>
        <div class="layui-input-inline line-padding">
            {$sales_send_order['send_order_sn']}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label w100">销售单号:</label>
        <div class="layui-input-inline line-padding">
            {$sales_order['sales_order_sn']}
        </div>
        <label class="layui-form-label w100">订单状态:</label>
        <div class="layui-input-inline line-padding">
            {:config('erp.sales_order_state')[$sales_order['sales_order_state']]}
        </div>
        <label class="layui-form-label w100">付款方式:</label>
        <div class="layui-input-inline line-padding">
            {$receivable_code[$sales_order['receivable_code']]}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label w100">客户:</label>
        <div class="layui-input-inline line-padding">
            {$sales_order['customer']['customer_name']}
        </div>
        <label class="layui-form-label w100">客户联系人:</label>
        <div class="layui-input-inline line-padding">
            {$sales_order['customer_contacts']}
        </div>
        <label class="layui-form-label w100">客户手机:</label>
        <div class="layui-input-inline line-padding">
            {$sales_order['customer_phone']}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label w100">客户座机:</label>
        <div class="layui-input-inline line-padding">
            {$sales_order['customer_telephone']}
        </div>
        <label class="layui-form-label w100">收货地址:</label>
        <div class="layui-input-inline line-padding">
            {$sales_order['customer_address']}
        </div>
        <label class="layui-form-label w100">备注:</label>
        <div class="layui-input-inline line-padding">
            {$sales_order['sales_order_info']}
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>发货商品</legend>
    </fieldset>


    <table class="layui-hide" id="test" lay-filter="test"></table>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" class="field-sales_order_id" name="sales_order_id" value="{$sales_order.sales_order_id}">
            <input type="hidden" class="field-admin_id" name="admin_id" value="{:ADMIN_ID}">
            <a href="{:url('sendOrder')}" class="layui-btn layui-btn-primary ml10">返回</a>
        </div>
    </div>
</form>
{include file="system@block/layui" /}
<script src="/static/js/jquery.2.1.4.min.js?v=2.1.4"></script>

<!--<script src="/static/plugins/bootstrap/js/bootstrap.min.js?v=3.3.6"></script>-->
<script>
    layui.use(['func','form'], function() {
        var  $ = layui.jquery, layer = layui.layer, form = layui.form;
        // 编辑模式下表单自动赋值
//        layui.func.assign({:json_encode($formData)});

        form.on('submit(formSubmit)', function(data){
            var serializeArray = $("#editForm").serializeArray();  // 自动获取数据
            var form_data = { };
            console.log(serializeArray);
            $.each(serializeArray,function(index,item){
                form_data[value.name] = value.value;
                if(value.value == ''){

                }
            });
            return false;
        });

    });

    layui.config({
        base : '/static/layui-formSelects-master/dist/'
    }).extend({
        formSelects: 'formSelects-v4'
    }).use(['table','formSelects','form'], function(){
        var table = layui.table,
            $ = layui.jquery,
            form = layui.form;
        var formSelects = layui.formSelects;
        var tableIns;
        var tableContent = {:json_encode($sales_order['goods'])};
        console.log(tableContent);
        var sales_send_warehouse_goods = {:json_encode($sales_send_warehouse_goods)};


        tableIns = table.render({
            elem: '#test'
            ,title: '采购商品'
            ,totalRow: true
            // 拿对象数组tableContent中的数据作为原始数据渲染数据表格
            ,data : tableContent
            ,cols: [[
//                {type: 'checkbox', fixed: 'left'}
//                ,{field:'id', title:'ID', width:80, fixed: 'left', unresize: true}
                {field:'sales_goods_id', title:'发货仓库', width:300, templet: function(res){
                    if(res.goods_id){
                        var html = '';
//                        html += res['warehouse']['warehouse_name']+'(发货数量：'+res['warehouse']['warehouse_goods_stock']+')';
                        $.each(sales_send_warehouse_goods,function(index,item){
                            if(item['goods_id'] == res.goods_id){
                                if(html){
                                    html += '<br/>';
                                }
                                html+= item['warehouse']['warehouse_name']+'(发货数量：'+item['send_goods_stock']+')';//仓库002(发货数量：1)
                            }
                        });
                        return html;
                    }else{
                        return '';
                    }

                }}
                ,{field:'goods_number', title:'商品编号'/*, templet: function(res){
                    if(!res.goods_id){
                        return '采购金额合计:<span id="order-amount">'+res.sales_goods_amount+'</span>';
                    }else{
                        var tmp_html = res.goods_number;
                        return tmp_html;
                    }
                }*/}//,totalRowText: '采购金额合计:'
                ,{field:'goods_name', title:'商品名称'}
                ,{field:'goods_spec', title:'商品规格'}
                ,{field:'goods_unit', title:'单位'}
                ,{field:'sales_goods_price', title:'销售单价',templet:function (res) {
                    return (res.sales_goods_price*1).toFixed(2);
                }}
                ,{field:'sales_goods_sell_num', title:'销售数量'}
                ,{field:'sales_goods_tax', title:'税金',templet:function (res) {
                    return (res.sales_goods_tax*1).toFixed(2);
                }}
                ,{field:'sales_goods_amount', title:'销售总价',width:200, sort: true,templet: function(res){
                    if(!res.goods_id){
                        return '销售金额合计:<span id="order-amount">'+(res.sales_goods_amount*1).toFixed(2)+'</span>';
                    }else{
                        return (res.sales_goods_amount*1).toFixed(2);
                    }
                },totalRow: true}
            ]]
            ,page: false
            ,done : function(res, curr, count){
                /*//如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                console.log(res);
                //得到当前页码
                console.log(curr);
                //得到数据总量
                console.log(count);*/
                formSelects.render();
            }
        });


    });



</script>