<div class="page-toolbar">
    <div class="page-filter fr">
        <form class="layui-form layui-form-pane" action="{:url('orders')}" method="get" id="hisi-table-search">
            <div class="layui-form-item">
                <label class="layui-form-label">搜索</label>
                <div class="layui-input-inline">
                    <input type="text" name="keyword" lay-verify="required" placeholder="输入关键词搜索" class="layui-input">
                </div>
            </div>
        </form>
    </div>
    <div class="layui-btn-group fl">
        <a href="{:url('add')}" class="layui-btn layui-btn-primary layui-icon layui-icon-add-circle-fine">&nbsp;添加</a>
    </div>
</div>
<table id="dataTable"></table>
{include file="block/layui" /}

<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="{:url('edit')}?p_order_id={{ d.p_order_id }}" class="layui-btn layui-btn-xs layui-btn-normal">修改</a>
    <a href="{:url('edit')}?p_order_id={{ d.p_order_id }}" class="layui-btn layui-btn-xs layui-btn-normal">验货入库</a>
    <a href="{:url('detail')}?p_order_id={{ d.p_order_id }}" class="layui-btn layui-btn-xs">查看</a>
    <a name="audit" data-url="{:url('audit')}?p_order_id={{ d.p_order_id }}" class="layui-btn layui-btn-xs layui-btn-warm">审核</a>
    <a href="{:url('del')}?id={{ d.p_order_id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
</script>
<script type="text/html" title="金额模版" id="moneyTpl">
    ¥{{#
    var finish_amount = d.sales_order_amount*1;
    return '￥'+finish_amount.toFixed(2);
    }}
</script>
<script src="/static/js/jquery.2.1.4.min.js?v=2.1.4"></script>
<script type="text/javascript">
    layui.use(['table','jquery'], function() {
        var table = layui.table,
            layer = layui.layer;
        var sales_order_state = {:json_encode(config('erp.SALES_ORDER_STATE'))};
        var receivable_code = {:json_encode(config('erp.RECEIVABLE_CODE'))};
        table.render({
            elem: '#dataTable'
            ,url: "{:url('index')}" //数据接口
            ,page: true //开启分页
            ,skin: 'row'
            ,even: true
            ,limit: 20
            ,text: {
                none : '暂无相关数据'
            }
            ,cols: [[ //表头
//                {type:'checkbox'}
                {field: 'sales_order_sn',width:150, title: '销售单号'}
                ,{field: 'customer_id', title: '客户',templet:function (res) {
                    return res.customer.customer_name
                }}
                ,{field: 'customer_contacts', title: '联系人'}
                ,{field: 'customer_phone', title: '联系电话'}
                ,{field: 'receivable_code', title: '收款方式',templet:function(res){
                    return receivable_code[res.receivable_code];
                }}
                ,{title: '收款金额', templet: '#moneyTpl'}
                ,{field: 'sales_order_state', title: '状态',templet:function(res){
                    return sales_order_state[res.sales_order_state];
                }}
//                ,{field: 'return_state',width: 100, title: '有无退货'}
//                ,{title: '操作',  templet: '#buttonTpl'}
                ,{field: 'p_order_id',width: 155,title: '操作',  templet: function (res) {
                    var html = '<a href="{:url('detail')}?sales_order_id='+res.sales_order_id+'" class="layui-btn layui-btn-xs">查看</a>';
                    if(res.sales_order_state == 0){
                        //确认、删除
                        html = '<a href="{:url('edit')}?sales_order_id='+res.sales_order_id+'" class="layui-btn layui-btn-xs layui-btn-normal">修改</a>';
                        html += '<a data-url="{:url('audit')}?sales_order_id='+res.sales_order_id+'" name="audit" data-msg="确定通过该销售单吗？" class="layui-btn layui-btn-xs layui-btn-normal confirm-tips">确认</a>';

                        html += '<a data-url="{:url('del')}?id='+res.sales_order_id+'" class="layui-btn layui-btn-xs layui-btn-danger confirm-tips" data-msg="确定删除该采购单吗？" >删除</a>';
                    }else if(res.sales_order_state == 1){
                        //查看、采购退货、发货出库
                        html += '<a href="{:url('stockout')}?sales_order_id='+res.sales_order_id+'" class="layui-btn layui-btn-xs layui-btn-normal">发货出库</a>';
                        html += '<a data-url="{:url('cacelAudit')}?sales_order_id='+res.sales_order_id+'" class="layui-btn layui-btn-xs  layui-btn-danger confirm-tips" data-msg="确定取消该销售单吗？" >取消确认</a>';
                    }else if(res.sales_order_state == 6){ //发货出库
                        //查看、入库、取消（验货完成等待入库）   or    查看（验货完成直接入库）

                    }else if(res.sales_order_state == 12){ //确认收货
                        //查看、入库、取消（验货完成等待入库）   or    查看（验货完成直接入库）
//                        html += '<a href="{:url('insertWarehouse')}?p_order_id='+res.p_order_id+'" class="layui-btn layui-btn-xs layui-btn-normal confirm-tips">验货入库</a>';
                    }
                    return html;
                }}
            ]]
        });
        $(document).on("click", '.confirm-tips', function () {
            var url = $(this).attr('data-url');
            var title = $(this).attr('data-msg');
            layer.open({
                type: 1
                ,title: '提示'
                ,area: ['300px', '200px']
                ,shade: 0
                ,offset: [ //为了演示，随机坐标
                    '100px'
                ]
                ,content: '<div style="padding: 10px 10px;">'+title+'</div>'
                ,btn: ['确定', '取消'] //只是为了演示
                ,yes: function(){
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: { },
                        dataType: 'json',
                        asyn:false,
                        beforeSend: function () {},
                        success: function (result) {
                            if(result['code'] == 1){
                                layer.msg(result.msg);
                                setTimeout(window.location.reload(),1000);

                            }else{
                                layer.msg(result.msg, {shift: 6});
                            }
                        },
                        error: function (error) {
                            layer.msg('系统错误：' + error.status, {shift: 6});
                        }
                    });
                }
                ,btn2: function(){
                    layer.closeAll();
                }

                ,success: function(layero){
                    layer.setTop(layero); //重点2
                    console.log('success',layero);
                }
            });
        });
    });

</script>