<style type="text/css">
    .layui-form-select dl{z-index:9999;}
</style>
<form class="layui-form" action="{:url()}" method="post" id="editForm">
    <div class="layui-form-item">
        <label class="layui-form-label">站点名称</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-name" name="name" lay-verify="required" autocomplete="off" placeholder="请填写站点名称">
        </div>
        <div class="layui-form-mid layui-word-aux">必填项</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">站点全称</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-name_alias" name="name_alias" lay-verify="required" autocomplete="off" placeholder="请填写站点全称">
        </div>
        <div class="layui-form-mid layui-word-aux">必填项</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">计算机IP地址</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-computer_ip" name="computer_ip" lay-verify="required" autocomplete="off" placeholder="请填写计算机IP地址（opc访问用）">
        </div>
        <div class="layui-form-mid layui-word-aux">必填项</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">OPC服务名称</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-server_name" name="server_name" lay-verify="required" autocomplete="off" placeholder="请填写OPC服务名称">
        </div>
        <div class="layui-form-mid layui-word-aux">必填项</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">定位</label>
        <div class="layui-input-inline w400">
            <input type="text" class="layui-input" autocomplete="off" placeholder="请输入您要搜索的地址" id="fulladress">
        </div>
        <div class="layui-input-inline">
            <button id="search_location" type="button" class="layui-btn layui-btn-primary"><i class="layui-icon layui-icon-search" style="font-size: 23px;" ></i></button>
        </div>
        <input type="hidden" id="longitude" name="longitude" lay-verify="required" class="layui-input field-longitude">
        <input type="hidden" id="latitude" name="latitude" lay-verify="required" class="layui-input field-latitude">
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-block">
            <div id="allmap" style="min-height: 400px;"></div>
            <div class="layui-form-mid layui-word-aux">必选项</div>
        </div>

    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">备是否启用</label>
        <div class="layui-input-inline">
            <input type="radio" name="is_show" value="1" title="是" {if !$formData||$formData['is_show']==1}checked=""{/if}>
            <input type="radio" name="is_show" value="0" title="否" {if $formData&&$formData['is_show']==0}checked=""{/if}>
        </div>
        <div class="layui-form-mid layui-word-aux">必填</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-inline w600">
            <input type="text" name="mark" lay-verify="" autocomplete="off" placeholder="" class="layui-input field-mark">

        </div>
        <div class="layui-form-mid layui-word-aux">选填</div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" class="field-id" name="id">
            <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit">提交</button>
            <a href="{:url('index')}" class="layui-btn layui-btn-primary ml10">返回</a>
        </div>
    </div>
</form>
{include file="system@block/layui" /}
<script>
layui.use(['func'], function() {
    var $ = layui.jquery, layer = layui.layer, func = layui.func;
    // 编辑模式下表单自动赋值
    func.assign({:json_encode($formData)});
    console.log({:json_encode($formData)});


});
</script>
<script src="http://api.map.baidu.com/api?v=2.0&amp;ak=R4YvhGdW67i4dGLOi2By3R699hIAFWvk"></script>
<script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&amp;ak=R4YvhGdW67i4dGLOi2By3R699hIAFWvk&amp;services=&amp;t=20200327103013"></script>
<script>
    layui.use(['jquery'], function() {
        var $ = layui.jquery, layer = layui.layer;
        $(function () {

            // 百度地图
            var map = new BMap.Map("allmap");
            {if isset($formData['longitude'])&&isset($formData['latitude'])}
            var point = new BMap.Point({$formData['longitude']},{$formData['latitude']});
            {else}
            var point = new BMap.Point(116.4417739800,25.0479776000);
            $("#longitude").val(point.lng);
            $("#latitude").val(point.lat);
            {/if}
            map.centerAndZoom(point, 12);
            var mk = new BMap.Marker(point);
            map.addOverlay(mk);
            map.panTo(point);
            console.log('您的位置：'+point.lng+','+point.lat);
            //输入框
            $('#search_location').click(function () {
                var myGeo = new BMap.Geocoder();
                // 将地址解析结果显示在地图上，并调整地图视野
                myGeo.getPoint($('#fulladress').val(), function (point) {
                        if (point) {
                            map.centerAndZoom(point, 16);
                            map.clearOverlays();
                            map.addOverlay(new BMap.Marker(point));
                            $("#longitude").val(point.lng);
                            $("#latitude").val(point.lat);
                        }
                    },
                    "龙岩");
            });
            //自动定位
            $('#zidong').click(function () {
                geolocation.getCurrentPosition(function (r) {
                    if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                        var mk = new BMap.Marker(r.point);
                        map.clearOverlays();
                        map.addOverlay(mk);
                        map.panTo(r.point);
                        map.centerAndZoom(new BMap.Point(r.point.lng, r.point.lat), 16);
                        var local = new BMap.LocalSearch(map, {
                            renderOptions: {map: map}
                        });

                        $("#longitude").val(r.point.lng);
                        $("#latitude").val(r.point.lat);
                        // 创建地理编码实例
                        var myGeo = new BMap.Geocoder();
                        // 根据坐标得到地址描述
                        // myGeo.getLocation(new BMap.Point(r.point.lng, r.point.lat), function (result) {
                        //     if (result) {
                        //
                        //
                        //     }
                        // });
                    }
                    else {
                        alert('failed' + this.getStatus());
                    }
                });
            });
            //添加更改位置功能
            //地图添加点击事件
            function showInfo(e) {
                var point = new BMap.Point(e.point.lng, e.point.lat);

                $("#longitude").val(e.point.lng);
                $("#latitude").val(e.point.lat);

                // map.centerAndZoom(point, 17);
                var marker = new BMap.Marker(point);  // 创建标注
                map.clearOverlays();
                map.addOverlay(marker);               // 将标注添加到地图中

                var gc = new BMap.Geocoder();
                gc.getLocation(point, function (rs) {
                    var addComp = rs.addressComponents;
                    console.log(rs.address);//地址信息


                });

            }

            map.addEventListener("click", showInfo);

            //触摸移动时触发此事件 此时开启可以拖动。虽然刚初始化该地图不可以拖动，但是可以触发拖动事件。
            map.addEventListener("touchmove", function (e) {
                map.enableDragging();
            });

            // //触摸结束时触发次此事件  此时开启禁止拖动
            // map.addEventListener("touchend", function (e) {
            //     map.disableDragging();
            // });

            // // 初始化地图 禁止拖动   注：虽禁止拖动，但是可以出发拖动事件
            // map.disableDragging();

            map.enableScrollWheelZoom(true);
        });


    });


</script>