<style type="text/css">
    .layui-form-select dl{z-index:9999;}
</style>
<form class="layui-form" action="{:url()}" method="post" id="editForm">
    <div class="layui-form-item">
        <label class="layui-form-label">商品名称</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-goods_name" name="goods_name" lay-verify="required" autocomplete="off" placeholder="请填写商品名称">
        </div>
        <div class="layui-form-mid layui-word-aux">必填项</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品编码</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-goods_number" name="goods_number" lay-verify="required" autocomplete="off" placeholder="请填写商品编码">
        </div>
        <div class="layui-form-mid layui-word-aux">必填项</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品条形码</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-goods_barcode" name="goods_barcode" lay-verify="" autocomplete="off" placeholder="请填写商品条形码">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品分类</label>
        <div class="layui-input-inline w200">
            <select name="goods_category_id" class="field-goods_category_id" type="select" lay-verify="required">
                <option value="">请选择分类</option>
                {$category|raw}
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">必填项</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品单位</label>
        <div class="layui-input-inline w200">
            <select name="unit_id" class="field-unit_id" type="select" lay-verify="required">
                <option value="">请选择单位</option>
                {$units|raw}
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">必填项</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品品牌</label>
        <div class="layui-input-inline w200">
            <select name="brand_id" class="field-brand_id" type="select" lay-verify="">
                <option value="">请选择品牌</option>
                {$brands|raw}
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">必填项</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">建议售价</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-goods_recommend_price" name="goods_recommend_price" lay-verify="required" autocomplete="off" placeholder="请填写建议售价">
        </div>
        <div class="layui-form-mid layui-word-aux">必填项</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品库存</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-goods_stock" name="" lay-verify="" autocomplete="off" value="0" disabled>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">商品规格</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-goods_spec" name="goods_spec" lay-verify="" autocomplete="off" placeholder="请填写商品规格">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-inline w600">
            <!--<input type="text" name="mark" lay-verify="" autocomplete="off" placeholder="" class="layui-input field-mark">-->
            <textarea name="goods_info" placeholder="请输入内容" class="layui-textarea field-goods_info"></textarea>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" class="field-admin_id" name="admin_id" value="{:ADMIN_ID}">
            <input type="hidden" class="field-goods_id" name="goods_id">
            <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit">提交</button>
            <a href="{:url('goods')}" class="layui-btn layui-btn-primary ml10">返回</a>
        </div>
    </div>
</form>
{include file="system@block/layui" /}
<script>
    layui.use(['func'], function() {
        var $ = layui.jquery, layer = layui.layer, func = layui.func;
        // 编辑模式下表单自动赋值
        func.assign({:json_encode($formData)});
        console.log({:json_encode($formData)});


    });
</script>
<script src="http://api.map.baidu.com/api?v=2.0&amp;ak=R4YvhGdW67i4dGLOi2By3R699hIAFWvk"></script>
<script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&amp;ak=R4YvhGdW67i4dGLOi2By3R699hIAFWvk&amp;services=&amp;t=20200327103013"></script>
<script>
    layui.use(['jquery'], function() {
        var $ = layui.jquery, layer = layui.layer;



    });


</script>