<style type="text/css">
    .layui-form-select dl{z-index:9999;}
</style>
<form class="layui-form" action="{:url()}" method="post" id="editForm">
    <div class="layui-form-item">
        <label class="layui-form-label">仓库编号</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-warehouse_code" name="warehouse_code" lay-verify="required" autocomplete="off" placeholder="请填写仓库编号">
        </div>
        <div class="layui-form-mid layui-word-aux">必填项</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">仓库名称</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-warehouse_name" name="warehouse_name" lay-verify="required" autocomplete="off" placeholder="请填写仓库名称">
        </div>
        <div class="layui-form-mid layui-word-aux">必填项</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">仓库管理员</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-warehouse_contacts" name="warehouse_contacts" lay-verify="" autocomplete="off" placeholder="请填写仓库管理员">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">联系电话</label>
        <div class="layui-input-inline w200">
            <input type="text" class="layui-input field-warehouse_phone" name="warehouse_phone" lay-verify="mobile" lay-ignore="true" autocomplete="off" placeholder="请填写联系电话">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" class="field-warehouse_id" name="warehouse_id">
            <input type="hidden" class="field-admin_id" name="admin_id" value="{:ADMIN_ID}">
            <button type="submit" class="layui-btn layui-btn-normal" hisi-data="{pop: true, refresh: true}" lay-submit="" lay-filter="formSubmit">提交</button>
            <a href="javascript:parent.layui.layer.closeAll();" class="layui-btn layui-btn-primary ml10">取消</a>
        </div>
    </div>
</form>
{include file="system@block/layui" /}
<script>
    layui.use(['func','form'], function() {
        var $ = layui.jquery;
        var form = layui.form,layer = layui.layer;
        // 编辑模式下表单自动赋值
        layui.func.assign({:json_encode($formData)});
        form.verify({
            mobile:function(value, item){
                if(value==''){
                    return '';
                } else{
                    var ver =/(^$)|^1\d{10}$/;//[/^1\d{10}$/
                    if (!ver.test(value)) {
                        return '请输入正确的手机号';
                    }
                }
            },
            money:function(value, item){
                if(value==''){
                    return '';
                } else{
                    var ver =/(^$)|^\d{1,10}.?\d{0,10}$/;//[/^1\d{10}$/
                    if (!ver.test(value)) {
                        return '请输入正确的金额';
                    }
                }
            },
        });
    });
</script>